force-app/main/default/flows/anchor_customer_support_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank0&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank1&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank2&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank3&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank4&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank5&quot;,&quot;rankText&quot;:&quot;{!q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank5}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank0&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank1&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank2&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank3&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank4&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank5&quot;,&quot;rankText&quot;:&quot;{!q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank5}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_02c8b367_9b75_4a97_bce9_246df3ef16ae</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_137a462d_511f_46dd_b586_7772502f0ed8</name>
        <choiceText>Somewhat Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1536bd29_8876_46f0_b065_a16fc1982d7c</name>
        <choiceText>About once a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>About once a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b6da535_b65a_4637_a2c5_7aee2d0387c8</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1d73a26a_af28_4a29_bfce_099e562805bd</name>
        <choiceText>I don&apos;t have a log-in but would like one</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I don&apos;t have a log-in but would like one</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_21e62fd8_d0a5_4522_bdf5_21ef4184e852</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_252c8e66_a6d4_4a50_badf_e9de2df836f7</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2a5dff8b_2d0d_4a1c_8aec_6a908275f3e9</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2df0c42a_a2cf_4e96_9f55_7525dfc8e0fb</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_306cf2f5_d157_421f_90e0_359d2a9aa99a</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_391f434b_dc39_482a_a2f2_6c79f774b409</name>
        <choiceText>Somewhat Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d02e0dd_1827_4047_9460_942799b659ac</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3ebfa217_5d5e_4a22_951a_70489f87f185</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f6331b7_fd70_4cd1_9ba4_6c57bf773098</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_481e097e_e3a8_4ced_82e0_437d1b29d399</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_497f00ad_15bc_4c72_8c20_5e95cae47632</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_498a8406_65d9_404f_be9b_5067b64fbc98</name>
        <choiceText>More than once a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than once a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e54c6e6_cd02_4394_b6cb_bdaca0a3494d</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_51a5c784_ba56_461a_9fcc_46ceb061dbcd</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_523cf086_10d0_4c47_a8cc_a6c80881a0bc</name>
        <choiceText>Somewhat Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_561ee6eb_7b85_439a_8106_e13bcbc751b7</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58e8d896_57f0_4b97_8966_c31f59e81929</name>
        <choiceText>Slightly Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_61025bfb_6347_4c05_8741_429a09084b02</name>
        <choiceText>Once every few months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Once every few months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_637a512f_4854_48ae_b1f4_e0048eff2337</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_66ece3f8_fa64_439c_84a7_942b0cc560c0</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_69654f8b_f749_4cc6_b4c6_fc3f6d24ae3a</name>
        <choiceText>Somewhat Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b3ea954_119a_4275_a38c_469deae75764</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6d059a43_44f1_4cb4_93df_296cc1274669</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71609fa6_3b6e_42b3_a8cb_d255ff7c2c79</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71d01a56_b5b0_4b12_935a_f479eee495db</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7fb3ff61_066a_4d48_a46a_cf6af539c1ad</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7ff353ca_bc4b_4186_a8eb_f78ed78bfa89</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81c9851a_f285_46a4_9a29_7ab67c75fb33</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_83b8be0c_9941_411c_9973_338381a6aa13</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_883b52a0_b819_4c28_90c3_3e13016184f2</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9150ae6f_18eb_461a_8442_1c512e38edcb</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_938039d8_61d8_4d48_b781_5646444e2ae9</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9750d28c_e7ae_4796_b665_564946797ec1</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_99ee8e11_b17e_4ac3_a732_376a3c9731d3</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a06b76df_9c56_49ad_a873_18d85814146e</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a20829b9_418d_4510_92ea_81be4bf8ca21</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a20ae6f2_358f_487f_b869_d1e4d547e6df</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a31258b9_b215_4eae_8e2b_92509723b337</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a604c348_939a_4d11_bd43_3f94b8c20f94</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aaf607fd_1f77_4767_93ce_969fc3faed6d</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ad5e14d5_3501_4fdb_a843_734554f45531</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ad85f485_f250_4300_96de_5873148af5f5</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aecd96be_2cf6_459f_a27e_eb99eb8b94d8</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4701a6d_8977_4675_ac8d_d0ee88f2694a</name>
        <choiceText>Moderately Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b77711cd_0d70_4974_a544_b36b570058ed</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_baf77dcc_4bab_4ba1_b639_c06caa6aa61d</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbf6d431_577e_433c_8592_29dc1cf6e831</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc47b729_6b41_4034_a6a1_d51cfb34d332</name>
        <choiceText>Moderately satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c05cc0d5_8f80_4355_99f0_92bb1f8cb22d</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c1384fde_fe47_45be_a365_7be60321e4bd</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all satisfied </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c16e1baa_09b2_40ae_8528_6d2060225c23</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c45ed973_8677_41fc_a283_4207eaee12d1</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c6095a6a_2742_4802_a0f4_3796635a40a2</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cd0860ce_59e4_4c46_af43_9ad7d4c35fe8</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ce96156f_8c42_4fa0_bb27_b5d546275313</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d41137b8_840b_4383_a574_d39bb65cfd39</name>
        <choiceText>Extremely Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dbaf3111_596f_42aa_a4d9_f458a4f09b1d</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ddb1fafd_3209_4870_b83d_1f396a0d340f</name>
        <choiceText>Somewhat Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5f3a716_12b3_4a52_86d6_df9bb1373829</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6a5efb0_6506_4e6a_b10c_840c3dc96d24</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e86f127c_c67a_46c3_9423_942f465f3a6b</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e90747b0_25d6_4466_af0d_ea7dfa09cecf</name>
        <choiceText>Slightly satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ecef774b_99a6_4f92_a1bb_ab0471848df1</name>
        <choiceText>Somewhat Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee49d74b_006c_4976_a3b5_a88e656e395d</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eeea6a0e_4bae_48b7_9d1c_212346689381</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f330832d_5023_4e90_a693_f9b01fc5942a</name>
        <choiceText>Somewhat Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3f206b5_d6df_44c0_a2b7_937e3430a2d4</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f80691c5_adce_43cb_8d74_196e00439bb8</name>
        <choiceText>Somewhat Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fb14d5fd_125a_40f9_9420_a6bb3af9e88a</name>
        <choiceText>Extremely satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely satisfied</stringValue>
        </value>
    </choices>
    <interviewLabel>Anchor Customer Support Survey</interviewLabel>
    <label>Anchor Customer Support Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_df28d67a_2e70_4377_bad1_5fb6f55e10db</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_40655752_f62e_4006_b841_280c0e2f9a32</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_9b8010c8_3767_492b_a2a2_ae229fcfa11d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_013fba4f_9d80_41d5_8530_ce9551f3af67</name>
            <choiceReferences>c_2a5dff8b_2d0d_4a1c_8aec_6a908275f3e9</choiceReferences>
            <choiceReferences>c_61025bfb_6347_4c05_8741_429a09084b02</choiceReferences>
            <choiceReferences>c_1536bd29_8876_46f0_b065_a16fc1982d7c</choiceReferences>
            <choiceReferences>c_498a8406_65d9_404f_be9b_5067b64fbc98</choiceReferences>
            <choiceReferences>c_1d73a26a_af28_4a29_bfce_099e562805bd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How often does your&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; organization visit the BlueWave customer portal?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How useful&amp;nbsp;would it be to&amp;nbsp;have the following features available on the BlueWave customer portal?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;(Rank in order of most to least important)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;(Drag to reorder)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_71327dc0_cfec_4c42_a4e3_59f43d4662b5</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_7343ef8f_2f5b_45eb_9091_64b07cdf79bf</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d37fc775_2f7c_41bc_805c_b293c537f79d</name>
            <choiceReferences>c_21e62fd8_d0a5_4522_bdf5_21ef4184e852</choiceReferences>
            <choiceReferences>c_c45ed973_8677_41fc_a283_4207eaee12d1</choiceReferences>
            <choiceReferences>c_137a462d_511f_46dd_b586_7772502f0ed8</choiceReferences>
            <choiceReferences>c_f80691c5_adce_43cb_8d74_196e00439bb8</choiceReferences>
            <choiceReferences>c_2df0c42a_a2cf_4e96_9f55_7525dfc8e0fb</choiceReferences>
            <choiceReferences>c_e86f127c_c67a_46c3_9423_942f465f3a6b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How much does your organization agree or disagree with the following statement?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;I understand how our electricity consumption affects how solar credits&amp;nbsp;accrue&amp;nbsp;and&amp;nbsp;are&amp;nbsp;used throughout the year.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d92295bb_0d27_43ef_9e26_feb6ab067902</name>
            <choiceReferences>c_a604c348_939a_4d11_bd43_3f94b8c20f94</choiceReferences>
            <choiceReferences>c_938039d8_61d8_4d48_b781_5646444e2ae9</choiceReferences>
            <choiceReferences>c_f330832d_5023_4e90_a693_f9b01fc5942a</choiceReferences>
            <choiceReferences>c_69654f8b_f749_4cc6_b4c6_fc3f6d24ae3a</choiceReferences>
            <choiceReferences>c_a31258b9_b215_4eae_8e2b_92509723b337</choiceReferences>
            <choiceReferences>c_306cf2f5_d157_421f_90e0_359d2a9aa99a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How much does your organization agree or disagree with the following statement?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Our organization is saving money with a community solar subscription.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6a42009e_f702_4a87_ba96_bd7616e133e3</name>
            <choiceReferences>c_71609fa6_3b6e_42b3_a8cb_d255ff7c2c79</choiceReferences>
            <choiceReferences>c_ee49d74b_006c_4976_a3b5_a88e656e395d</choiceReferences>
            <choiceReferences>c_523cf086_10d0_4c47_a8cc_a6c80881a0bc</choiceReferences>
            <choiceReferences>c_391f434b_dc39_482a_a2f2_6c79f774b409</choiceReferences>
            <choiceReferences>c_eeea6a0e_4bae_48b7_9d1c_212346689381</choiceReferences>
            <choiceReferences>c_e6a5efb0_6506_4e6a_b10c_840c3dc96d24</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How much does your organization agree or disagree with the following statement?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;BlueWave’s community solar bill is easy to understand.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_95b2a223_80cf_4353_b2cc_7e4c4f143b6d</name>
            <choiceReferences>c_561ee6eb_7b85_439a_8106_e13bcbc751b7</choiceReferences>
            <choiceReferences>c_c6095a6a_2742_4802_a0f4_3796635a40a2</choiceReferences>
            <choiceReferences>c_ddb1fafd_3209_4870_b83d_1f396a0d340f</choiceReferences>
            <choiceReferences>c_ecef774b_99a6_4f92_a1bb_ab0471848df1</choiceReferences>
            <choiceReferences>c_cd0860ce_59e4_4c46_af43_9ad7d4c35fe8</choiceReferences>
            <choiceReferences>c_51a5c784_ba56_461a_9fcc_46ceb061dbcd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How much does your organization agree or disagree with the following statement?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;BlueWave cares about&amp;nbsp;our organization&amp;nbsp;as a customer.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7343ef8f_2f5b_45eb_9091_64b07cdf79bf</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_40655752_f62e_4006_b841_280c0e2f9a32</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4ae0a125_50ac_48e2_a0e4_b72dbdb0a1af</name>
            <choiceReferences>c_9750d28c_e7ae_4796_b665_564946797ec1</choiceReferences>
            <choiceReferences>c_71d01a56_b5b0_4b12_935a_f479eee495db</choiceReferences>
            <choiceReferences>c_ad85f485_f250_4300_96de_5873148af5f5</choiceReferences>
            <choiceReferences>c_637a512f_4854_48ae_b1f4_e0048eff2337</choiceReferences>
            <choiceReferences>c_dbaf3111_596f_42aa_a4d9_f458a4f09b1d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have interacted with our BlueWave team recently, how satisfied were you with the following?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Ease of issue resolution&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_37e43ef6_39fd_49de_a6a0_73697db1bd77</name>
            <choiceReferences>c_c1384fde_fe47_45be_a365_7be60321e4bd</choiceReferences>
            <choiceReferences>c_baf77dcc_4bab_4ba1_b639_c06caa6aa61d</choiceReferences>
            <choiceReferences>c_7ff353ca_bc4b_4186_a8eb_f78ed78bfa89</choiceReferences>
            <choiceReferences>c_481e097e_e3a8_4ced_82e0_437d1b29d399</choiceReferences>
            <choiceReferences>c_f3f206b5_d6df_44c0_a2b7_937e3430a2d4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have interacted with our BlueWave team recently, how satisfied were you with the following?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Courteousness&amp;nbsp;of support staff&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_198b5666_aa31_4515_87d9_ac7077ca6b7e</name>
            <choiceReferences>c_3d02e0dd_1827_4047_9460_942799b659ac</choiceReferences>
            <choiceReferences>c_b77711cd_0d70_4974_a544_b36b570058ed</choiceReferences>
            <choiceReferences>c_3ebfa217_5d5e_4a22_951a_70489f87f185</choiceReferences>
            <choiceReferences>c_aaf607fd_1f77_4767_93ce_969fc3faed6d</choiceReferences>
            <choiceReferences>c_fb14d5fd_125a_40f9_9420_a6bb3af9e88a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have interacted with our BlueWave team recently, how satisfied were you with the following?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Clarity of communication&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a7f74866_7b0b_413b_9bf5_371a57978239</name>
            <choiceReferences>c_a06b76df_9c56_49ad_a873_18d85814146e</choiceReferences>
            <choiceReferences>c_aecd96be_2cf6_459f_a27e_eb99eb8b94d8</choiceReferences>
            <choiceReferences>c_6b3ea954_119a_4275_a38c_469deae75764</choiceReferences>
            <choiceReferences>c_a20829b9_418d_4510_92ea_81be4bf8ca21</choiceReferences>
            <choiceReferences>c_c05cc0d5_8f80_4355_99f0_92bb1f8cb22d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have interacted with our BlueWave team recently, how satisfied were you with the following?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Ability of representative to address the issue&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9b8010c8_3767_492b_a2a2_ae229fcfa11d</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_89a04837_a68a_4018_b348_1369e6b4f782</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have comments or suggestions on BlueWave&apos;s invoice template, please add them below. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_1aceeee6_19fb_460a_9626_d82fec767fc4_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_1aceeee6_19fb_460a_9626_d82fec767fc4_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1aceeee6_19fb_460a_9626_d82fec767fc4</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you would like to sign up for paperless billing, select yes or no.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;(A BlueWave customer support member will contact you to confirm billing contact)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d8c6c71a_93c6_415b_8390_5a034e5087b3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We&apos;d love to hear from you, do you have any suggestions for our team?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7d67ed4c_cfa5_45e9_909d_7bd28ebc0663_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7d67ed4c_cfa5_45e9_909d_7bd28ebc0663</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How likely is your organization to recommend BlueWave to&amp;nbsp;another&amp;nbsp;business or municipality?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;(0=Not at all likely, 10=Extremely Likely)&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e04e73aa_41bc_48b9_8145_8c2e2b14abde</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_71327dc0_cfec_4c42_a4e3_59f43d4662b5</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please rank your organization&apos;s most valued aspects of&amp;nbsp;community solar.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;(Drag to reorder)&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9c3aee22_0722_444e_ae42_70a3f3b8c986</name>
            <choiceReferences>c_83b8be0c_9941_411c_9973_338381a6aa13</choiceReferences>
            <choiceReferences>c_58e8d896_57f0_4b97_8966_c31f59e81929</choiceReferences>
            <choiceReferences>c_b4701a6d_8977_4675_ac8d_d0ee88f2694a</choiceReferences>
            <choiceReferences>c_883b52a0_b819_4c28_90c3_3e13016184f2</choiceReferences>
            <choiceReferences>c_d41137b8_840b_4383_a574_d39bb65cfd39</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How satisfied&amp;nbsp;is your&amp;nbsp;organization with the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;energy savings&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; feature of the community solar subscription?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c3692159_c707_48d3_b2d8_999b53e668d0</name>
            <choiceReferences>c_66ece3f8_fa64_439c_84a7_942b0cc560c0</choiceReferences>
            <choiceReferences>c_02c8b367_9b75_4a97_bce9_246df3ef16ae</choiceReferences>
            <choiceReferences>c_bc47b729_6b41_4034_a6a1_d51cfb34d332</choiceReferences>
            <choiceReferences>c_a20ae6f2_358f_487f_b869_d1e4d547e6df</choiceReferences>
            <choiceReferences>c_7fb3ff61_066a_4d48_a46a_cf6af539c1ad</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How satisfied&amp;nbsp;is your&amp;nbsp;organization with the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;subscription size (i.e. total amount of credits received from your solar share)&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;feature of the community solar subscription?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_70d0b473_aa5a_48a5_b8a2_4dca0012aead</name>
            <choiceReferences>c_ad5e14d5_3501_4fdb_a843_734554f45531</choiceReferences>
            <choiceReferences>c_9150ae6f_18eb_461a_8442_1c512e38edcb</choiceReferences>
            <choiceReferences>c_99ee8e11_b17e_4ac3_a732_376a3c9731d3</choiceReferences>
            <choiceReferences>c_1b6da535_b65a_4637_a2c5_7aee2d0387c8</choiceReferences>
            <choiceReferences>c_e5f3a716_12b3_4a52_86d6_df9bb1373829</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How satisfied&amp;nbsp;is your&amp;nbsp;organization with the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;information about solar credits and savings provided on your BlueWave&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; bill&amp;nbsp;feature of the community solar subscription?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_57b63d5e_171b_4962_822b_cb9d0c5da4a3</name>
            <choiceReferences>c_4e54c6e6_cd02_4394_b6cb_bdaca0a3494d</choiceReferences>
            <choiceReferences>c_e90747b0_25d6_4466_af0d_ea7dfa09cecf</choiceReferences>
            <choiceReferences>c_497f00ad_15bc_4c72_8c20_5e95cae47632</choiceReferences>
            <choiceReferences>c_6d059a43_44f1_4cb4_93df_296cc1274669</choiceReferences>
            <choiceReferences>c_252c8e66_a6d4_4a50_badf_e9de2df836f7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How satisfied&amp;nbsp;is your&amp;nbsp;organization with the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;BlueWave communications about your subscription&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;feature of the community solar subs&lt;/span&gt;cription?&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_353396e1_c06d_4823_a8c6_92270ed234e3</name>
            <choiceReferences>c_3f6331b7_fd70_4cd1_9ba4_6c57bf773098</choiceReferences>
            <choiceReferences>c_c16e1baa_09b2_40ae_8528_6d2060225c23</choiceReferences>
            <choiceReferences>c_bbf6d431_577e_433c_8592_29dc1cf6e831</choiceReferences>
            <choiceReferences>c_ce96156f_8c42_4fa0_bb27_b5d546275313</choiceReferences>
            <choiceReferences>c_81c9851a_f285_46a4_9a29_7ab67c75fb33</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Overall, how satisfied&amp;nbsp;is your organization&amp;nbsp;with&amp;nbsp;the&amp;nbsp;community solar subscription?&lt;/span&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_e04e73aa_41bc_48b9_8145_8c2e2b14abde</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_1aceeee6_19fb_460a_9626_d82fec767fc4_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_1aceeee6_19fb_460a_9626_d82fec767fc4_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Saving Money on electricity</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Promoting the development of clean energy</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Supporting local job creation</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No up-front costs or maintenance required</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Reducing our reliance on utility generated energy</text>
    </textTemplates>
    <textTemplates>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Reducing our carbon footprint</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Viewing past due balances</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Making Payments</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Making Requests to increase subscription size</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Savings charts and data</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Access to historical reports</text>
    </textTemplates>
    <textTemplates>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Informational articles or FAQ&apos;s</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Thank you for your time! We&apos;d like to remind you that we have a dedicated support email and phone number to reach our team at. Please don&apos;t hesitate to reach out to&amp;nbsp;&lt;/i&gt;&lt;a href=&quot;mailto:customercare@bluewavesolar.com?subject=&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;anchorsupport@bluewavesolar.com&lt;/i&gt;&lt;/a&gt;&lt;i style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;or 844-389-9780 if you have any questions.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px;&quot;&gt;You will receive a separate email with a link to &lt;/span&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 16px;&quot;&gt;donate $25 to the charity of your choice&lt;/b&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please take this brief survey to answer questions about the service you have received from BlueWave Solar. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Thank you for your time in advance!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;img src=&quot;https://bluewavesolar--c.documentforce.com/file-asset-public/BlueLogo310?oid=00Dj0000001q7GO&amp;amp;v=1&quot; alt=&quot;BlueLogo&quot;&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_c2b63d8b_ec25_4979_b8a4_e45375064e84_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_e857cdfa_b9c6_4226_b373_f00eb584677b_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_7d67ed4c_cfa5_45e9_909d_7bd28ebc0663_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
