force-app/main/default/flows/Change_Commission_Structure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Commission_Structure_Change</name>
        <label>Run Commission Structure Change</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>InvocableCommissionStructureChanger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Handle_Apex_Validation_Errors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newCommissionStructureId</name>
            <value>
                <elementReference>lookupCS.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Error_Log</name>
        <label>Add Error Log</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>sovc_ErrorLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_ErrorLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Error_Log_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Handle_Apex_Validation_Errors</name>
        <label>Handle Apex Validation Errors</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Opportunity_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_Commission_Structure_Change</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid Opportunity Stage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Opp_Screen</targetReference>
            </connector>
            <label>Invalid Opportunity Stage</label>
        </rules>
        <rules>
            <name>Approved_Commission_Payment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_Commission_Structure_Change</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved Commission Payment Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_CP_Found</targetReference>
            </connector>
            <label>Approved Commission Payment Found</label>
        </rules>
    </decisions>
    <interviewLabel>Change Commission Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Commission Structure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Choose_Commission_Structure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approved_CP_Found</name>
        <label>Approved CP Found</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>approvedCPFoundText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Sorry! This Opportunity already has an &quot;Approved&quot; Commission Payment with the current Commission Structure. If you need to update this Opportunity&apos;s Commission Structure, please contact BizApps.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorLogScreen</name>
        <label>ErrorLogScreen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;There was an issue changing the Commission Structure for this Opportunity. BizApps has been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Opp_Screen</name>
        <label>Invalid Opp Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invalidOpportunityText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This Opportunity is not eligible for Commission Structure change. Please verify the Stage that the Opportunity is in. For further assistance contact BizApps.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Choose_Commission_Structure</name>
        <label>Choose Commission Structure</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Commission_Structure_Change</targetReference>
        </connector>
        <fields>
            <name>text_AssignCS</name>
            <fieldText>&lt;p&gt;Please select the new Commission Structure below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity&apos;s current Commission Structure: &lt;b&gt;{!getOpportunity.Commission_Structure__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupCS</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Commission_Structure__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Commission Structure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>getOpportunity.PartnerAccount.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>commissionStructureId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Error_Log_Flow</name>
        <label>Call Error Log Flow</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>ErrorLogScreen</targetReference>
        </connector>
        <flowName>Error_Log_Creation</flowName>
        <inputAssignments>
            <name>socv_ErrorLog</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>errorMessageText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Flow: Change Commission Structure&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record: {!$Flow.CurrentRecord}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>booleanHasApprovedCP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>commissionStructureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sovc_ErrorLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
</Flow>
