force-app/main/default/flows/Client_Invoicing_Remove_SO_From_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <apiVersion>50.0</apiVersion>
    
    <assignments>
        
        <name>Set_Invoice_Date_to_Null</name>
        
        <label>Set Invoice Date to Null</label>
        
        <locationX>176</locationX>
        
        <locationY>278</locationY>
        
        <assignmentItems>
            
            <assignToReference>Get_Subscription_Order.Invoice_Date__c</assignToReference>
            
            <operator>Assign</operator>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>Update_Subscription_Order</targetReference>
            
        </connector>
        
    </assignments>
    
    <description>Removes a Subscription Order from a Client Invoice</description>
    
    <interviewLabel>Client Invoicing: Remove SO From Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    
    <label>Client Invoicing: Remove SO From Invoice</label>
    
    <processMetadataValues>
        
        <name>BuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>CanvasMode</name>
        
        <value>
            
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>OriginBuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processType>Flow</processType>
    
    <recordDeletes>
        
        <name>Delete_Invoice_Line_Item</name>
        
        <label>Delete Invoice Line Item</label>
        
        <locationX>176</locationX>
        
        <locationY>638</locationY>
        
        <connector>
            
            <targetReference>Finished</targetReference>
            
        </connector>
        
        <inputReference>Get_Invoice_Line_Item</inputReference>
        
    </recordDeletes>
    
    <recordLookups>
        
        <name>Get_Invoice_Line_Item</name>
        
        <label>Get Invoice Line Item</label>
        
        <locationX>176</locationX>
        
        <locationY>518</locationY>
        
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        
        <connector>
            
            <targetReference>Delete_Invoice_Line_Item</targetReference>
            
        </connector>
        
        <filterLogic>and</filterLogic>
        
        <filters>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>Get_Subscription_Order.Invoice_Line_Item__c</elementReference>
                
            </value>
            
        </filters>
        
        <getFirstRecordOnly>true</getFirstRecordOnly>
        
        <object>Invoice_Line_Item__c</object>
        
        <storeOutputAutomatically>true</storeOutputAutomatically>
        
    </recordLookups>
    
    <recordLookups>
        
        <name>Get_Subscription_Order</name>
        
        <label>Get Subscription Order</label>
        
        <locationX>176</locationX>
        
        <locationY>158</locationY>
        
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        
        <connector>
            
            <targetReference>Set_Invoice_Date_to_Null</targetReference>
            
        </connector>
        
        <filterLogic>and</filterLogic>
        
        <filters>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>recordId</elementReference>
                
            </value>
            
        </filters>
        
        <getFirstRecordOnly>true</getFirstRecordOnly>
        
        <object>Subscription_Order__c</object>
        
        <queriedFields>Id</queriedFields>
        
        <queriedFields>Invoice_Line_Item__c</queriedFields>
        
        <queriedFields>Invoice_Date__c</queriedFields>
        
        <storeOutputAutomatically>true</storeOutputAutomatically>
        
    </recordLookups>
    
    <recordUpdates>
        
        <name>Update_Subscription_Order</name>
        
        <label>Update Subscription Order</label>
        
        <locationX>176</locationX>
        
        <locationY>398</locationY>
        
        <connector>
            
            <targetReference>Get_Invoice_Line_Item</targetReference>
            
        </connector>
        
        <inputReference>Get_Subscription_Order</inputReference>
        
    </recordUpdates>
    
    <runInMode>SystemModeWithoutSharing</runInMode>
    
    <screens>
        
        <name>Finished</name>
        
        <label>Finished</label>
        
        <locationX>176</locationX>
        
        <locationY>758</locationY>
        
        <allowBack>false</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>false</allowPause>
        
        <fields>
            
            <name>Success</name>
            
            <fieldText>&lt;p&gt;All set: the Invoice Line Item is deleted, removing the Subscription Order from the Invoice, leaving it to be invoiced in the future.&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <showFooter>true</showFooter>
        
        <showHeader>true</showHeader>
        
    </screens>
    
    <start>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <connector>
            
            <targetReference>Get_Subscription_Order</targetReference>
            
        </connector>
        
    </start>
    
    <status>Active</status>
    
    <variables>
        
        <name>recordId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>false</isOutput>
        
    </variables>
    
</Flow>
