force-app/main/default/flows/JBSystemFlow_NetworkMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <actionCalls>
        
        <name>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_FireJBTrigger</name>
        
        <label>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_FireJBTrigger</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        
        <actionType>apex</actionType>
        
        <inputParameters>
            
            <name>ContactKey</name>
            
            <value>
                
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Member.Contact&quot;,
  &quot;relationshipName&quot;: &quot;Member.Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>SalesforceObjectId</name>
            
            <value>
                
                <elementReference>new_object.Id</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>SalesforceObjectName</name>
            
            <value>
                
                <stringValue>NetworkMember</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>EventDefinitionKey</name>
            
            <value>
                
                <stringValue>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>OwnerMID</name>
            
            <value>
                
                <stringValue>100006969</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>VersionNumber</name>
            
            <value>
                
                <stringValue>3.0</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>ContactPersonType</name>
            
            <value>
                
                <stringValue>Contact</stringValue>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>EventDataConfig</name>
            
            <value>
                
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Member.Contact&quot;,&quot;dePrefix&quot;:&quot;NetworkMember:Member:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Client_Brand_Key_from_Account__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;NetworkMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
                
            </value>
            
        </inputParameters>
        
    </actionCalls>
    
    <apiVersion>49.0</apiVersion>
    
    <decisions>
        
        <name>JB_Decision_Null_Check_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</name>
        
        <label>JB_Decision_Null_Check_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Parameters_ContactKey_Null</name>
            
            <conditionLogic>1</conditionLogic>
            
            <conditions>
                
                <leftValueReference>new_object.Member.ContactId</leftValueReference>
                
                <operator>IsNull</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <label>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Parameters_ContactKey_Null</label>
            
        </rules>
        
        <rules>
            
            <name>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Parameters_Null</name>
            
            <conditionLogic>1</conditionLogic>
            
            <conditions>
                
                <leftValueReference>old_object</leftValueReference>
                
                <operator>IsNull</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Decision</targetReference>
                
            </connector>
            
            <label>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Parameters_Null</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Decision</name>
        
        <label>JB_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_Decision</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</name>
            
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            
            <conditions>
                
                <leftValueReference>new_object.NetworkId</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>0DBj0000000PAtLGAW</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>new_object.MemberId</leftValueReference>
                
                <operator>IsNull</operator>
                
                <rightValue>
                    
                    <booleanValue>false</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>new_object.Member.IsActive</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b_FireJBTrigger</targetReference>
                
            </connector>
            
            <label>SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</label>
            
        </rules>
        
    </decisions>
    
    <label>JBSystemFlow_NetworkMember</label>
    
    <processType>AutoLaunchedFlow</processType>
    
    <startElementReference>JB_Decision_Null_Check_SalesforceObjaf3a8671065c1df9f2e1273b4025f11b</startElementReference>
    
    <status>Obsolete</status>
    
    <variables>
        
        <name>new_object</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>false</isOutput>
        
        <objectType>NetworkMember</objectType>
        
    </variables>
    
    <variables>
        
        <name>old_object</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>false</isOutput>
        
        <objectType>NetworkMember</objectType>
        
    </variables>
    
</Flow>
