force-app/main/default/flows/Opportunity_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <apiVersion>49.0</apiVersion>
    
    <assignments>
        
        <name>myWaitAssignment_myWait_myRule_1</name>
        
        <label>myWaitAssignment_myWait_myRule_1</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <assignmentItems>
            
            <assignToReference>cancelWaits</assignToReference>
            
            <operator>Add</operator>
            
            <value>
                
                <stringValue>myWait_myRule_1</stringValue>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>myDecision</targetReference>
            
        </connector>
        
    </assignments>
    
    <assignments>
        
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <assignmentItems>
            
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <booleanValue>true</booleanValue>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>myWait_myRule_1</targetReference>
            
        </connector>
        
    </assignments>
    
    <decisions>
        
        <processMetadataValues>
            
            <name>index</name>
            
            <value>
                
                <numberValue>0.0</numberValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>myDecision</name>
        
        <label>myDecision</label>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myRule_1</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.Product_Line__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Community Solar</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myRule_1_A1</targetReference>
                
            </connector>
            
            <label>CS Opportunity</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>myPreWaitDecision_myWait_myRule_1</name>
        
        <label>myPreWaitDecision_myWait_myRule_1</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnector>
            
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myPreWaitRule_myWait_myRule_1</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.Product_Line__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Community Solar</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myDecision</targetReference>
                
            </connector>
            
            <label>myPreWaitRule_myWait_myRule_1</label>
            
        </rules>
        
    </decisions>
    
    <description>This new version of PB was created to remove the Creation of QC tasks for PCR changes; everything else remains same.</description>
    
    <formulas>
        
        <processMetadataValues>
            
            <name>originalFormula</name>
            
            <value>
                
                <stringValue>IF([Opportunity].Partner_tag_lookup__c =&quot;a0sj000000155KEAAY&quot; , &quot;DTC Sign up process feedback&quot;, &quot;Partner sign up process feedback&quot;) </stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA1_9566363110</name>
        
        <dataType>String</dataType>
        
        <expression>IF({!myVariable_current.Partner_tag_lookup__c} =&quot;a0sj000000155KEAAY&quot; , &quot;DTC Sign up process feedback&quot;, &quot;Partner sign up process feedback&quot;)</expression>
        
    </formulas>
    
    <formulas>
        
        <processMetadataValues>
            
            <name>originalFormula</name>
            
            <value>
                
                <stringValue>IF([Opportunity].Partner_tag_lookup__c =&quot;a0sj000000155KEAAY&quot; , &quot;0Kd0a000000TN2XCAW&quot;, &quot;0Kd0a000000TN2ZCAW&quot;) </stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA1_6759849204</name>
        
        <dataType>String</dataType>
        
        <expression>IF({!myVariable_current.Partner_tag_lookup__c} =&quot;a0sj000000155KEAAY&quot; , &quot;0Kd0a000000TN2XCAW&quot;, &quot;0Kd0a000000TN2ZCAW&quot;)</expression>
        
    </formulas>
    
    <formulas>
        
        <processMetadataValues>
            
            <name>originalFormula</name>
            
            <value>
                
                <stringValue>SUBSTITUTE([Opportunity].Name, &apos;-&apos;, &apos;&apos;)</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>formula_4_myRule_1_A1_9786218377</name>
        
        <dataType>String</dataType>
        
        <expression>SUBSTITUTE({!myVariable_current.Name}, &apos;-&apos;, &apos;&apos;)</expression>
        
    </formulas>
    
    <interviewLabel>Opportunity_Create-6_InterviewLabel</interviewLabel>
    
    <label>Opportunity: Create</label>
    
    <processMetadataValues>
        
        <name>ObjectType</name>
        
        <value>
            
            <stringValue>Opportunity</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>ObjectVariable</name>
        
        <value>
            
            <elementReference>myVariable_current</elementReference>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>OldObjectVariable</name>
        
        <value>
            
            <elementReference>myVariable_old</elementReference>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>TriggerType</name>
        
        <value>
            
            <stringValue>onCreateOnly</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processType>Workflow</processType>
    
    <recordCreates>
        
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        
        <label>Create Survey Invitation Record</label>
        
        <locationX>100</locationX>
        
        <locationY>200</locationY>
        
        <connector>
            
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
            
        </connector>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Network ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue>Network</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>CommunityId</field>
            
            <value>
                
                <stringValue>0DB0a000000Cal7</stringValue>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Name</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Formula</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Name</field>
            
            <value>
                
                <elementReference>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA1_9566363110</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Opportunity</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue>Opportunity</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Reference</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Opportunity__c</field>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Boolean</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Let Guests Respond</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Boolean</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>OptionsAllowGuestUserResponse</field>
            
            <value>
                
                <booleanValue>true</booleanValue>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Participant ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue>Contact;Lead;User</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Reference</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>ParticipantId</field>
            
            <value>
                
                <elementReference>myVariable_current.Account.Send_Bills_Contact__c</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Survey ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Formula</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>SurveyId</field>
            
            <value>
                
                <elementReference>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA1_6759849204</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <object>SurveyInvitation</object>
        
    </recordCreates>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>criteria</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[Opportunity]</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_1_A1</name>
        
        <label>Opportunity Name - Remove Hyphen</label>
        
        <locationX>100</locationX>
        
        <locationY>200</locationY>
        
        <connector>
            
            <targetReference>myWait_myRule_1</targetReference>
            
        </connector>
        
        <filterLogic>and</filterLogic>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>inputDataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Name</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>operatorDataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Name</field>
            
            <operator>Contains</operator>
            
            <value>
                
                <stringValue>-</stringValue>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Name</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>Formula</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Name</field>
            
            <value>
                
                <elementReference>formula_4_myRule_1_A1_9786218377</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <object>Opportunity</object>
        
    </recordUpdates>
    
    <startElementReference>myPreWaitDecision_myWait_myRule_1</startElementReference>
    
    <status>Active</status>
    
    <variables>
        
        <name>cancelWaits</name>
        
        <dataType>String</dataType>
        
        <isCollection>true</isCollection>
        
        <isInput>false</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>myVariable_current</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>Opportunity</objectType>
        
    </variables>
    
    <variables>
        
        <name>myVariable_old</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>false</isOutput>
        
        <objectType>Opportunity</objectType>
        
    </variables>
    
    <variables>
        
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        
        <dataType>Boolean</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>false</isInput>
        
        <isOutput>false</isOutput>
        
        <value>
            
            <booleanValue>false</booleanValue>
            
        </value>
        
    </variables>
    
    <waits>
        
        <name>myWait_myRule_1</name>
        
        <label>myWait_myRule_1</label>
        
        <locationX>0</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        
        <waitEvents>
            
            <processMetadataValues>
                
                <name>inputParameterType</name>
                
                <value>
                    
                    <stringValue>now</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>false</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
                
            </connector>
            
            <eventType>AlarmEvent</eventType>
            
            <inputParameters>
                
                <name>AlarmTime</name>
                
                <value>
                    
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                    
                </value>
                
            </inputParameters>
            
            <inputParameters>
                
                <name>TimeOffsetUnit</name>
                
                <value>
                    
                    <stringValue>Hours</stringValue>
                    
                </value>
                
            </inputParameters>
            
            <inputParameters>
                
                <name>TimeOffset</name>
                
                <value>
                    
                    <numberValue>0.0</numberValue>
                    
                </value>
                
            </inputParameters>
            
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
            
        </waitEvents>
        
    </waits>
    
</Flow>
