force-app/main/default/flows/partner_nps_survey_q1_2021.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_78ec358c_bd85_4818_b812_5f1fdcdb22ef</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_e0f4796d_7585_45cb_a96f_7a20fa477ed3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_09c3e973_b439_49ab_a142_391f8420c295</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fe3f2a80_e7c5_4e57_a258_531f3b2deb23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_5304e2dd_aff5_48ab_887d_d3fb68621db3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_014446f6_6496_48bb_9ce5_4681326257f8</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_032b9820_6944_4771_91d1_30235e74c8f9</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_07d72415_e0ae_4ef4_b031_2dcbddc0a5c9</name>
        <choiceText>Unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b8446d3_7d4a_46e7_84a7_608a87dc0d08</name>
        <choiceText>Poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b84d329_aefb_465f_9873_346437789cce</name>
        <choiceText>Poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0c8ae485_1eca_4634_8c7a_65d25c1293fb</name>
        <choiceText>Extremely useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1275ef24_bf65_4be0_bd4b_b79a9832fb8a</name>
        <choiceText>Extremely useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_161315b3_bd2e_4e7b_a511_21aedc8ef9cf</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b94c816_1b3e_487b_8ea6_a07311d4b514</name>
        <choiceText>Not very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fef7f20_5b1e_4a2a_847c_9aa2c342de5b</name>
        <choiceText>Not at all useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_28be5bc7_ad3e_4f82_81d4_a85d04ef206f</name>
        <choiceText>Very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2bebb487_d959_4fb9_85a1_c5bade69d530</name>
        <choiceText>Somewhat useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2fab18f5_4809_46fe_accc_2ac916e4807d</name>
        <choiceText>Not very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30d9d46c_3662_4804_a4fa_10a28d4e6ffa</name>
        <choiceText>Somewhat useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_33b222e1_2c90_4cb7_9eaf_a2a480cac0ca</name>
        <choiceText>Very Unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Unsatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_37eeaeda_010e_4d0d_be29_3e530404db39</name>
        <choiceText>Unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_395f1499_b195_465e_83a8_1ab02e364918</name>
        <choiceText>Not at all useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_39aebd7d_e8e1_43da_81a2_4189febab57b</name>
        <choiceText>Never &amp;ndash; I have never accessed it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never – I have never accessed it</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_42a64e5b_ff6a_4d5f_9369_1ded7209265a</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4c18acb3_0d83_4989_8387_673f48feead5</name>
        <choiceText>Extremely useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d5f86bf_48fa_47bb_b78e_c8bb91f16457</name>
        <choiceText>Very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5255912c_849d_4454_897f_de06b9ad986c</name>
        <choiceText>Somewhat useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f2d127b_5357_4cf9_a84e_f9acfd865dcf</name>
        <choiceText>Very frequently &amp;ndash; I access it almost every day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very frequently – I access it almost every day</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62ad9c36_f149_4baa_9df8_fc752c63c744</name>
        <choiceText>Very familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_680bbdcb_d55a_4427_b595_65dbe7af7cdd</name>
        <choiceText>Very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73ab474a_ddd8_4b04_8089_f9b4d4d4f032</name>
        <choiceText>Not at all useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7679353f_957e_47f8_b149_86e711768320</name>
        <choiceText>Very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_783b3af9_cd20_4af0_bacb_b8205bba0858</name>
        <choiceText>Not at all useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7fe3c021_1890_4cdc_a156_388f074b788d</name>
        <choiceText>Sometimes -  I access it less than 1x/week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes -  I access it less than 1x/week</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8171d8ea_5bb8_4de2_95a7_ec3a1ae88f8c</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_82887cff_c076_4dd7_ab9f_802f377ad20a</name>
        <choiceText>Not at all familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_878ea693_83de_4486_a205_eafdf2b9f863</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_93aa63dc_0a99_4895_a1b5_691208bc0d57</name>
        <choiceText>Somewhat useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_946d7aec_3e1d_4330_b445_9cc002738fd3</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94926041_3986_4600_8c68_5148f0a476c0</name>
        <choiceText>Extremely useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd21d79_c961_4701_b0d2_936ff767f0e9</name>
        <choiceText>Fair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fair</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a07938b2_7071_49d4_858b_a151b19fe311</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_afc470ef_0afe_4988_a064_1a8766495269</name>
        <choiceText>Fair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fair</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b966bbf0_7829_445c_b403_33c5ac4818db</name>
        <choiceText>Not very familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not very familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b9f980dc_07df_4f48_aa8a_b910c6fa59ee</name>
        <choiceText>Rarely &amp;ndash; I access it less than 1x/month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rarely – I access it less than 1x/month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_be51be21_e91e_48c9_b599_1dd0fdbab248</name>
        <choiceText>Frequently &amp;ndash; I access it a few times a week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frequently – I access it a few times a week</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c7e28be3_c80e_453f_a6f3_b7501f709a25</name>
        <choiceText>Not very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb9772e0_df5d_450e_bf70_b198c0d3166e</name>
        <choiceText>Familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cbfff1b5_0825_47a7_9f66_b0c6e581a23e</name>
        <choiceText>Neither satisfied nor unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither satisfied nor unsatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2a18173_1e0a_46ea_9d58_a5196671e4bc</name>
        <choiceText>Not very useful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not very useful</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dadf3394_fa06_4451_b5e0_35b7b3504aea</name>
        <choiceText>Completely Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completely Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc12ddc5_8b9f_4d02_b136_cf44e740aff9</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e3079eae_a0b7_4465_b646_29c93b242317</name>
        <choiceText>Somewhat familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec3deed6_c296_42ba_86ad_4b287aa64c2c</name>
        <choiceText>Neither satisfied nor unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither satisfied nor unsatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f94a9ea0_7555_42e2_a6f4_b8f8f1780199</name>
        <choiceText>Very unsatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very unsatisfied</stringValue>
        </value>
    </choices>
    <interviewLabel>Partner NPS Survey Q1 2021</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Partner NPS Survey Q1 2021</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_partner_nps_survey_q1_2021_5_9f2d68f2_6347_4032_a9fe_fe5e5557f6aa</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_09c3e973_b439_49ab_a142_391f8420c295</name>
        <label>Commission Payments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fe3f2a80_e7c5_4e57_a258_531f3b2deb23</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1b22d4eb_cae7_439e_b337_3447f8937039</name>
            <choiceReferences>c_878ea693_83de_4486_a205_eafdf2b9f863</choiceReferences>
            <choiceReferences>c_8171d8ea_5bb8_4de2_95a7_ec3a1ae88f8c</choiceReferences>
            <choiceReferences>c_ec3deed6_c296_42ba_86ad_4b287aa64c2c</choiceReferences>
            <choiceReferences>c_07d72415_e0ae_4ef4_b031_2dcbddc0a5c9</choiceReferences>
            <choiceReferences>c_33b222e1_2c90_4cb7_9eaf_a2a480cac0ca</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;How satisfied are you with the &lt;b&gt;commission process &lt;/b&gt;for enrolling customers in BlueWave Community Solar?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ae068a4e_b773_43a9_a29a_193b929c268e</name>
            <choiceReferences>c_161315b3_bd2e_4e7b_a511_21aedc8ef9cf</choiceReferences>
            <choiceReferences>c_dc12ddc5_8b9f_4d02_b136_cf44e740aff9</choiceReferences>
            <choiceReferences>c_42a64e5b_ff6a_4d5f_9369_1ded7209265a</choiceReferences>
            <choiceReferences>c_9dd21d79_c961_4701_b0d2_936ff767f0e9</choiceReferences>
            <choiceReferences>c_0b8446d3_7d4a_46e7_84a7_608a87dc0d08</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Please rate the &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;quality of communications&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt; regarding Partner Commissions:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_11bd246a_3713_4f02_881e_a4507c6dfe0e</name>
            <choiceReferences>c_946d7aec_3e1d_4330_b445_9cc002738fd3</choiceReferences>
            <choiceReferences>c_032b9820_6944_4771_91d1_30235e74c8f9</choiceReferences>
            <choiceReferences>c_014446f6_6496_48bb_9ce5_4681326257f8</choiceReferences>
            <choiceReferences>c_afc470ef_0afe_4988_a064_1a8766495269</choiceReferences>
            <choiceReferences>c_0b84d329_aefb_465f_9873_346437789cce</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Please rate the &lt;b&gt;accuracy &lt;/b&gt;of Partner Commissions:&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_5304e2dd_aff5_48ab_887d_d3fb68621db3</name>
        <label>Page 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed48e101_4503_4f87_b0cb_1cde61928156</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you have any additional feedback on your overall BlueWave Partner experience? The following information will be used towards improving the Partner Portal, Commission Process, and general experience.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_78ec358c_bd85_4818_b812_5f1fdcdb22ef</name>
        <label>Net Promoter Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e0f4796d_7585_45cb_a96f_7a20fa477ed3</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d71c5922_fa37_4e44_8766_f96cf18c822f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d71c5922_fa37_4e44_8766_f96cf18c822f</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;On a scale of 1-10, how likely are you to recommend a BlueWave partnership for Community Solar&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e0f4796d_7585_45cb_a96f_7a20fa477ed3</name>
        <label>BlueWave Partner Portal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_09c3e973_b439_49ab_a142_391f8420c295</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_07acb2c3_d167_40d0_a43d_ebf77abb76d3</name>
            <choiceReferences>c_5f2d127b_5357_4cf9_a84e_f9acfd865dcf</choiceReferences>
            <choiceReferences>c_be51be21_e91e_48c9_b599_1dd0fdbab248</choiceReferences>
            <choiceReferences>c_7fe3c021_1890_4cdc_a156_388f074b788d</choiceReferences>
            <choiceReferences>c_b9f980dc_07df_4f48_aa8a_b910c6fa59ee</choiceReferences>
            <choiceReferences>c_39aebd7d_e8e1_43da_81a2_4189febab57b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How frequently do you use the BlueWave Partner Portal?&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_162f2d2d_d63b_42b6_a21b_c1a6d4051513</name>
            <choiceReferences>c_62ad9c36_f149_4baa_9df8_fc752c63c744</choiceReferences>
            <choiceReferences>c_cb9772e0_df5d_450e_bf70_b198c0d3166e</choiceReferences>
            <choiceReferences>c_e3079eae_a0b7_4465_b646_29c93b242317</choiceReferences>
            <choiceReferences>c_b966bbf0_7829_445c_b403_33c5ac4818db</choiceReferences>
            <choiceReferences>c_82887cff_c076_4dd7_ab9f_802f377ad20a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;How familiar are you with the tools and resources on the BlueWave Partner Portal&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_07acb2c3_d167_40d0_a43d_ebf77abb76d3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_39aebd7d_e8e1_43da_81a2_4189febab57b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a07864c6_5b50_495e_8407_818c87172741</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;If the BlueWave Daily Report were no longer available, what might be the biggest challenge?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_31a9b4f4_b460_4185_a8fb_ebc934b28551</name>
            <choiceReferences>c_1275ef24_bf65_4be0_bd4b_b79a9832fb8a</choiceReferences>
            <choiceReferences>c_28be5bc7_ad3e_4f82_81d4_a85d04ef206f</choiceReferences>
            <choiceReferences>c_2bebb487_d959_4fb9_85a1_c5bade69d530</choiceReferences>
            <choiceReferences>c_2fab18f5_4809_46fe_accc_2ac916e4807d</choiceReferences>
            <choiceReferences>c_783b3af9_cd20_4af0_bacb_b8205bba0858</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;The following questions will ask about the usefulness of tools available on the Partner Portal.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;How useful is the Incomplete Applications tool? &lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Incomplete applications tool discloses the Continue Application link.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_07acb2c3_d167_40d0_a43d_ebf77abb76d3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_39aebd7d_e8e1_43da_81a2_4189febab57b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_acf00f90_5648_4fd1_a47d_a8ba25610b17</name>
            <choiceReferences>c_0c8ae485_1eca_4634_8c7a_65d25c1293fb</choiceReferences>
            <choiceReferences>c_680bbdcb_d55a_4427_b595_65dbe7af7cdd</choiceReferences>
            <choiceReferences>c_93aa63dc_0a99_4895_a1b5_691208bc0d57</choiceReferences>
            <choiceReferences>c_d2a18173_1e0a_46ea_9d58_a5196671e4bc</choiceReferences>
            <choiceReferences>c_1fef7f20_5b1e_4a2a_847c_9aa2c342de5b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;How useful is the&lt;b&gt; &lt;/b&gt;Complete Applications tool?-&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Complete Applications tool displays the subscription size and project info</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d029cab3_359c_41bb_a8ac_acb6f9d693d3</name>
            <choiceReferences>c_4c18acb3_0d83_4989_8387_673f48feead5</choiceReferences>
            <choiceReferences>c_7679353f_957e_47f8_b149_86e711768320</choiceReferences>
            <choiceReferences>c_30d9d46c_3662_4804_a4fa_10a28d4e6ffa</choiceReferences>
            <choiceReferences>c_c7e28be3_c80e_453f_a6f3_b7501f709a25</choiceReferences>
            <choiceReferences>c_73ab474a_ddd8_4b04_8089_f9b4d4d4f032</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 0.8125rem; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;How useful is the Applications Awaiting Information tool?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Applications Awaiting Information tool discloses applications that require additional information before being processed by BlueWave.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_07acb2c3_d167_40d0_a43d_ebf77abb76d3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_39aebd7d_e8e1_43da_81a2_4189febab57b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_03e2718c_6b26_43a3_abe6_8eb0fb2023e6</name>
            <choiceReferences>c_94926041_3986_4600_8c68_5148f0a476c0</choiceReferences>
            <choiceReferences>c_4d5f86bf_48fa_47bb_b78e_c8bb91f16457</choiceReferences>
            <choiceReferences>c_5255912c_849d_4454_897f_de06b9ad986c</choiceReferences>
            <choiceReferences>c_1b94c816_1b3e_487b_8ea6_a07311d4b514</choiceReferences>
            <choiceReferences>c_395f1499_b195_465e_83a8_1ab02e364918</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 0.8125rem; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;How useful is the Application Stages tool? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Application Stages tool discloses applications and their status in the enrollment process. They describe if the application has been submitted, requires additional information, enrolled in community solar, or rejected.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f500a71b_b1be_4b0d_a000_09a7521b2450</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What else could the BlueWave Partner Portal provide that would increase your adoption of its tools?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_07acb2c3_d167_40d0_a43d_ebf77abb76d3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_39aebd7d_e8e1_43da_81a2_4189febab57b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fe3f2a80_e7c5_4e57_a258_531f3b2deb23</name>
        <label>Partner Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_5304e2dd_aff5_48ab_887d_d3fb68621db3</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b95b3956_0068_46da_b633_b33847676411</name>
            <choiceReferences>c_dadf3394_fa06_4451_b5e0_35b7b3504aea</choiceReferences>
            <choiceReferences>c_a07938b2_7071_49d4_858b_a151b19fe311</choiceReferences>
            <choiceReferences>c_cbfff1b5_0825_47a7_9f66_b0c6e581a23e</choiceReferences>
            <choiceReferences>c_37eeaeda_010e_4d0d_be29_3e530404db39</choiceReferences>
            <choiceReferences>c_f94a9ea0_7555_42e2_a6f4_b8f8f1780199</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How satisfied are you with BlueWave Partner Support? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_55f52979_aef3_4274_b70a_291c352aab5e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Can you please elaborate on your previous response? If you are &lt;b&gt;satisfied&lt;/b&gt;, can you please tell us what you enjoy most or think Partner Support does particularly well?&amp;nbsp;If you answered &lt;b&gt;unsatisfied&lt;/b&gt;, can you provide some examples that will help us understand what we can improve?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b95b3956_0068_46da_b633_b33847676411</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_cbfff1b5_0825_47a7_9f66_b0c6e581a23e</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_78ec358c_bd85_4818_b812_5f1fdcdb22ef</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for completing the survey, your feedback is greatly appreciated!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you have any feedback about the customer enrollment process, please relay it to the Partner Support team. All feedback is used to improve the process and ensure a high quality experience for both BlueWave Partners and Customers.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Thank you again from our BlueWave Family!&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;BlueWave Partner Experience Survey&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The following questions are to evaluate your BlueWave experience. Any and all feedback will be taken in account for the improvements that will be made in the next few months. Our team values your partnership and we thank you for your continued support in 2021.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;The survey will take approximately 5 minutes to complete. Your responses and the results of this survey will remain anonymous and will not be shared.&amp;nbsp;Please click &lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt; to complete the survey.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_d71c5922_fa37_4e44_8766_f96cf18c822f_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
