force-app/main/default/flows/Product_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Minimize_Utility_Bar</name>
        <label>Minimize Utility Bar</label>
        <locationX>446</locationX>
        <locationY>2894</locationY>
        <actionName>autocomp:minimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Navigate_to_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_record</name>
        <label>Navigate to record</label>
        <locationX>446</locationX>
        <locationY>3014</locationY>
        <actionName>autocomp:navigate</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>work__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Opens up a support case</description>
        <name>Open_support_case</name>
        <label>Open support case</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Your_case_has_been_opened</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>scrDetails_and_Steps_to_Reproduce_Prod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmail_to_Case_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>forUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>scrSubjectCase_Prod</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>asgAttachFiles</name>
        <label>asgAttachFiles</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgAttach_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrAttachFiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgConfirmation</name>
        <label>asgConfirmation</label>
        <locationX>446</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgConfirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrImprovementCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgFileNames</name>
        <label>Assign File Names</label>
        <locationX>534</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varFileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentFileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoop_through_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOps_Variable_Assignments</name>
        <label>Assign Ops variables</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDue_Date_Desc_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateReq_date_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Submittal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWork_Request_Title_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dlPriority_Ops</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgSet_Stage_to_Enter_Details</name>
        <label>Set Stage to Enter Details</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decWhat_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgSet_Stage_to_Select_Team</name>
        <label>Set Stage to Select Team</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgSelect_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrWhat_team_is_this_request_for</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bug</name>
        <choiceText>Support Case, Data Update or Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bug</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Improvement</name>
        <choiceText>New Feature or Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgent</name>
        <choiceText>Urgent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decWhat_team</name>
        <label>What team</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>scrNotSetup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>decOps_Work_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrOps_Work_Request</targetReference>
            </connector>
            <label>Ops Work Request</label>
        </rules>
        <rules>
            <name>BizApps_WR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrBug_Question_or_Data_Change_Prod</targetReference>
            </connector>
            <label>BizApps WR</label>
        </rules>
    </decisions>
    <description>Flow used to create cases or work items for various BW teams</description>
    <dynamicChoiceSets>
        <name>drcProductTag</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exclude_from_Work_Request_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varProduct_tag</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>agf__ADM_Scrum_Team__c</object>
        <outputAssignments>
            <assignToReference>varEmail_to_Case_Address</assignToReference>
            <field>Email_to_Case_Email_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFlowPath</assignToReference>
            <field>WR_Flow_Path__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamQueueID</assignToReference>
            <field>agf__Team_Queue_ID__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>agf__Priority__c</picklistField>
        <picklistObject>agf__ADM_Work__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>forCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>forCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} +&quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Increments the due date by 12 hours to handle time zones</description>
        <name>forDueDate_plus_12</name>
        <dataType>DateTime</dataType>
        <expression>{!varDueDate} + 12/24</expression>
    </formulas>
    <formulas>
        <name>forListofFiles</name>
        <dataType>String</dataType>
        <expression>BR() &amp; {!varCurrentFileName}</expression>
    </formulas>
    <formulas>
        <name>forRequestType</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Type} = &quot;Bug&quot;,&quot;case&quot;,&quot;work item&quot;)</expression>
    </formulas>
    <formulas>
        <name>forUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Work Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Request</label>
    <loops>
        <name>loopLoop_through_files</name>
        <label>Loop through files</label>
        <locationX>446</locationX>
        <locationY>1958</locationY>
        <assignNextValueToReference>soContentDocumentLinks</assignNextValueToReference>
        <collectionReference>soContentDocLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rlContentDocName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates work for all request types</description>
        <name>rcCreate_Work</name>
        <label>Create Work - All request types</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>asgAttachFiles</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date_Description__c</field>
            <value>
                <elementReference>varDueDateDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>varRequestorEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>varRequestorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Due_Date__c</field>
            <value>
                <elementReference>forDueDate_plus_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Priority__c</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <elementReference>varProduct_tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Scrum_Team__c</field>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <description>Fault actions is used for users who don&apos;t have access to the case object.</description>
        <name>rcCreateCase</name>
        <label>CreateCase</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>asgAttachFiles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Open_support_case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>scrDetails_and_Steps_to_Reproduce_Prod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTeamQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>scrPriority_Prod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_tag__c</field>
            <value>
                <elementReference>varProduct_tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120a0000004dlv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>scrSubjectCase_Prod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>flLookup_File_Attachments</name>
        <label>Lookup File Attachments</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLoop_through_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>soContentDocLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Owner_Name</name>
        <label>Get Product Owner Name</label>
        <locationX>446</locationX>
        <locationY>2534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varProductOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Details</name>
        <label>Get Work Details</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Owner_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <outputAssignments>
            <assignToReference>varProductOwnerId</assignToReference>
            <field>agf__Product_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlContentDocName</name>
        <label>Lookup Content Doc Name</label>
        <locationX>534</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgFileNames</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputAssignments>
            <assignToReference>varCurrentFileName</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlFind_Contact_Id_for_User</name>
        <label>Find Contact Id for User</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_group_is_your_request_for</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forCurrentUserId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlRequestor_Email</name>
        <label>rlRequestor_Email</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rcCreate_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varRequestorEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>scrAttachFiles</name>
        <label>Attach Files</label>
        <locationX>446</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>flLookup_File_Attachments</targetReference>
        </connector>
        <fields>
            <name>stgAttachFiles</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AttachFiles</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;You can attach files to your new {!forRequestType} below.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFilesImp</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varWorkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrFileInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;BR/&gt;A list of attached files will be displayed on the confirmation screen.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrBug_Question_or_Data_Change_Prod</name>
        <label>Bug, Question or Data Change</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>rcCreateCase</targetReference>
        </connector>
        <fields>
            <name>caseStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrSubjectCase_Prod</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What&apos;s the best category for your request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrDetails_Prod</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;We&amp;apos;ll need some information in order to help. In the Details and Steps to Reproduce section below, please provide as much information about the problem as you can.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;If applicable, please include:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- The steps taken before running into the bug&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- Links to the pages or records where the bug occurred&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- The time at which the bug occurred&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- Screenshots / files should be included on the next screen.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrDetails_and_Steps_to_Reproduce_Prod</name>
            <fieldText>Details and Steps to Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrPriority_Prod</name>
            <choiceReferences>Critical</choiceReferences>
            <choiceReferences>Urgent</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Critical&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Critical production issue affecting all users.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Includes system unavailability and data integrity issues with no workaround available.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Urgent&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Major functionality is impacted or significant performance degradation is experienced.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Issue is persistent and affects many users and/or major functionality.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No reasonable workaround available.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;High&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;System performance issue or bug affecting some, but not all users.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Short-term workaround is available, but cannot be scaled.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Medium&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Inquiry or question&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reasonable workaround available&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Resolution required as soon as reasonably practicable.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrImprovementCreated</name>
        <label>Confirmation</label>
        <locationX>446</locationX>
        <locationY>2774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Minimize_Utility_Bar</targetReference>
        </connector>
        <fields>
            <name>stgConfirmation1</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseCreated_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Your {!forRequestType} has been created and can be viewed in Salesforce &lt;A HREF=&quot;/{!varWorkId}&quot; TARGET=&quot;_blank&quot;&gt;here.&lt;/A&gt;&lt;/DIV&gt;&lt;BR&gt;Attached Files: {!varFileNames}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispPrioritization</name>
            <fieldText>&lt;p&gt;For questions about prioritization, please contact the Product Owner, {!varProductOwnerName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varTeamName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BizApps</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNotSetup</name>
        <label>Team not setup</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>outNoTeam</name>
            <fieldText>&lt;p&gt;This team has not been setup in the request tool. Please contact Biz Apps for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrOps_Work_Request</name>
        <label>Ops Work Request</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgOps_Variable_Assignments</targetReference>
        </connector>
        <fields>
            <name>opsStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlProduct_Line_Ops</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispOpsPriorities</name>
            <fieldText>P4 = Lowest Priority → P0 = Highest Priority</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlPriority_Ops</name>
            <choiceReferences>pcPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>What is the priority of your request?                                                                  

P1 = Stop everything and do this now                                                  P2 = Make this a priority on top of whatever you were going to do next
P3 = This needs to get done but don&apos;t interrupt regular work queue
P4 = This would be nice to have</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWork_Request_Title_Ops</name>
            <dataType>String</dataType>
            <fieldText>Work Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_Ops</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateReq_date_Ops</name>
            <dataType>Date</dataType>
            <fieldText>What is the requested date?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDue_Date_Desc_Ops</name>
            <fieldText>What is driving this due date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Your description must be less than 255 characters.</errorMessage>
                <formulaExpression>LEN({!inpDue_Date_Desc_Ops}) &lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Files_Ops</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrWhat_team_is_this_request_for</name>
        <label>What team is this request for?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgSet_Stage_to_Enter_Details</targetReference>
        </connector>
        <fields>
            <name>Stage</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpTeam</name>
            <choiceReferences>drcTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What team is this work request for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>What group is your request for?</description>
        <name>What_group_is_your_request_for</name>
        <label>What group is your request for?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgSet_Stage_to_Select_Team</targetReference>
        </connector>
        <fields>
            <name>catStage</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>stgSelect_Group</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispGroupSelectionText</name>
            <fieldText>&lt;p style=&quot;text-align:center;&quot;&gt;&lt;font size=&quot;5&quot;&gt;What group will be fulfilling your request?&lt;/font&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>categoryPicklist</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>agf__ADM_Scrum_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCategory</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_case_has_been_opened</name>
        <label>Your case has been opened</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispCaseOpened</name>
            <fieldText>&lt;p&gt;Your&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!varTeamName} &lt;/span&gt;support case has been opened and you will receive a confirmation email shortly. If you have any files or screen shots that would be helpful in resolving the case, please respond to that email and attach the files.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>stgAttach_Files</name>
        <isActive>true</isActive>
        <label>Attach Files</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>stgConfirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>stgDetails</name>
        <isActive>true</isActive>
        <label>Enter Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>stgSelect_Group</name>
        <isActive>true</isActive>
        <label>Select Group</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stgSelect_Team</name>
        <isActive>true</isActive>
        <label>Select Team</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>rlFind_Contact_Id_for_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttNewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>soContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>soContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Category selected by the user</description>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDateDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail_to_Case_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct_tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Default record type ID = User Story</description>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012j0000000uhAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRequestorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forUserEmail</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRequestorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forCurrentUserId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comes from Product Tag --&gt; Team field, used to assign cases to queue</description>
        <name>varTeamQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
