force-app/main/default/flows/SSSO_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_SSSO</name>
        <label>Approval_SSSO</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scr_Finish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>sov_SSSO.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>capacityReservationOrdersWithSSSOLookup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_SSSO_on_CROs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SSSO_on_CROs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SSSO</name>
        <label>Assign SSSO</label>
        <locationX>138</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Set_SSSO_on_CROs.Shared_Solar_System_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_SSSO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Acquisition_and_Forecasted_Orders</name>
        <label>Combine Acquisition and Forecasted Orders</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>CapacityReservationOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CapacityForecastedOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_CROs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_CROs</name>
        <label>Count CROs</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>CountOfCROs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CapacityReservationOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrReview</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Managed_Capacities</name>
        <choiceText>Managed Capacities</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_Reservation_Capacities</name>
        <choiceText>Acquisition Capacities</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_SystemSize</name>
        <choiceText>System Size kW DC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_SystemSize</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yield</name>
        <choiceText>Yield</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yield</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Get_Updated_Capacities</name>
        <label>Get Updated Capacities</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Management_Capacities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Updated_Capacities</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_SystemSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_Reservation_Capacities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reserved_Capacities</targetReference>
            </connector>
            <label>Need Updated Capacities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Updated_Management_Capacities</name>
        <label>Get Updated Management Capacities</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>scr_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Updated_Management_Capacities</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SystemSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Managed_Capacities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Managed_Capacities</targetReference>
            </connector>
            <label>Need Updated Management Capacities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_CROs</name>
        <label>Insert CROs</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Approval_SSSO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CROs</defaultConnectorLabel>
        <rules>
            <name>CROs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfCROs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SSSO_on_CROs</targetReference>
            </connector>
            <label>CROs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Size_or_Yield</name>
        <label>Size or Yield</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Capacities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changing_Size_or_Yield</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_SystemSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Field_to_Update</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_Yield</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Enter_Updated_Values</targetReference>
            </connector>
            <label>Changing Size or Yield</label>
        </rules>
    </decisions>
    <interviewLabel>SSSO Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SSSO Creation Flow</label>
    <loops>
        <name>Set_SSSO_on_CROs</name>
        <label>Set SSSO on CROs</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <collectionReference>CapacityReservationOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SSSO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CROs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CROs</name>
        <label>Create CROs</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Approval_SSSO</targetReference>
        </connector>
        <inputReference>capacityReservationOrdersWithSSSOLookup</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SSSO</name>
        <label>Create_SSSO</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <assignRecordIdToReference>sov_SSSO.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_CROs</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Solar_System__c</field>
            <value>
                <elementReference>sov_SSS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_System_Size_kW_DC__c</field>
            <value>
                <elementReference>varNew_System_Size_kW_DC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yield__c</field>
            <value>
                <elementReference>varNew_System_Yield</elementReference>
            </value>
        </inputAssignments>
        <object>Shared_Solar_System_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_SSS</name>
        <label>lookup_SSS</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Intro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SSSID</elementReference>
            </value>
        </filters>
        <object>Shared_Solar_System__c</object>
        <outputReference>sov_SSS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Client_Acq_Reserved_Anchor_Capacity__c</queriedFields>
        <queriedFields>Client_Acq_Reserved_Small_CS_Capacity__c</queriedFields>
        <queriedFields>Reserved_Anchor_Capacity__c</queriedFields>
        <queriedFields>Perch_Acq_Reserved_Small_CS_Capacity__c</queriedFields>
        <queriedFields>Perch_Acq_Reserved_LMI_Capacity__c</queriedFields>
        <queriedFields>Client_Acq_Reserved_LMI_Capacity__c</queriedFields>
        <queriedFields>Total_System_Size_kWh_DC__c</queriedFields>
        <queriedFields>LMI__c</queriedFields>
        <queriedFields>Client_Mngd_Forecasted_Anchor_Capacity__c</queriedFields>
        <queriedFields>Client_Mngd_Forecasted_LMI_Capacity__c</queriedFields>
        <queriedFields>Client_Mngd_Forecasted_Small_CS_Capacity__c</queriedFields>
        <queriedFields>Perch_Mngd_Forecasted_Anchor_Capacity__c</queriedFields>
        <queriedFields>Perch_Mngd_Forecasted_LMI_Capacity__c</queriedFields>
        <queriedFields>Perch_Mngd_Forecasted_Small_CS_Capacity__c</queriedFields>
        <queriedFields>Client_Mngd_Forecasted_C_I_Capacity__c</queriedFields>
        <queriedFields>Client_Mngd_Forecasted_Resi_Capacity__c</queriedFields>
        <queriedFields>Perch_Mngd_Forecasted_C_I_Capacity__c</queriedFields>
        <queriedFields>Perch_Mngd_Forecasted_Resi_Capacity__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_Comments</name>
        <label>Comments</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Combine_Acquisition_and_Forecasted_Orders</targetReference>
        </connector>
        <fields>
            <name>txt_Comments</name>
            <fieldText>&lt;p&gt;In the comments field below, enter an explanation of the update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Enter_Updated_Values</name>
        <label>Enter Updated Values</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Updated_Capacities</targetReference>
        </connector>
        <fields>
            <name>txt_NewValues</name>
            <fieldText>&lt;p&gt;Enter in the values that you want to update on the Shared Solar System. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varNew_System_Yield</name>
            <dataType>Number</dataType>
            <fieldText>New System Yield</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_Yield</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varNew_System_Size_kW_DC</name>
            <dataType>Number</dataType>
            <fieldText>New System Size kW DC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_SystemSize</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Finish</name>
        <label>Finish</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Finish</name>
            <fieldText>&lt;p&gt;Your Shared Solar System Order has been created and submitted for approval. &lt;a href=&quot;/{!sov_SSSO.Id}&quot; target=&quot;_blank&quot;&gt;Click here to view.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Intro</name>
        <label>scr_Intro</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Size_or_Yield</targetReference>
        </connector>
        <fields>
            <name>txtInfo</name>
            <fieldText>&lt;p&gt;Shared Solar System Orders are used to update the Yield and Total System Size kW DC field on Shared Solar Systems that are in the Acquisition and Management stages.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When we change these fields on an &quot;Active&quot; Shared Solar System, we need to update all of our customer&apos;s subscriptions to reflect those new inputs. That will happen automatically once the Shared Solar System gets Approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below, select the Shared Solar System field you&apos;d like to update:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Field_to_Update</name>
            <choiceReferences>choice_SystemSize</choiceReferences>
            <choiceReferences>choice_Yield</choiceReferences>
            <choiceReferences>choice_Reservation_Capacities</choiceReferences>
            <choiceReferences>choice_Managed_Capacities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Fields you want to update:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrReview</name>
        <label>Review</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_SSSO</targetReference>
        </connector>
        <fields>
            <name>txt_Review</name>
            <fieldText>&lt;p&gt;The last step is to submit the Shared Solar System Order for approval. Review the information below. If you want to make any changes, use the &quot;Previous&quot; button.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Shared Solar System&lt;/b&gt;: {!sov_SSS.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_ConfirmYield</name>
            <fieldText>&lt;p&gt;&lt;b&gt;New System Yield&lt;/b&gt;: {!varNew_System_Yield}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_Yield</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_ConfirmSystemSize</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;New System Size (kW DC)&lt;/b&gt;: {!varNew_System_Size_kW_DC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SystemSize</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_ConfirmComments</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Comments&lt;/b&gt;: {!varComments}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreviewCROs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Capacity_Reservation_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Capacity_Reservation_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CapacityReservationOrders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Responsible_for_Capacity__c,Customer_Type__c,Capacity_Type__c,Previous_Reserved_Capacity_kW_DC__c,New_Reserved_Capacity_kW_DC__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Responsible_for_Capacity__c:190, Customer_Type__c:165, Capacity_Type__c:150, Previous_Reserved_Capacity_kW_DC__c:250, New_Reserved_Capacity_kW_DC__c:250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfCROs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click the &quot;Next&quot; button to create the Shared Solar System Order and submit it for Approval. Once it&apos;s been approved, the Shared Solar System and related subscriptions will be automatically updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Managed_Capacities</name>
        <label>Update Managed Capacities</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Comments</targetReference>
        </connector>
        <fields>
            <name>Managed_Capacity_Updater</name>
            <extensionName>c:managedCapacityUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sssRecord</name>
                <value>
                    <elementReference>sov_SSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newSSSSize</name>
                <value>
                    <elementReference>varNew_System_Size_kW_DC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CapacityForecastedOrders</assignToReference>
                <name>capacityReservationOrders</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Reserved_Capacities</name>
        <label>Update Reserved Capacities</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Updated_Management_Capacities</targetReference>
        </connector>
        <fields>
            <name>ReservedCapacityUpdater</name>
            <extensionName>c:reservedCapacityUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sssRecord</name>
                <value>
                    <elementReference>sov_SSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newSSSSize</name>
                <value>
                    <elementReference>varNew_System_Size_kW_DC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CapacityReservationOrders</assignToReference>
                <name>capacityReservationOrders</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lookup_SSS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CapacityForecastedOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Capacity_Reservation_Order__c</objectType>
    </variables>
    <variables>
        <name>CapacityReservationOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Capacity_Reservation_Order__c</objectType>
    </variables>
    <variables>
        <name>capacityReservationOrdersWithSSSOLookup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Capacity_Reservation_Order__c</objectType>
    </variables>
    <variables>
        <name>CountOfCROs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>picklistval_Yield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yield</stringValue>
        </value>
    </variables>
    <variables>
        <name>sov_SSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System__c</objectType>
    </variables>
    <variables>
        <name>sov_SSSO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System_Order__c</objectType>
    </variables>
    <variables>
        <name>var_SSSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
