force-app/main/default/flows/Unqualify_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Adverse_Action_Email</name>
        <label>Send Adverse Action Email</label>
        <locationX>644</locationX>
        <locationY>1430</locationY>
        <actionName>InvocableUnqualifiedLeadEmailer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>leads</name>
            <value>
                <elementReference>Get_Lead</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Lead_with_FICO_Unqualification</name>
        <label>Update Lead with FICO Unqualification</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Unqualified_due_to_FICO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_FICO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add canned option selection to lead&apos;s unqualification reason field</description>
        <name>Update_Lead_with_Unqualification_Reason</name>
        <label>Update Lead with Unqualification Reason</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Reason_Unqualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedUnqualificationReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Unqualified_due_to_FICO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_FICO_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CustomerCancel_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Customer Initiated Cancellation&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Initiated Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demand_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Demand rate and/or Average Annual Demand &amp;gt; 25KW&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demand rate and/or Average Annual Demand &gt; 25KW</stringValue>
        </value>
    </choices>
    <choices>
        <name>FICO_UnqualificationReason</name>
        <choiceText>&lt;i style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;FICO &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;(&lt;/span&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Low FICO, No Match Credit Report, etc.)&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FICO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other Reason&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/b&gt;&lt;i style=&quot;font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;(Specify)&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Other</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>TooLittleHistory_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Less than 3 months of usage history&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 3 months of usage history</stringValue>
        </value>
    </choices>
    <choices>
        <name>TooSmallSize_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Less than 1,000 kWh in annual electricity use&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 1,000 kWh in annual electricity use</stringValue>
        </value>
    </choices>
    <choices>
        <name>UALSubscribed_UnqualificationReason</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Utility Account Already Subscribed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UAL Already Subscribed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Credit_Report_Exist</name>
        <label>Does Credit Report Exist?</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Credit_Report_Missing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Credit_Report_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.LASER_Credit_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_with_FICO_Unqualification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Meet_Criteria_to_Process</name>
        <label>Does Lead Meet Criteria to Process?</label>
        <locationX>347</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Reason_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Proceed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Unqualification_Reason</name>
        <label>Which Unqualification Reason?</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_with_Unqualification_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canned/Other</defaultConnectorLabel>
        <rules>
            <name>FICO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedUnqualificationReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FICO_UnqualificationReason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Credit_Report_Exist</targetReference>
            </connector>
            <label>FICO</label>
        </rules>
    </decisions>
    <description>Unqualifies a Lead, updates fields on the Lead accordingly, and sends adverse action emails to customer if applicable.</description>
    <interviewLabel>Unqualify Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unqualify Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>347</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Meet_Criteria_to_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Lead</name>
        <label>Get Updated Unqualified Lead</label>
        <locationX>644</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Adverse_Action_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update lead with FICO unqualification, and update Lead status</description>
        <name>Update_Lead_FICO_0</name>
        <label>Update Lead</label>
        <locationX>644</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Get_Updated_Lead</targetReference>
        </connector>
        <inputReference>LeadToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Cannot_Proceed</name>
        <label>Cannot Proceed</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cannot_Proceed_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This Lead cannot be &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unqualified &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;since it does not meet entry criteria for this process. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Possible Reasons:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;This Lead was already converted&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;This Lead was already marked Unqualified&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Report_Missing_Screen</name>
        <label>Credit Report Missing Screen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Credit_Report_Missing_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Credit Report&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; has been found for this Lead. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Please check to ensure the Lead has an appropriate Credit Report on file (and set on the Lead) before manually marking as Unqualified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_Selection</name>
        <label>Unqualification Reason Selection</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Unqualification_Reason</targetReference>
        </connector>
        <fields>
            <name>SelectedUnqualificationReason</name>
            <choiceReferences>FICO_UnqualificationReason</choiceReferences>
            <choiceReferences>Demand_UnqualificationReason</choiceReferences>
            <choiceReferences>TooLittleHistory_UnqualificationReason</choiceReferences>
            <choiceReferences>TooSmallSize_UnqualificationReason</choiceReferences>
            <choiceReferences>UALSubscribed_UnqualificationReason</choiceReferences>
            <choiceReferences>CustomerCancel_UnqualificationReason</choiceReferences>
            <choiceReferences>Other_UnqualificationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose or enter an unqualification reason:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;NOTE:&lt;/b&gt; When you press &quot;Next&quot;, an email will be sent to the customer indicating that we are unable to approve their application for Community Solar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Id of Lead</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
