src/flows/Assign_Customers_to_Client_Agreement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_SOs_to_Assignment_Agreement</name>
        <label>Assign SOs to Assignment Agreement</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <actionName>CustomerAssignmentService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contracts</name>
            <value>
                <elementReference>ContractsToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cutoffDate</name>
            <value>
                <elementReference>Cutoff_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>getContracts</name>
        <label>getContracts</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <actionName>ContractSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_contracts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientAcquiredCustomers</name>
            <value>
                <elementReference>Acquisition_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cutoffDate</name>
            <value>
                <elementReference>Cutoff_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entityId</name>
            <value>
                <elementReference>loopVarEntities.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContractsToAssign</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>InvocableEntitySelector</name>
        <label>InvocableEntitySelector</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <actionName>InvocableEntitySelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Contract_Assignment_Entity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientAccountIds</name>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EntitiesFromSOQL</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contract_To_Update_List</name>
        <label>Add Contract To Update List</label>
        <locationX>402</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>ContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractLoopVar2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contracts_Two</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Assignment_Entity_Names_and_Ids</name>
        <label>Assign Contract Assignment Entity Names and Ids</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>loopVarEntities.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Assignment_Entity_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Assignment_Entity_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Checks the &quot;Generate Addendum&quot; checkbox that triggers Conga</description>
        <name>Generate_Addendum</name>
        <label>Generate Addendum</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>ContractLoopVar2.Generate_Addendum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_Agreement_contract</name>
        <label>Set Assignment Agreement</label>
        <locationX>402</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>ContractLoopVar2.Assignment_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Contract_Addendum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_To_Insert_Fields</name>
        <label>Set Contract To Insert Fields</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ContractToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentAgreementRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.BlueWave_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVarEntities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Type_to_BlueWave_Acquired</name>
        <label>Set Contract Type to BlueWave Acquired</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ContractType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Customers_To_Client_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Type_to_Client_Acquired_Customer_Assignment</name>
        <label>Set Contract Type to Client Acquired Customer Assignment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ContractType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Acquired Customer Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Customers_To_Client_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContractRecordCount</name>
        <label>UpdateContractRecordCount</label>
        <locationX>270</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>ContractRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlueWaveAcquired</name>
        <choiceText>BlueWave Acquired</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ClientAcquired</name>
        <choiceText>Client Acquired</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Evaluate_Contract_Addendum</name>
        <label>Evaluate Contract Addendum</label>
        <locationX>402</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Add_Contract_To_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Addendum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLoopVar2.Product__r.Addendum_Template_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLoopVar2.Customer_Signature_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Addendum</targetReference>
            </connector>
            <label>Needs Addendum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Acquisition_Type_for_Contract</name>
        <label>Set Acquisition Type for Contract</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Contract_Type_to_BlueWave_Acquired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BlueWave Acquired</defaultConnectorLabel>
        <rules>
            <name>Client_Acquired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acquisition_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientAcquired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Type_to_Client_Acquired_Customer_Assignment</targetReference>
            </connector>
            <label>Client Acquired</label>
        </rules>
    </decisions>
    <description>Contract-feature only, with cutoff date</description>
    <formulas>
        <name>ContractName</name>
        <dataType>String</dataType>
        <expression>{!Client.recordName} &amp; &quot; Assignment Agreement &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>endOfLastMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY()),1)-1</expression>
    </formulas>
    <interviewLabel>Assign Customers to Client Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Customers to Client Agreement</label>
    <loops>
        <name>Get_Contract_Assignment_Entity_Ids</name>
        <label>Get Contract Assignment Entity Ids</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>SelectedDatatableEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Assignment_Entity_Names_and_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_contracts</name>
        <label>Loop through contracts</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>ContractLoopVar1</assignNextValueToReference>
        <collectionReference>ContractsToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateContractRecordCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmContractsUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contracts_Two</name>
        <label>Loop Through Contracts</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <assignNextValueToReference>ContractLoopVar2</assignNextValueToReference>
        <collectionReference>ContractsToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Assignment_Agreement_contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts_Small</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Loop_Through_Contracts_Two</targetReference>
        </connector>
        <inputReference>ContractToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AssignmentAgreementRecordType</name>
        <label>AssignmentAgreementRecordType</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contract_To_Insert_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assignment_Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts_Small</name>
        <label>Update Contracts</label>
        <locationX>182</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Assign_SOs_to_Assignment_Agreement</targetReference>
        </connector>
        <inputReference>ContractsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Assign_Customers_To_Client_Agreement</name>
        <label>Assign Customers To Client Agreement</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InvocableEntitySelector</targetReference>
        </connector>
        <fields>
            <name>Client</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pick Client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmContractsUpdateScreen</name>
        <label>ConfirmContractsUpdateScreen</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentAgreementRecordType</targetReference>
        </connector>
        <fields>
            <name>debugContractsScreen</name>
            <fieldText>&lt;p&gt;Found &lt;b style=&quot;color: rgb(26, 160, 255);&quot;&gt;{!ContractRecordCount}&lt;/b&gt; complete contracts linked to those entities that do not yet have an assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you click Next, these contracts will be linked to a newly created assignment agreement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cutoff_DateHeader</name>
        <label>Cutoff Date</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Acquisition_Type_for_Contract</targetReference>
        </connector>
        <fields>
            <name>CutoffDateText</name>
            <fieldText>&lt;p&gt;Please provide the date on or before which Opportunities need to be countersigned and SOs need to effective to be included in the AA&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cutoff_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endOfLastMonth</elementReference>
            </defaultValue>
            <fieldText>Cutoff Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AcquisitionTypeText</name>
            <fieldText>&lt;p&gt;Should this flow assign BlueWave Acquired customers to the client, or create a placeholder contract for Client Acquired customers?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acquisition_Type</name>
            <choiceReferences>BlueWaveAcquired</choiceReferences>
            <choiceReferences>ClientAcquired</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>BlueWaveAcquired</defaultSelectedChoiceReference>
            <fieldText>Acquisition Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_Screen</name>
        <label>Done Screen</label>
        <locationX>182</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoneMessage</name>
            <fieldText>&lt;p&gt;Done! You created a client assignment agreement: {!ContractToInsert.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contract_Assignment_Entity</name>
        <label>Select Contract Assignment Entity</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contract_Assignment_Entity_Ids</targetReference>
        </connector>
        <fields>
            <name>Select_Entity_Text</name>
            <fieldText>&lt;p&gt;Select the entity for which you want to create an assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customers that have not already been assigned who are on projects linked to the entity will be chosen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntitiesDatatable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard3</name>
                <value>
                    <elementReference>EntitiesFromSOQL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Entity Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard3</name>
                <value>
                    <elementReference>SelectedDatatableEntities</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>One</assignToReference>
                <name>singleSelection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedDatatableEntities</assignToReference>
                <name>selectedRows_standard3</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cutoff_DateHeader</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract_Assignment_Entity_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractLoopVar1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractLoopVar2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContractsToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitiesFromSOQL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>loopVarEntities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>One</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedContractAssignmentEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedDatatableEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
</Flow>
