src/flows/Assign_Customers_to_Client_Agreement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContractGenericBatchUpdate</name>
        <label>ContractGenericBatchUpdate</label>
        <locationX>1312</locationX>
        <locationY>2247</locationY>
        <actionName>GenericBatchDMLOperation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsToUpdate</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>recordsToUpdate</name>
            <value>
                <elementReference>ContractsToUpdate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>getContracts</name>
        <label>getContracts</label>
        <locationX>1277</locationX>
        <locationY>883</locationY>
        <actionName>ContractSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_contracts</targetReference>
        </connector>
        <inputParameters>
            <name>inputParameters</name>
            <value>
                <elementReference>Contract_Assignment_Entity_Ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContractsToAssign</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getOpps</name>
        <label>getOpps</label>
        <locationX>771</locationX>
        <locationY>885</locationY>
        <actionName>OpportunitiesSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetOppCount</targetReference>
        </connector>
        <inputParameters>
            <name>inputParameters</name>
            <value>
                <elementReference>Contract_Assignment_Entity_Ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OpportunitiesToAssign</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>InvocableEntitySelector</name>
        <label>InvocableEntitySelector</label>
        <locationX>609</locationX>
        <locationY>499</locationY>
        <actionName>InvocableEntitySelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Contract_Assignment_Entity</targetReference>
        </connector>
        <inputParameters>
            <name>clientAccountIds</name>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EntitiesFromSOQL</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OppGenericBatchUpdate</name>
        <label>OppGenericBatchUpdate</label>
        <locationX>735</locationX>
        <locationY>2248</locationY>
        <actionName>GenericBatchDMLOperation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsToUpdate</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>recordsToUpdate</name>
            <value>
                <elementReference>OpportunitiesToUpdate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Contract_To_Update_List</name>
        <label>Add Contract To Update List</label>
        <locationX>1511</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>ContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractLoopVar2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contracts_Two</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_to_Update_List</name>
        <label>Add Opp to Update List</label>
        <locationX>525</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLoopVarTwo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Assignment_Entity_Names_and_Ids</name>
        <label>Assign Contract Assignment Entity Names and Ids</label>
        <locationX>1279</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>selectedContractAssignmentEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Assignment_Entity_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Assignment_Entity_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contract_Assignment_Entity_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Assignment_Entity_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assigment_Agreement</name>
        <label>Set Assigment Agreement</label>
        <locationX>525</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>oppLoopVarTwo.Assignment_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_Agreement_contract</name>
        <label>Set Assignment Agreement</label>
        <locationX>1511</locationX>
        <locationY>1493</locationY>
        <assignmentItems>
            <assignToReference>ContractLoopVar2.Assignment_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_To_Insert_Fields</name>
        <label>Set Contract To Insert Fields</label>
        <locationX>1039</locationX>
        <locationY>1336</locationY>
        <assignmentItems>
            <assignToReference>ContractToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentAgreementRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToInsert.BlueWave_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedContractAssignmentEntityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContractRecordCount</name>
        <label>UpdateContractRecordCount</label>
        <locationX>1609</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>ContractRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOppRecordCount</name>
        <label>UpdateOppRecordCount</label>
        <locationX>443</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>OppRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contracts_or_Opportunities</name>
        <label>Contracts or Opportunities?</label>
        <locationX>1022</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>getOpps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract is NOT Live</defaultConnectorLabel>
        <rules>
            <name>Contract_Feature_is_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Feature_Flag.Feature_is_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContracts</targetReference>
            </connector>
            <label>Contract Feature is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordCountMore50</name>
        <label>IsRecordCountMoreThan50</label>
        <locationX>1307</locationX>
        <locationY>1839</locationY>
        <defaultConnector>
            <targetReference>Update_Contracts_Small</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than 50</defaultConnectorLabel>
        <rules>
            <name>More_Than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecordCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractGenericBatchUpdate</targetReference>
            </connector>
            <label>More Than 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordCountMoreThan50</name>
        <label>IsRecordCountMoreThan50</label>
        <locationX>728</locationX>
        <locationY>1827</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LessThan50</defaultConnectorLabel>
        <rules>
            <name>MoreThan50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppGenericBatchUpdate</targetReference>
            </connector>
            <label>MoreThan50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contracts_or_Opps</name>
        <label>Update Contracts or Opps?</label>
        <locationX>1031</locationX>
        <locationY>1701</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Opportunities</defaultConnectorLabel>
        <rules>
            <name>Update_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contracts_Two</targetReference>
            </connector>
            <label>Update Contracts</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContractName</name>
        <dataType>String</dataType>
        <expression>{!Client.recordName} &amp; &quot; Assignment Agreement &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assign Customers to Client Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Customers to Client Agreement</label>
    <loops>
        <name>Get_Contract_Assignment_Entity_Ids</name>
        <label>Get Contract Assignment Entity Ids</label>
        <locationX>1029</locationX>
        <locationY>499</locationY>
        <collectionReference>SelectedDatatableEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Assignment_Entity_Names_and_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Feature_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetOppCount</name>
        <label>GetOppCount</label>
        <locationX>627</locationX>
        <locationY>885</locationY>
        <assignNextValueToReference>oppLoopVarOne</assignNextValueToReference>
        <collectionReference>OpportunitiesToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOppRecordCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmOppsUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_contracts</name>
        <label>Loop through contracts</label>
        <locationX>1435</locationX>
        <locationY>883</locationY>
        <assignNextValueToReference>ContractLoopVar1</assignNextValueToReference>
        <collectionReference>ContractsToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateContractRecordCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmContractsUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contracts_Two</name>
        <label>Loop Through Contracts</label>
        <locationX>1311</locationX>
        <locationY>1613</locationY>
        <assignNextValueToReference>ContractLoopVar2</assignNextValueToReference>
        <collectionReference>ContractsToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Assignment_Agreement_contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsRecordCountMore50</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opps</name>
        <label>Loop Through Opps</label>
        <locationX>736</locationX>
        <locationY>1606</locationY>
        <assignNextValueToReference>oppLoopVarTwo</assignNextValueToReference>
        <collectionReference>OpportunitiesToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Assigment_Agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsRecordCountMoreThan50</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>1039</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Contracts_or_Opps</targetReference>
        </connector>
        <inputReference>ContractToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AssignmentAgreementRecordType</name>
        <label>AssignmentAgreementRecordType</label>
        <locationX>1037</locationX>
        <locationY>1157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contract_To_Insert_Fields</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assignment_Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feature_Flag</name>
        <label>Get Feature Flag</label>
        <locationX>1031</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contracts_or_Opportunities</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Contract_Object</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Feature_Enablement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts_Small</name>
        <label>Update Contracts</label>
        <locationX>1156</locationX>
        <locationY>1999</locationY>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <inputReference>ContractsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>887</locationX>
        <locationY>1999</locationY>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <inputReference>OpportunitiesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Assign_Customers_To_Client_Agreement</name>
        <label>Assign Customers To Client Agreement</label>
        <locationX>384</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InvocableEntitySelector</targetReference>
        </connector>
        <fields>
            <name>Client</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pick Client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmContractsUpdateScreen</name>
        <label>ConfirmContractsUpdateScreen</label>
        <locationX>1435</locationX>
        <locationY>1099</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentAgreementRecordType</targetReference>
        </connector>
        <fields>
            <name>debugContractsScreen</name>
            <fieldText>&lt;p&gt;Found &lt;b style=&quot;color: rgb(26, 160, 255);&quot;&gt;{!ContractRecordCount}&lt;/b&gt; complete contracts linked to those entities that do not yet have an assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you click Next, these contracts will be linked to a newly created assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the record count is &amp;gt;50, this will run in the background and take a moment to complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmOppsUpdateScreen</name>
        <label>ConfirmOppsUpdateScreen</label>
        <locationX>625</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentAgreementRecordType</targetReference>
        </connector>
        <fields>
            <name>DebugOppsScreen</name>
            <fieldText>&lt;p&gt;Found &lt;b style=&quot;color: rgb(26, 160, 255);&quot;&gt;{!OppRecordCount}&lt;/b&gt; complete opportunites linked to those entities that do not yet have an assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you click Next, these opportunities will be linked to a newly created assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the record count is &amp;gt;50, this will run in the background and take a moment to complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_Screen</name>
        <label>Done Screen</label>
        <locationX>1011</locationX>
        <locationY>2247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoneMessage</name>
            <fieldText>&lt;p&gt;Done! You created a client assignment agreement: {!ContractToInsert.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If there are more than 50 customers to assign, you will have to wait a few moments for all the customers to be linked. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contract_Assignment_Entity</name>
        <label>Select Contract Assignment Entity</label>
        <locationX>828</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contract_Assignment_Entity_Ids</targetReference>
        </connector>
        <fields>
            <name>Select_Entity_Text</name>
            <fieldText>&lt;p&gt;Select the entity for which you want to create an assignment agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customers that have not already been assigned who are on projects linked to the entity will be chosen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntitiesDatatable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard3</name>
                <value>
                    <elementReference>EntitiesFromSOQL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Entity Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard3</name>
                <value>
                    <elementReference>SelectedDatatableEntities</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>One</assignToReference>
                <name>singleSelection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedDatatableEntities</assignToReference>
                <name>selectedRows_standard3</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Assign_Customers_To_Client_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract_Assignment_Entity_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractLoopVar1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractLoopVar2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContractsToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>EntitiesFromSOQL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>loopVarEntities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>One</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>oppLoopVarOne</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppLoopVarTwo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedContractAssignmentEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedDatatableEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
</Flow>
