src/flows/Change_Commission_Structure.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Commission_Payment</name>
        <label>Create Commission Payment</label>
        <locationX>905</locationX>
        <locationY>301</locationY>
        <actionName>PartnerCommissionHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>opportunityList</name>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Error_Log</name>
        <label>Add Error Log</label>
        <locationX>920</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>sovc_ErrorLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_ErrorLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Error_Log_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commission_Structure_Id</name>
        <label>Assign Commission Structure Id</label>
        <locationX>602</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>getOpportunity.Commission_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupCS.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>751</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CP_Status</name>
        <label>Check CP Status</label>
        <locationX>395</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Loop_Commission_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Commission_Payments.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen</targetReference>
            </connector>
            <label>isApproved</label>
        </rules>
    </decisions>
    <interviewLabel>Change Commission Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Commission Structure</label>
    <loops>
        <name>Loop_Commission_Payments</name>
        <label>Loop Commission Payments</label>
        <locationX>184</locationX>
        <locationY>511</locationY>
        <collectionReference>Get_Commission_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_CP_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scr_Choose_Commission_Structure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Commission_Payments</name>
        <label>Get Commission Payments</label>
        <locationX>180</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Commission_Payments</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>173</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commission_Payments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>756</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Create_Commission_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>getOpportunity</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorLogScreen</name>
        <label>ErrorLogScreen</label>
        <locationX>1214</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;There was an issue changing the Commission Structure for this Opportunity. BizApps has been notified. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>354</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Sorry! This Opportunity already has an &quot;Approved&quot; Commission Payment with the current Commission Structure. If you need to update this Opportunity&apos;s Commission Structure, please contact BizApps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Choose_Commission_Structure</name>
        <label>Choose Commission Structure</label>
        <locationX>444</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Commission_Structure_Id</targetReference>
        </connector>
        <fields>
            <name>text_AssignCS</name>
            <fieldText>&lt;p&gt;Please select the new Commission Structure below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity&apos;s current Commission Structure: &lt;b&gt;{!getOpportunity.Commission_Structure__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupCS</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Commission_Structure__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Commission Structure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>getOpportunity.PartnerAccount.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>commissionStructureId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Error_Log_Flow</name>
        <label>Call Error Log Flow</label>
        <locationX>1080</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>ErrorLogScreen</targetReference>
        </connector>
        <flowName>Error_Log_Creation</flowName>
        <inputAssignments>
            <name>socv_ErrorLog</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>errorMessageText</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Flow: Change Commission Structure&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record: {!$Flow.CurrentRecord}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Message: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>booleanHasApprovedCP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>commissionStructureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sovc_ErrorLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
</Flow>
