src/flows/Chargent_Charge-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Call_Charge_Apex</name>
        <label>Call &quot;Charge&quot; Apex</label>
        <locationX>319</locationX>
        <locationY>251</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>Charge_Success_True_or_False</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>ChargentID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DebugString</assignToReference>
            <name>DebugString</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>Message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Reload</assignToReference>
            <name>Reload</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Charge_Success_True_or_False</name>
        <label>Charge Success True or False</label>
        <locationX>532</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Charge_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Charge_Apex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Transaction</targetReference>
            </connector>
            <label>Charge Success</label>
        </rules>
        <rules>
            <name>Charge_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Charge_Apex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errormessage</targetReference>
            </connector>
            <label>Charge Failure</label>
        </rules>
    </decisions>
    <description>Completes charge and checks &quot;distributed among bills&quot; checkbox</description>
    <interviewLabel>Chargent Charge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chargent Charge</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Chargent_Order</name>
        <label>Find Chargent Order</label>
        <locationX>91</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Charge_Apex</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentID</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__ChargentOrder__c</object>
        <outputAssignments>
            <assignToReference>soChargentOrder.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Transaction</name>
        <label>Find Transaction</label>
        <locationX>810</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkbox_Distributed_Among_System_Bills</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soChargentOrder.Id</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>transactionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Checkbox_Distributed_Among_System_Bills</name>
        <label>Checkbox Distributed Among System Bills</label>
        <locationX>1047</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>ChargeButtonOutputs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transactionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <screens>
        <name>ChargeButtonOutputs</name>
        <label>ChargeButtonOutputs</label>
        <locationX>1293</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Charge_Outputs</name>
            <defaultValue>
                <stringValue>{!DebugString}
{!Message}
{!Reload}
{!Status}</stringValue>
            </defaultValue>
            <fieldText>Charge Outputs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errormessage</name>
        <label>errormessage</label>
        <locationX>616</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Charge_Failed</name>
            <dataType>String</dataType>
            <fieldText>Charge Failed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Chargent_Order</startElementReference>
    <variables>
        <name>ChargentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DebugString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soChargentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__ChargentOrder__c</objectType>
    </variables>
    <variables>
        <name>soTransactionID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
