src/flows/Check_Logging_3_0-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>AnchorCharge</name>
        <label>AnchorCharge</label>
        <locationX>1004</locationX>
        <locationY>468</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookupanchor</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>AnchorChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Entity1Charge</name>
        <label>Entity1Charge</label>
        <locationX>359</locationX>
        <locationY>2184</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookup1</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>Entity1ChargentOrderID</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Entity2Charge_0</name>
        <label>Entity2Charge</label>
        <locationX>360</locationX>
        <locationY>2270</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookup2_0</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>Entity2ChargentOrderid</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Entity3Charge_0_0</name>
        <label>Entity3Charge</label>
        <locationX>362</locationX>
        <locationY>2355</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookup3_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>Entity3ChargentOrderID</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Entity4Charge_0_0_0</name>
        <label>Entity4Charge</label>
        <locationX>363</locationX>
        <locationY>2444</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookup4_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>Entity4ChargentOderID</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Entity5Charge_0_0_0_0</name>
        <label>Entity5Charge</label>
        <locationX>368</locationX>
        <locationY>2533</locationY>
        <apexClass>ChargentOrders__TChargentPluginCharge</apexClass>
        <connector>
            <targetReference>transactionlookup5_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>Entity5ChargentOrderID</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Add_Entity_to_list</name>
        <label>Add Entity to list</label>
        <locationX>388</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>ProcessedEntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sbloopvarEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>entity_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amount_Remaining</name>
        <label>Assign Amount Remaining</label>
        <locationX>41</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>AmountRemaining</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>System_Bill_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amounts_to_Log</name>
        <label>Assign Amounts to Log</label>
        <locationX>42</locationX>
        <locationY>1879</locationY>
        <assignmentItems>
            <assignToReference>AmounttoLog1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Log_to_Entity1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmounttoLog2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Log_to_Entity2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmounttoLog3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Log_to_Entity3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmounttoLog4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Log_to_Entity4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmounttoLog5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Log_to_Entity5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_amount_validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amounts_to_Log_0</name>
        <label>Assign Amounts to Log</label>
        <locationX>43</locationX>
        <locationY>1554</locationY>
        <assignmentItems>
            <assignToReference>RoundingErrorAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoundingErrorCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity1SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoundingErrorAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_Values_0_0_0</name>
        <label>Assign Chargent Values</label>
        <locationX>1380</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>Entity5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Project_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity5ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity5SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentperSystemBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_Values_0_0_0_0_1</name>
        <label>Assign Chargent Values</label>
        <locationX>1376</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>Entity4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Project_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity4ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity4SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentperSystemBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_Values_0_0_1</name>
        <label>Assign Chargent Values</label>
        <locationX>1368</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>Entity3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Project_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity3ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity3SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentperSystemBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_Values_0_1</name>
        <label>Assign Chargent Values</label>
        <locationX>1366</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>Entity2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Project_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity2ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity2SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentperSystemBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargent_Values_1</name>
        <label>Assign Chargent Values</label>
        <locationX>1360</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>Entity1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Project_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity1ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entity1SuggestedAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentperSystemBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>entity_counter</name>
        <label>entity counter</label>
        <locationX>536</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counter_check_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anchor</name>
        <label>Anchor</label>
        <locationX>269</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Anchor_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnchorQC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Anchor_Paper_Check</targetReference>
            </connector>
            <label>Anchor Check</label>
        </rules>
        <rules>
            <name>Not_Anchor_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnchorQC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Max_Account_Bill</targetReference>
            </connector>
            <label>Not Anchor Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_amount_validation</name>
        <label>Check amount validation</label>
        <locationX>213</locationX>
        <locationY>1883</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Amount_to_Log_Check_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check.Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SumAmounttoLog</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Amount_to_Log_Incorrect</targetReference>
            </connector>
            <label>Amount to Log != Check Total</label>
        </rules>
        <rules>
            <name>Amount_to_log_equals_Check_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumAmounttoLog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check.Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity1ChargentOrder</targetReference>
            </connector>
            <label>Amount to log = Check Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_bad_values</name>
        <label>Check for bad values</label>
        <locationX>204</locationX>
        <locationY>1780</locationY>
        <defaultConnector>
            <targetReference>Assign_Amounts_to_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1_Entity</name>
            <conditionLogic>(5 and (1 or 2 or 3 or 4)) OR (6 and (2 or 3 or 4)) OR (7 and (3 or 4)) or (8 and 4) or (9 and 10)</conditionLogic>
            <conditions>
                <leftValueReference>Amount_to_Log_to_Entity2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_to_Log_to_Entity3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_to_Log_to_Entity4</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_to_Log_to_Entity5</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_to_Log_to_Entity1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_log_bad_entites</targetReference>
            </connector>
            <label>1 Entity</label>
        </rules>
    </decisions>
    <decisions>
        <name>counter_check</name>
        <label>counter check</label>
        <locationX>220</locationX>
        <locationY>1419</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Exceeded_Max_number_of_Entities</targetReference>
            </connector>
            <label>error</label>
        </rules>
        <rules>
            <name>Under_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Entity_Variable</targetReference>
            </connector>
            <label>Under 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>counter_check_0</name>
        <label>counter check</label>
        <locationX>703</locationX>
        <locationY>1323</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>error_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Exceeded_Max_number_of_Entities</targetReference>
            </connector>
            <label>error</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_1</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_1</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_0_0_1</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_0</targetReference>
            </connector>
            <label>5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fifth_Entity</name>
        <label>Fifth Entity?</label>
        <locationX>930</locationX>
        <locationY>2443</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Log_Check_to_Fifth_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog5</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity5ChargentOrder_0_0_0_0</targetReference>
            </connector>
            <label>Log Check to Fifth Entity</label>
        </rules>
        <rules>
            <name>Don_t_log_to_Fifth_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog5</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkCheckasLogged</targetReference>
            </connector>
            <label>Don&apos;t log to Fifth Entity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Entity_Variable</name>
        <label>Find Entity Variable</label>
        <locationX>844</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Entity_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopvarSystemBill.Entity_id_18_digit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity1ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_1</targetReference>
            </connector>
            <label>Entity 1?</label>
        </rules>
        <rules>
            <name>Entity_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarSystemBill.Entity_id_18_digit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity2ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_1</targetReference>
            </connector>
            <label>Entity 2?</label>
        </rules>
        <rules>
            <name>Entity_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarSystemBill.Entity_id_18_digit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity3ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_1</targetReference>
            </connector>
            <label>Entity 3?</label>
        </rules>
        <rules>
            <name>Entity_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarSystemBill.Entity_id_18_digit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity4ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_0_0_1</targetReference>
            </connector>
            <label>Entity 4?</label>
        </rules>
        <rules>
            <name>Entity_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarSystemBill.Entity_id_18_digit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity5ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargent_Values_0_0_0</targetReference>
            </connector>
            <label>Entity 5?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fourth_Entity</name>
        <label>Fourth Entity?</label>
        <locationX>919</locationX>
        <locationY>2356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Log_Check_to_Fourth_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog4</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Screen_0</targetReference>
            </connector>
            <label>Log Check to Fourth Entity</label>
        </rules>
        <rules>
            <name>Don_t_log_fourth_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog4</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkCheckasLogged</targetReference>
            </connector>
            <label>Don&apos;t log fourth check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_check_been_logged</name>
        <label>Has check been logged?</label>
        <locationX>37</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_check_has_been_logged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check.Applied_to_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errormessage</targetReference>
            </connector>
            <label>Yes check has been logged</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check.Applied_to_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anchor</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_entity_been_processed</name>
        <label>Has entity been processed</label>
        <locationX>223</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>Add_Entity_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessedEntityList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sbloopvarEntity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counter_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Entity</name>
        <label>Second Entity?</label>
        <locationX>915</locationX>
        <locationY>2185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Log_Check_to_Second_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity2ChargentOrder_0</targetReference>
            </connector>
            <label>Log Check to Second Entity</label>
        </rules>
        <rules>
            <name>dont_log_second_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkCheckasLogged</targetReference>
            </connector>
            <label>dont log second check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Third_Entity</name>
        <label>Third Entity</label>
        <locationX>916</locationX>
        <locationY>2271</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Log_Check_to_Third_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog3</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Screen</targetReference>
            </connector>
            <label>Log Check to Third Entity</label>
        </rules>
        <rules>
            <name>Don_t_log_third_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmounttoLog3</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkCheckasLogged</targetReference>
            </connector>
            <label>Don&apos;t log third check</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EntityObject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Gateway__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Entity__c</object>
        <outputAssignments>
            <assignToReference>AnchorEntity</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>errorDifference</name>
        <dataType>Currency</dataType>
        <expression>{!Check.Amount__c}-{!SumAmounttoLog}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>this formula determiens the % of the total check amount that should go to each system bill.</description>
        <name>PaymentperSystemBill</name>
        <dataType>Currency</dataType>
        <expression>{!Check.Amount__c}*{!loopvarSystemBill.Carry_Over_Balance__c}/{!MaxAccountBill.Carry_Over_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>reduceorincrease</name>
        <dataType>String</dataType>
        <expression>IF({!SumAmounttoLog}&gt;{!Check.Amount__c},&quot;REDUCE&quot;,&quot;INCREASE&quot;)</expression>
    </formulas>
    <formulas>
        <name>RoundingErrorCheck</name>
        <dataType>Currency</dataType>
        <expression>{!Check.Amount__c} - ({!Entity1SuggestedAmount}+{!Entity2SuggestedAmount}+{!Entity3SuggestedAmount}+{!Entity4SuggestedAmount}+{!Entity5SuggestedAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumAmounttoLog</name>
        <dataType>Currency</dataType>
        <expression>{!AmounttoLog1} + {!AmounttoLog2} + {!AmounttoLog3} + {!AmounttoLog4} + {!AmounttoLog5}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Check Logging 3.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Logging 3.0</label>
    <loops>
        <name>Sys_Bill_Loop</name>
        <label>Sys Bill Loop</label>
        <locationX>38</locationX>
        <locationY>1135</locationY>
        <assignNextValueToReference>loopvarSystemBill</assignNextValueToReference>
        <collectionReference>socvarSystemBill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Related_Entity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Amounts_to_Log_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Anchor_CO</name>
        <label>Create Anchor CO</label>
        <locationX>805</locationX>
        <locationY>467</locationY>
        <assignRecordIdToReference>AnchorChargentOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>AnchorCharge</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>Check.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>Check.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>AnchorEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>Check.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Entity1ChargentOrder</name>
        <label>Entity1ChargentOrder</label>
        <locationX>213</locationX>
        <locationY>2184</locationY>
        <assignRecordIdToReference>Entity1ChargentOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Entity1Charge</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Bill__c</field>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>AmounttoLog1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>Entity1ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>AmounttoLog1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Entity2ChargentOrder_0</name>
        <label>Entity2ChargentOrder</label>
        <locationX>214</locationX>
        <locationY>2270</locationY>
        <assignRecordIdToReference>Entity2ChargentOrderid</assignRecordIdToReference>
        <connector>
            <targetReference>Entity2Charge_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Bill__c</field>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>AmounttoLog2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>Entity2ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>AmounttoLog2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Entity3ChargentOrder_0_0</name>
        <label>Entity3ChargentOrder</label>
        <locationX>216</locationX>
        <locationY>2355</locationY>
        <assignRecordIdToReference>Entity3ChargentOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Entity3Charge_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Bill__c</field>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>AmounttoLog3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>Entity3ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>AmounttoLog3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Entity4ChargentOrder_0_0_0</name>
        <label>Entity4ChargentOrder</label>
        <locationX>217</locationX>
        <locationY>2444</locationY>
        <assignRecordIdToReference>Entity4ChargentOderID</assignRecordIdToReference>
        <connector>
            <targetReference>Entity4Charge_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Bill__c</field>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>AmounttoLog4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>Entity4ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>AmounttoLog4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Entity5ChargentOrder_0_0_0_0</name>
        <label>Entity5ChargentOrder</label>
        <locationX>222</locationX>
        <locationY>2532</locationY>
        <assignRecordIdToReference>Entity5ChargentOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Entity5Charge_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Bill__c</field>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>AmounttoLog5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Shipping_Name__c</field>
            <value>
                <elementReference>Entity5ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>AmounttoLog5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Check__c</field>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Max_Account_Bill</name>
        <label>Find Max Account Bill</label>
        <locationX>268</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Amount_Remaining</targetReference>
        </connector>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovarPropertyAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account_Bill__c</object>
        <outputAssignments>
            <assignToReference>MaxAccountBill.Balance_Net_Late_Payments__c</assignToReference>
            <field>Balance_Net_Late_Payments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaxAccountBill.Carry_Over_Balance__c</assignToReference>
            <field>Carry_Over_Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaxAccountBill.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_so_Check</name>
        <label>Get so Check</label>
        <locationX>38</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_so_Property_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkid</elementReference>
            </value>
        </filters>
        <object>Paper_Check__c</object>
        <outputAssignments>
            <assignToReference>Check.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Check.Amount__c</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Check.Applied_to_Account__c</assignToReference>
            <field>Applied_to_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Check.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_so_Property_Account</name>
        <label>Get so Property Account</label>
        <locationX>37</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_check_been_logged</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sovarPropertyAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovarPropertyAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Entity</name>
        <label>Lookup Related Entity</label>
        <locationX>221</locationX>
        <locationY>1220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_entity_been_processed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopvarSystemBill.Entity_id_18_digit__c</elementReference>
            </value>
        </filters>
        <object>Entity__c</object>
        <outputReference>sbloopvarEntity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>System_Bill_Lookup</name>
        <label>System Bill Lookup</label>
        <locationX>38</locationX>
        <locationY>1045</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sys_Bill_Loop</targetReference>
        </connector>
        <filters>
            <field>Account_Bill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MaxAccountBill.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Carry_Over_Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>System_Bill__c</object>
        <outputReference>socvarSystemBill</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Account_Bill__c</queriedFields>
        <queriedFields>Property_Account__c</queriedFields>
        <queriedFields>Property_Account_ID__c</queriedFields>
        <queriedFields>Balance_Net_Late_Payments__c</queriedFields>
        <queriedFields>Entity_id_18_digit__c</queriedFields>
        <queriedFields>Entity_ID__c</queriedFields>
        <queriedFields>Project_Entity__c</queriedFields>
        <queriedFields>Carry_Over_Balance__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>transactionlookup1</name>
        <label>transactionlookup1</label>
        <locationX>497</locationX>
        <locationY>2185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_1_update</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity1ChargentOrderID</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>sotransaction1.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>transactionlookup2_0</name>
        <label>transactionlookup2</label>
        <locationX>498</locationX>
        <locationY>2271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_2_update_0</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity2ChargentOrderid</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>sotransaction2.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>transactionlookup3_0_0</name>
        <label>transactionlookup3</label>
        <locationX>500</locationX>
        <locationY>2356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_3_update_0_0</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity3ChargentOrderID</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>sptransaction3.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>transactionlookup4_0_0_0</name>
        <label>transactionlookup4</label>
        <locationX>501</locationX>
        <locationY>2445</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_4_update_0_0_0</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity4ChargentOderID</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>sotransaction4.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>transactionlookup5_0_0_0_0</name>
        <label>transactionlookup5</label>
        <locationX>506</locationX>
        <locationY>2533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_5_update_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity5ChargentOrderID</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>sotransaction5.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>transactionlookupanchor</name>
        <label>transactionlookupanchor</label>
        <locationX>1209</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transaction_anchor_update</targetReference>
        </connector>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnchorChargentOrderId</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__Transaction__c</object>
        <outputAssignments>
            <assignToReference>anchortransaction.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MarkCheckasLogged</name>
        <label>MarkCheckasLogged</label>
        <locationX>1628</locationX>
        <locationY>2539</locationY>
        <connector>
            <targetReference>allset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applied_to_Account__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Paper_Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Anchor_Chargent_Order_Update</name>
        <label>Second Anchor Chargent Order Update</label>
        <locationX>1615</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>MarkCheckasLogged</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnchorChargentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Chargent_Order_1_Update</name>
        <label>Second Chargent Order 1 Update</label>
        <locationX>772</locationX>
        <locationY>2185</locationY>
        <connector>
            <targetReference>Second_Entity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity1ChargentOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Chargent_Order_2_Update_0</name>
        <label>Second Chargent Order 2 Update</label>
        <locationX>773</locationX>
        <locationY>2271</locationY>
        <connector>
            <targetReference>Third_Entity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity2ChargentOrderid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Chargent_Order_3_Update_0_0</name>
        <label>Second Chargent Order 3 Update</label>
        <locationX>775</locationX>
        <locationY>2356</locationY>
        <connector>
            <targetReference>Fourth_Entity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity3ChargentOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Chargent_Order_4_Update_0_0_0</name>
        <label>Second Chargent Order 4 Update</label>
        <locationX>776</locationX>
        <locationY>2445</locationY>
        <connector>
            <targetReference>Fifth_Entity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity4ChargentOderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Chargent_Order_5_Update_0_0_0_0</name>
        <label>Second Chargent Order 5 Update</label>
        <locationX>781</locationX>
        <locationY>2533</locationY>
        <connector>
            <targetReference>MarkCheckasLogged</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity5ChargentOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <stringValue>Check (Paper)</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_1_update</name>
        <label>transaction 1 update</label>
        <locationX>637</locationX>
        <locationY>2185</locationY>
        <connector>
            <targetReference>Second_Chargent_Order_1_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sotransaction1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>AmounttoLog1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_2_update_0</name>
        <label>transaction 2 update</label>
        <locationX>638</locationX>
        <locationY>2271</locationY>
        <connector>
            <targetReference>Second_Chargent_Order_2_Update_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sotransaction2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>AmounttoLog2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_3_update_0_0</name>
        <label>transaction 3 update</label>
        <locationX>640</locationX>
        <locationY>2356</locationY>
        <connector>
            <targetReference>Second_Chargent_Order_3_Update_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sptransaction3.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>AmounttoLog3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_4_update_0_0_0</name>
        <label>transaction 4 update</label>
        <locationX>641</locationX>
        <locationY>2445</locationY>
        <connector>
            <targetReference>Second_Chargent_Order_4_Update_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sotransaction4.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>AmounttoLog4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_5_update_0_0_0_0</name>
        <label>transaction 5 update</label>
        <locationX>646</locationX>
        <locationY>2533</locationY>
        <connector>
            <targetReference>Second_Chargent_Order_5_Update_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sotransaction5.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>AmounttoLog5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributed_Among_System_Bills__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>transaction_anchor_update</name>
        <label>transaction_anchor_update</label>
        <locationX>1413</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Second_Anchor_Chargent_Order_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anchortransaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Amount__c</field>
            <value>
                <elementReference>Check.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Anchor_Paper_Check</name>
        <label>Update Anchor Paper Check</label>
        <locationX>426</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Select_Entity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anchor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Paper_Check__c</object>
    </recordUpdates>
    <screens>
        <name>allset</name>
        <label>allset</label>
        <locationX>1631</locationX>
        <locationY>2645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alldone</name>
            <fieldText>&lt;font size=&quot;7&quot;&gt;&lt;span style=&quot;color: #00afa9;&quot;&gt;&lt;strong&gt; YAY! Your check has been logged.&amp;nbsp;&lt;/strong&gt;&lt;/span&gt;&lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blanks</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>exittexts</name>
            <fieldText>You may now exit this window, or click next to return to the Paper Check page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_for_Anchor</name>
        <label>Check for Anchor?</label>
        <locationX>36</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_so_Check</targetReference>
        </connector>
        <fields>
            <name>AnchorExplanation</name>
            <fieldText>Some anchors are not billed by BlueWave. Checks received for these anchors still need to be logged in Salesforce in order to track transactions. Check the box below if this check is associated with an anchor that we DO NOT BILL.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnchorQC</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes, this check is for an anchor that BlueWave does not bill&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Exceeded_Max_number_of_Entities</name>
        <label>Error: Exceeded Max number of Entities</label>
        <locationX>511</locationX>
        <locationY>1480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errortoomanyentites</name>
            <fieldText>This Account has exceeded the maximum number of entities that can be used during this check logging flow. Please notify your salesforce administrator that this check will need to be logged manually.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_log_bad_entites</name>
        <label>error log bad entites</label>
        <locationX>528</locationX>
        <locationY>1782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorlogbadentites</name>
            <fieldText>Error. You&apos;ve entered values other than 0 into field without entites. You can only apply amounts to the entities with names listed. Click the &quot;Previous&quot; button to go back and fix the amount.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Amount_to_Log_Incorrect</name>
        <label>Error Screen: Amount to Log Incorrect</label>
        <locationX>527</locationX>
        <locationY>1880</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreenIncorrectLogAmount</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The amount you&amp;apos;re trying to log does not equal the total amount of the check:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Amount of Check: &lt;FONT KERNING=&quot;1&quot;&gt;{!Check.Amount__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Input: Total Amount to Log (all entites): &lt;FONT KERNING=&quot;1&quot;&gt;{!SumAmounttoLog}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Difference: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!errorDifference}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!reduceorincrease}&lt;/B&gt; the total amount you&amp;apos;re trying to log by &lt;B&gt;{!errorDifference}&lt;/B&gt;. &lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;Click the &amp;quot;Previous&amp;quot; button&lt;/B&gt; to go back  the previous screen, where you&amp;apos;ll be able to alter the amounts to log to each entity.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errormessage</name>
        <label>errormessage</label>
        <locationX>292</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>checkhasbeenlogged</name>
            <fieldText>Error. You cannot proceed because this check has already been logged (Applied to Account is equal to Yes on the Paper Check record).

If the check has not been logged, please exit the screen, change the Applied to Account field to No, and try to log the check again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Entity</name>
        <label>Select Entity</label>
        <locationX>608</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Anchor_CO</targetReference>
        </connector>
        <fields>
            <name>AnchorEntityInstructions</name>
            <fieldText>Please select the appropriate Entity that the funds from the paper check is meant to go to. This process is used purely for tracking purposes and will not transfer any funds.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entity</name>
            <choiceReferences>EntityObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>Information1</label>
        <locationX>45</locationX>
        <locationY>1779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_bad_values</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>Please enter the amounts that you would like to log to each Entity. You won&apos;t be allowed to log more than the total check amount. Once you&apos;ve entered the information, click next to log the checks to the account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalCheckAmount</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Total Check Amount: ${!Check.Amount__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Total Amount Due on Account: ${!MaxAccountBill.Balance_Net_Late_Payments__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuetoEntity1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Amount to {!Entity1}: &lt;/B&gt;{!Entity1SuggestedAmount}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Log_to_Entity1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount to Log to {!Entity1}:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>duetoentity2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Amount to {!Entity2}: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!Entity2SuggestedAmount}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Log_to_Entity2</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount to Log to {!Entity2}:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AmountDueEntity3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Amount to {!Entity3}: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!Entity3SuggestedAmount}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Log_to_Entity3</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount to Log to {!Entity3}:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>duetoentity4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Amount to {!Entity4}: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!Entity4SuggestedAmount}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Log_to_Entity4</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount to Log to {!Entity4}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>duetoentity5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Amount to {!Entity5}: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!Entity5SuggestedAmount}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Log_to_Entity5</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount to Log to {!Entity5}:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_Screen</name>
        <label>Wait Screen</label>
        <locationX>1374</locationX>
        <locationY>2260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Entity3ChargentOrder_0_0</targetReference>
        </connector>
        <fields>
            <name>AlmostThere</name>
            <fieldText>Almost there, click Next!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_Screen_0</name>
        <label>Wait Screen</label>
        <locationX>1370</locationX>
        <locationY>2347</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Entity4ChargentOrder_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AlmostThere_0</name>
            <fieldText>Almost there, click Next!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_for_Anchor</startElementReference>
    <variables>
        <name>ActiveEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>ActiveEntityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActiveLogAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AmountRemaining</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AmounttoLog1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_to_Log_to_Entity1</elementReference>
        </value>
    </variables>
    <variables>
        <name>AmounttoLog2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_to_Log_to_Entity2</elementReference>
        </value>
    </variables>
    <variables>
        <name>AmounttoLog3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_to_Log_to_Entity3</elementReference>
        </value>
    </variables>
    <variables>
        <name>AmounttoLog4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_to_Log_to_Entity4</elementReference>
        </value>
    </variables>
    <variables>
        <name>AmounttoLog5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_to_Log_to_Entity5</elementReference>
        </value>
    </variables>
    <variables>
        <name>AnchorChargentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnchorEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>anchortransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>ChargentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__ChargentOrder__c</objectType>
    </variables>
    <variables>
        <name>Check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Paper_Check__c</objectType>
    </variables>
    <variables>
        <name>checkid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collvarAccountBill</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Bill__c</objectType>
    </variables>
    <variables>
        <name>colvarEntities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity1Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Entity1ChargentOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity1ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity1SuggestedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity2Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity2ChargentOrderid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity2name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity2SuggestedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity3Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Entity3ChargentOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity3ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity3Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity3SuggestedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity4Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Entity4ChargentOderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity4ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity4Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity4SuggestedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entity5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity5Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Entity5ChargentOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity5ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity5Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entity5SuggestedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>listABSystemBills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>System_Bill__c</objectType>
    </variables>
    <variables>
        <name>loopvarAccountBill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Bill__c</objectType>
    </variables>
    <variables>
        <name>loopvarEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>loopvarSystemBill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>System_Bill__c</objectType>
    </variables>
    <variables>
        <name>MaxAccountBill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Bill__c</objectType>
    </variables>
    <variables>
        <name>ProcessedEntityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>relatedSystemBilllist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>System_Bill__c</objectType>
    </variables>
    <variables>
        <name>RoundingErrorAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sbloopvarEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entity__c</objectType>
    </variables>
    <variables>
        <name>socvarSystemBill</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>System_Bill__c</objectType>
    </variables>
    <variables>
        <name>sotransaction1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>sotransaction2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>sotransaction4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>sotransaction5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
    <variables>
        <name>sovarPropertyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sptransaction3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentOrders__Transaction__c</objectType>
    </variables>
</Flow>
