src/flows/CheckCSQualification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>allErrors</name>
        <label>allErrors</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>sovc_Error_Logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Error_Log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_firstUtilityId</name>
        <label>Assign firstUtilityId</label>
        <locationX>930</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>firstUtilityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utilityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getParcelZip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Variables</name>
        <label>Assign Input Variables</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>zipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zipcodeInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>underwritingInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Underwriting_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getParcelZip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_id_0</name>
        <label>Assign Lead Id</label>
        <locationX>1546</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadIdManualInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error_Log</name>
        <label>error_Log</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RunningUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ask Yoda</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>allErrors</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceFICO</name>
        <choiceText>FICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FICO</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFinancialReview</name>
        <choiceText>Financial Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>leadIdChoice</name>
        <choiceText>By Lead ID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leadId</stringValue>
        </value>
    </choices>
    <choices>
        <name>leadInput</name>
        <choiceText>By Lead Lookup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leadInput </stringValue>
        </value>
    </choices>
    <choices>
        <name>manualInputs</name>
        <choiceText>By Partner, Product, ZIP, and Underwriting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manualInput </stringValue>
        </value>
    </choices>
    <choices>
        <name>noneUnderwriting</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>MethodDecision</name>
        <label>MethodDecision</label>
        <locationX>930</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>manualInputs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Variables</targetReference>
            </connector>
            <label>Manual Inputs</label>
        </rules>
        <rules>
            <name>Lead_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leadInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLead</targetReference>
            </connector>
            <label>Lead Lookup</label>
        </rules>
        <rules>
            <name>Lead_ID_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leadIdChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_id_0</targetReference>
            </connector>
            <label>Lead ID Input</label>
        </rules>
    </decisions>
    <description>Displays eligible Shared Solar Systems for a deal by Lead or other Manual Inputs</description>
    <formulas>
        <name>ficoResult</name>
        <dataType>String</dataType>
        <expression>IF( {!chooseMethod} = {!manualInputs}, IF( {!underwritingInput} = &apos;FICO&apos;, &apos;800&apos;, &apos;N/A&apos;), {!fico})</expression>
    </formulas>
    <formulas>
        <name>formula_RunningUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CheckCSQualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ask Yoda</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>930</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_firstUtilityId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>fico</assignToReference>
            <field>LASER_Credit_Score__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>zipCode</assignToReference>
            <field>Parcel_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerId</assignToReference>
            <field>Partner_Lookup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>productId</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>underwritingInput</assignToReference>
            <field>Underwriting_Criteria__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>utilityId</assignToReference>
            <field>Utility_relationship__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getParcelZip</name>
        <label>getParcelZip</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUtility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>zipCode</elementReference>
            </value>
        </filters>
        <object>Load_U__c</object>
        <outputAssignments>
            <assignToReference>loadZone</assignToReference>
            <field>LZ__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>utilityCount</assignToReference>
            <field>Utility_Junction_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPartner</name>
        <label>getPartner</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partnerId</elementReference>
            </value>
        </filters>
        <object>Partner__c</object>
        <outputAssignments>
            <assignToReference>partnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrResults</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>productName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUtility</name>
        <label>Get First Utility</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPartner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>firstUtilityId</elementReference>
            </value>
        </filters>
        <object>Utility__c</object>
        <outputAssignments>
            <assignToReference>utilityName1</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrCS_Qualification_Check</name>
        <label>Which Solar Farms will a customer qualify for?</label>
        <locationX>930</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MethodDecision</targetReference>
        </connector>
        <fields>
            <name>askYodaHeader</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>askYodaHeaderImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>chooseMethod</name>
            <choiceReferences>leadInput</choiceReferences>
            <choiceReferences>manualInputs</choiceReferences>
            <choiceReferences>leadIdChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check Qualified Systems</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>findLeadLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Find Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Utility_Account_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>leadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leadId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>leadInput</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>findPartnerLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Partner_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Find Partner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>partnerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>partnerId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>manualInputs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>findProductLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Shared_Solar_System__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Find Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>productId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>productId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>manualInputs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>zipcodeInput</name>
            <dataType>String</dataType>
            <fieldText>Enter 5 Digit ZIP Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Oops! This doesn&apos;t appear to be a valid ZIP Code. Please try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!zipcodeInput},&quot;^[0-9]{5}(?:-[0-9]{4})?$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>manualInputs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Underwriting_Method</name>
            <choiceReferences>choiceFICO</choiceReferences>
            <choiceReferences>choiceFinancialReview</choiceReferences>
            <choiceReferences>noneUnderwriting</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceFICO</defaultSelectedChoiceReference>
            <fieldText>Select Underwriting Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>manualInputs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>leadIdManualInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>leadId</elementReference>
            </defaultValue>
            <fieldText>Enter Lead ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Oops! It looks like the entered Lead ID is invalid. Please try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!leadIdManualInput}, &quot;[a-zA-Z0-9]{15}|[a-zA-Z0-9]{18}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>leadIdChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrErrors</name>
        <label>Errors</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textErrors</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error was encountered!&lt;/b&gt; BizApps has been notified. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;To check your inputs and try again, click &quot;Previous&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrResults</name>
        <label>Results</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textCheckInputs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;With the given information, the applicant has the best chance of qualifying for one of the below projects. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only projects marked with a &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(2, 199, 54);&quot;&gt;GREEN &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;check will meet ALL qualification requirements. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;u&gt;Applicant Info:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Product: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!productName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Partner: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!partnerName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;ZIP: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!zipCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Utility: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!utilityName1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Load Zone:  &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!loadZone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Underwriting: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!underwritingInput}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;FICO Score: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!ficoResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>multipleUtilities</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;WARNING: This ZIP Code is a &quot;Split ZIP&quot; and is associated with multiple Utilities.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>utilityCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>matchResults</name>
            <extensionName>c:csQualificationTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>partner</name>
                <value>
                    <elementReference>partnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>product</name>
                <value>
                    <elementReference>productId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipCode</name>
                <value>
                    <elementReference>zipCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>underwriting</name>
                <value>
                    <elementReference>underwritingInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadId</name>
                <value>
                    <elementReference>leadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disclaimer</name>
            <fieldText>&lt;p&gt;&lt;b&gt;*Shared Solar Systems are ordered by Assignment Order.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrCS_Qualification_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Errors</name>
        <label>Log Errors</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>scrErrors</targetReference>
        </connector>
        <flowName>Error_Log_Creation</flowName>
        <inputAssignments>
            <name>socv_ErrorLog</name>
            <value>
                <elementReference>sovc_Error_Logs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flow: Check CS Qualification Flow&lt;/p&gt;&lt;p&gt;Message: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>utilityNames</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Utility: &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>fico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstUtilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loadZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parcelZipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_Error_Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sovc_Error_Logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>underwritingInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FICO</stringValue>
        </value>
    </variables>
    <variables>
        <name>utilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>utilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utilityName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utilityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility__c</objectType>
    </variables>
    <variables>
        <name>varDisplayUtilityNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipCodeJunctions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ZipCode_Utility_Junction__c</objectType>
    </variables>
</Flow>
