src/flows/Client_Invoicing_Generate_Invoice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSFeeSelector</name>
        <label>CSFeeSelector</label>
        <locationX>608</locationX>
        <locationY>904</locationY>
        <actionName>InvocableCSFeeSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Systems_To_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientAccountId</name>
            <value>
                <elementReference>clientAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientEntityId</name>
            <value>
                <elementReference>Selected_Client_EntityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>forAcquisition</name>
            <value>
                <elementReference>AcquisitionOrReacquisition</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sharedSolarSystemSummaryJSON</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>InvocableClientInvoiceGenerator</name>
        <label>InvocableClientInvoiceGenerator</label>
        <locationX>609</locationX>
        <locationY>1145</locationY>
        <actionName>InvocableClientInvoiceGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoices_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>forAcquisition</name>
            <value>
                <elementReference>AcquisitionOrReacquisition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientEntityId</name>
            <value>
                <elementReference>Selected_Client_EntityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeChangeFees</name>
            <value>
                <elementReference>Include_Changes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeAssignmentFees</name>
            <value>
                <elementReference>Include_Assignment_Agreements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sharedSolarSystemJSON</name>
            <value>
                <elementReference>selectedSharedSolarSystemJSON</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newInvoices</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Client_Account</name>
        <label>Set Client Account</label>
        <locationX>734</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>clientAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Agreement.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Account_From_Lookup</name>
        <label>Set Client Account</label>
        <locationX>469</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>clientAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Account_To_RecordId</name>
        <label>Set Client Account</label>
        <locationX>608</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>clientAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Entity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ForAcquisition</name>
        <choiceText>Acquisition</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ForAnchors</name>
        <choiceText>Anchors</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ForReacquisition</name>
        <choiceText>Reacquisition</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ForSmallOfftake</name>
        <choiceText>Small Offtake</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Get_Client_Account</name>
        <label>Get Client Account?</label>
        <locationX>601</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Assignment_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignment Agreement Provided</defaultConnectorLabel>
        <rules>
            <name>Collect_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Client_Account</targetReference>
            </connector>
            <label>Collect Client</label>
        </rules>
        <rules>
            <name>RecordId_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Account_To_RecordId</targetReference>
            </connector>
            <label>RecordId is Account</label>
        </rules>
    </decisions>
    <description>Generates a Client Invoice from selected Shared Solar Systems</description>
    <dynamicChoiceSets>
        <name>Client_Entities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientAccount</elementReference>
            </value>
        </filters>
        <object>Entity__c</object>
        <outputAssignments>
            <assignToReference>Selected_Client_EntityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>endOfLastMonth</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(DATE(YEAR(TODAY()),MONTH(TODAY()),1)) + &apos; 03:59:59&apos;)</expression>
    </formulas>
    <interviewLabel>Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Invoicing: Generate Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assignment_Agreement</name>
        <label>Get Assignment Agreement</label>
        <locationX>733</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Client_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Client_Account</name>
        <label>Choose Client Account</label>
        <locationX>469</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Client_Account_From_Lookup</targetReference>
        </connector>
        <fields>
            <name>Client</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Client_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Shared_Solar_System__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Entity</name>
        <label>Choose Entity</label>
        <locationX>609</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CSFeeSelector</targetReference>
        </connector>
        <fields>
            <name>Client_Entities_Picklist</name>
            <choiceReferences>Client_Entities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Assignment Entity to Invoice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Subscription Orders and Client Invoicing Memos for Shared Solar Systems with the selected Contract Assignment Entity will be included in this invoice&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>912</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Sorry, we ran into an error:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoices_Created</name>
        <label>Invoices Created</label>
        <locationX>611</locationX>
        <locationY>1271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invoices</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Invoice__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Id, Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>newInvoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Effective_Date</name>
        <label>Provide Effective Date</label>
        <locationX>608</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Client_Account</targetReference>
        </connector>
        <fields>
            <name>Introduction</name>
            <fieldText>&lt;p&gt;This flow will preview and generate an Invoice record related to un-invoiced Subscription Orders and Client Invoicing Memos, for the systems that you&apos;ll select on the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>endOfLastMonth</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Pulls SOs and CIMs before this datetime  into the invoice. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AcquisitionOrReacquisition</name>
            <choiceReferences>ForAcquisition</choiceReferences>
            <choiceReferences>ForReacquisition</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>ForAcquisition</defaultSelectedChoiceReference>
            <fieldText>Generate for Acquisition or Reacqusition</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Systems_To_Invoice</name>
        <label>Select Systems To Invoice</label>
        <locationX>609</locationX>
        <locationY>1025</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InvocableClientInvoiceGenerator</targetReference>
        </connector>
        <fields>
            <name>SelectSystemsToInvoice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>id, sharedSolarSystemName, assignmentEntityName, totalAssignmentsToInvoice, totalChangesToInvoice, uninvoicedRecords</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>sharedSolarSystemSummaryJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>id:id, sharedSolarSystemName:text,assignmentEntityName:text, totalAssignmentsToInvoice:currency, totalChangesToInvoice:currency, uninvoicedRecords:number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>id:Id, sharedSolarSystemName:Name, assignmentEntityName:Assignment Entity, totalAssignmentsToInvoice:Assignments Amount, totalChangesToInvoice:Changes Amount, uninvoicedRecords:Number of SOs and CIMs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnScales</name>
                <value>
                    <stringValue>totalAssignmentsToInvoice:2, totalChangesToInvoice:2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRowsString</name>
                <value>
                    <elementReference>sharedSolarSystemSummaryJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSharedSolarSystemJSON</assignToReference>
                <name>outputSelectedRowsString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Include_Assignment_Agreements</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Include Assignment Agreements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Changes</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Include Changes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>482</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Provide_Effective_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <description>Optional Assignment Agreement Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Client_EntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSharedSolarSystemJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Serialized List&lt;SharedSolarSystem&gt; to pass to DatatableV2 for selection</description>
        <name>sharedSolarSystemSummaryJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
