src/flows/CounterSign_Contracts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Formats the record collection variable so that it can be used in SOQL queries.</description>
        <name>AddQuotes_Contracts</name>
        <label>AddQuotes_Contracts</label>
        <locationX>51</locationX>
        <locationY>684</locationY>
        <actionName>AddQuotesToFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExecuteSOQL_Contracts</targetReference>
        </connector>
        <inputParameters>
            <name>fieldCollection</name>
            <value>
                <elementReference>extractContracts.fieldValueCollection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_ContractIdList</assignToReference>
            <name>fieldString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExecuteSOQL_Contracts</name>
        <label>ExecuteSOQL_Contracts</label>
        <locationX>51</locationX>
        <locationY>835</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Opportunites</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>SOQL_Contracts</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>socv_Contracts</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExecuteSOQL_Opportunities</name>
        <label>ExecuteSOQL_Opportunities</label>
        <locationX>48</locationX>
        <locationY>243</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scr_SelectOpps</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>SOQL_Opportunities</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>socv_PendingOpportunities</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>extractContracts</name>
        <label>extractContracts</label>
        <locationX>51</locationX>
        <locationY>540</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddQuotes_Contracts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>dedupeValues</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>ContractId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>socv_SelectedOpportuniites</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_AddOppToList</name>
        <label>Assign_AddOppToList</label>
        <locationX>441</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>socv_OpportunitiesUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvar_Opportunites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunites</name>
        <label>Assign_Opportunites</label>
        <locationX>225</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>loopvar_Opportunites.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_Opportunites.Contract_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddOppToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Assignment</name>
        <label>Contract Assignment</label>
        <locationX>580</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>loopvar_Contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_Contracts.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_Contracts.Generate_Countersigned_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Assignment_0</name>
        <label>Contract Assignment</label>
        <locationX>791</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>socv_ContractUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvar_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CounterSign Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CounterSign Contracts</label>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop_Contracts</label>
        <locationX>692</locationX>
        <locationY>835</locationY>
        <assignNextValueToReference>loopvar_Contracts</assignNextValueToReference>
        <collectionReference>socv_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunites</name>
        <label>Loop_Opportunites</label>
        <locationX>331</locationX>
        <locationY>835</locationY>
        <assignNextValueToReference>loopvar_Opportunites</assignNextValueToReference>
        <collectionReference>socv_SelectedOpportuniites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunites</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_Contracts</name>
        <label>update_Contracts</label>
        <locationX>1031</locationX>
        <locationY>831</locationY>
        <connector>
            <targetReference>update_Opportunities</targetReference>
        </connector>
        <inputReference>socv_ContractUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opportunities</name>
        <label>update_Opportunities</label>
        <locationX>1031</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>scr_End</targetReference>
        </connector>
        <inputReference>socv_OpportunitiesUpdateList</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>scr_End</name>
        <label>scr_End</label>
        <locationX>1031</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_End</name>
            <fieldText>&lt;p&gt;The selected contracts have been successfully countersigned and sent to the customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish or exist out of the screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_SelectOpps</name>
        <label>scr_SelectOpps</label>
        <locationX>51</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>extractContracts</targetReference>
        </connector>
        <fields>
            <name>scr_SelectOpportunities</name>
            <fieldText>&lt;p&gt;Below, select the Opportunities that you would like to countersign. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you don&apos;t see the Opportunity that you&apos;d like to countersign, make sure that it:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Has a Contract associated with it&lt;/li&gt;&lt;li&gt;Stage= Pending BlueWave Countersignature&lt;/li&gt;&lt;li&gt;Generate Countersignature checkbox on the Contract is set to False&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;By clicking &quot;Next&quot;, the completed contract will be emailed to the customer, and the Opportunity stage will be set to complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>table_Opportunities</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard4</name>
                <value>
                    <elementReference>socv_PendingOpportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard4</name>
                <value>
                    <elementReference>socv_SelectedOpportuniites</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Customer_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Customer Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Contract_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Customer Signature Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>All_QC_Boxes_True__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>All QC Boxes True?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>Quality_Check_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>QC Approval Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column07_fieldName</name>
                <value>
                    <stringValue>ContractId </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column07_label</name>
                <value>
                    <stringValue>Contract ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column08_fieldName</name>
                <value>
                    <stringValue>Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column08_label</name>
                <value>
                    <stringValue>Comments</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>socv_SelectedOpportuniites</assignToReference>
                <name>mydata_standard4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>socv_SelectedOpportuniites</assignToReference>
                <name>selectedRows_standard4</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>23</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>ExecuteSOQL_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SOQL_Contracts</name>
        <text>SELECT Id,Name,Status FROM Contract WHERE Id IN ({!var_ContractIdList})</text>
    </textTemplates>
    <textTemplates>
        <name>SOQL_Opportunities</name>
        <text>select id,Name, StageName, ContractId, All_QC_Boxes_True__c, Customer_Group__c, Contract_Status__c, Quality_Check_Status__c, Comments__c from Opportunity where Product_Line__c=&apos;Community Solar&apos; and Contract.Generate_Countersigned_Version__c=false and StageName=&apos;Pending BlueWave Signature&apos; and Customer_Group__c!=null and ContractId!=null</text>
    </textTemplates>
    <variables>
        <name>loopvar_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>loopvar_Opportunites</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>socv_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>socv_ContractUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>socv_OpportunitiesUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>socv_PendingOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>socv_SelectedOpportuniites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_ContractIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
