src/flows/Create_Account_Setup_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>allErrors</name>
        <label>allErrors</label>
        <locationX>1502</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>sovc_Error_Logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Error_Log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Subject</name>
        <label>Assign Default Subject</label>
        <locationX>828</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>varCaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Variable_with_Customer_Input</name>
        <label>Assign Subject Variable with Customer Input</label>
        <locationX>562</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>varCaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>1357</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Error_Log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>allErrors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>determines whether the customer put in a subject or not</description>
        <name>Subject_entered_by_Customer</name>
        <label>Subject entered by Customer</label>
        <locationX>696</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Subject Entered</defaultConnectorLabel>
        <rules>
            <name>Subject_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Variable_with_Customer_Input</targetReference>
            </connector>
            <label>Subject Entered</label>
        </rules>
    </decisions>
    <description>Screen flow visible on member portal registration page to create a case when the customer wants to setup an account on the portal or needs help with their existing account.</description>
    <formulas>
        <description>used to generate the case&apos;s description with inputs from the user</description>
        <name>Case_Description_Formula</name>
        <dataType>String</dataType>
        <expression>&apos;Customer Care,&apos; + BR() + BR() +
&apos;A user is having trouble setting up their account and just submitted this form from the Forgot Password page. &apos;  + BR() + BR() +
&apos;First Name: &apos; + {!Name.firstName} + BR() + 
&apos;Last Name: &apos; + {!Name.lastName} + BR() +
&apos;Email: &apos; + {!user_email.value} + BR() +
&apos;Phone: &apos; + {!user_phone.value} + BR() +
&apos;Account Number: &apos; + {!Account_Number} + BR() + BR() +
&apos;Please check Salesforce for their account and setup as necessary.&apos;</expression>
    </formulas>
    <formulas>
        <description>if no subject is entered by the user the case subject will default to this formula</description>
        <name>Subject_Formula</name>
        <dataType>String</dataType>
        <expression>&apos;Please help setup my account: &apos;  + {!user_email.value}</expression>
    </formulas>
    <interviewLabel>Create Account Setup Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Member Portal Account Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create a customer care case for helping setup the account for the customer</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>696</locationX>
        <locationY>902</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Portal Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Owner_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <stringValue>Community Solar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Customer_Care_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Post-sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Owner_Id</name>
        <label>Get Case Owner Id</label>
        <locationX>696</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Care_Record_Type_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Care_Record_Type_Id</name>
        <label>Get Customer Care Record Type Id</label>
        <locationX>696</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subject_entered_by_Customer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Care</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen for users to enter in their account information</description>
        <name>Collect_User_Information_Screen</name>
        <label>Collect User Information Screen</label>
        <locationX>696</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Owner_Id</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>user_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>yourEmail@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>user_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>555-555-5555</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]{3}-[0-9]{3}-[0-9]{4}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1147</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Error_Log</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 4, 4); font-size: 14px;&quot;&gt;ERROR&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Msg_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are was error while processing your request. Please contact {!$Label.Company_Name} Customer Care at {!$Label.phone_customercare} or {!$Label.email_customercare}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>696</locationX>
        <locationY>1022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your request has been sent!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>570</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Collect_User_Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Error</name>
        <label>Create Error</label>
        <locationX>1647</locationX>
        <locationY>628</locationY>
        <flowName>Error_Log_Creation</flowName>
        <inputAssignments>
            <name>socv_ErrorLog</name>
            <value>
                <elementReference>sovc_Error_Logs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flow: Member Portal Account Setup Flow&lt;/p&gt;&lt;p&gt;Message: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>sov_Error_Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sovc_Error_Logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <description>Case subject variable</description>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
