src/flows/Create_Utility_Account_Logs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>For each file selected, creates a value in the Content Doc Link sObject variable</description>
        <name>asgContentDocLinktoSOV</name>
        <label>asgContentDocLinktoSOV</label>
        <locationX>859</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>sovContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentContentDoc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUtilityAccountLogId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgNewContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgNewContentDocumentLinks</name>
        <label>asgNewContentDocumentLinks</label>
        <locationX>859</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>rcNewContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedContentDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgStoreContentDocuments</name>
        <label>asgStoreContentDocuments</label>
        <locationX>672</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>rcContentDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcCurrentContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContentDocuments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prop_Account_ID</name>
        <label>Assign Prop Account ID</label>
        <locationX>68</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varSelectedPropertyAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPropAcctId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Property_Account_Id1</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>forProductSubscriptionType</name>
        <dataType>String</dataType>
        <expression>TEXT({!varLead.Product__r.Customer_Subscription_Type__c})</expression>
    </formulas>
    <formulas>
        <name>forUALUsageAmount_elect</name>
        <dataType>Number</dataType>
        <expression>IF({!forProductSubscriptionType}=&quot;Electricity Cost ($)&quot;,{!inpUsage},NULL)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Based on the subscription type, this will pass the appropriate amount into the correct usage field (kWh or $) when creating the UAL</description>
        <name>forUALUsageAmount_kWh</name>
        <dataType>Number</dataType>
        <expression>IF({!forProductSubscriptionType}=&quot;kWh&quot;,{!inpUsage},NULL)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Create Utility Account Logs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Utility Account Logs</label>
    <loops>
        <name>Get_Property_Account_Id1</name>
        <label>Get Property Account Id</label>
        <locationX>73</locationX>
        <locationY>440</locationY>
        <assignNextValueToReference>loopPropAcctId</assignNextValueToReference>
        <collectionReference>rcSelectedPropertyAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Prop_Account_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>rcCreateUAL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopContentDocuments</name>
        <label>loopContentDocuments</label>
        <locationX>671</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>varContentDocLink</assignNextValueToReference>
        <collectionReference>rcContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rlGetContentDoc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Query_Property_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedContentDocs</name>
        <label>loopSelectedContentDocs</label>
        <locationX>541</locationX>
        <locationY>400</locationY>
        <assignNextValueToReference>varCurrentContentDoc</assignNextValueToReference>
        <collectionReference>rcSelectedContentDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgContentDocLinktoSOV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>rcContentDocLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>rcContentDocLinks</name>
        <label>Create new Content Document Links to UAL</label>
        <locationX>541</locationX>
        <locationY>629</locationY>
        <inputReference>rcNewContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>rcCreateUAL</name>
        <label>rcCreateUAL</label>
        <locationX>282</locationX>
        <locationY>445</locationY>
        <assignRecordIdToReference>varUtilityAccountLogId</assignRecordIdToReference>
        <connector>
            <targetReference>loopSelectedContentDocs</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedPropertyAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Cost_of_Electricity__c</field>
            <value>
                <elementReference>forUALUsageAmount_elect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_kWh__c</field>
            <value>
                <elementReference>forUALUsageAmount_kWh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>inpUANumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_on_Account__c</field>
            <value>
                <elementReference>inpName_on_Utility_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address__c</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_City__c</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_State__c</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Zip_Code__c</field>
            <value>
                <elementReference>varPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_lookup__c</field>
            <value>
                <elementReference>varLead.Utility_relationship__c</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>200</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlQueryFilesattachedtoleads</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_relationship__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Property_Accounts</name>
        <label>Query Property Accounts</label>
        <locationX>350</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrCreate_Utility_Account_Log</targetReference>
        </connector>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>rcPropertyAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>rlGetContentDoc</name>
        <label>rlGetContentDoc</label>
        <locationX>1091</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgStoreContentDocuments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContentDocLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>rcCurrentContentDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FileType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>rlQueryFilesattachedtoleads</name>
        <label>Query Files attached to leads</label>
        <locationX>335</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContentDocuments</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>rcContentDocumentLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
    </recordLookups>
    <screens>
        <name>scrCreate_Utility_Account_Log</name>
        <label>Create Utility Account Log</label>
        <locationX>94</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Property_Account_Id1</targetReference>
        </connector>
        <fields>
            <name>dispPropAcctSelect</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select a property account for the Utility Account Log:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataPropertyAccounts</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>rcPropertyAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Property Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>BillingStreet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>BillingCity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>BillingState</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>BillingPostalCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Zip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>rcSelectedPropertyAccount</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dispFile</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Select one or more bills associated to this Utility Account Log: &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatableContentDoc</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>rcContentDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>File Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>FileType</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>FileType</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>rcSelectedContentDocs</assignToReference>
                <name>selectedRows_custom1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dispUALDetails</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Enter details about the Utility Account Log:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpName_on_Utility_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Utility Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpUANumber</name>
            <dataType>String</dataType>
            <fieldText>Utility Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inpUsage</name>
            <dataType>Number</dataType>
            <fieldText>Please enter the customer&apos;s usage. Their subsciption is based on their annual {!forProductSubscriptionType}.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Lead_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>loopPropAcctId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>rcContentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>rcCurrentContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>rcNewContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>rcPropertyAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcSelectedContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>rcSelectedPropertyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sovContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCurrentContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedPropertyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUtilityAccountLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
