src/flows/CS_Partner_Invoice_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>partner_support_case</name>
        <label>partner support case</label>
        <locationX>975</locationX>
        <locationY>209</locationY>
        <actionName>Opportunity.Create_New_Case</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00G0a000002fiPV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Partnercasesubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>casedescription</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_CP_Values</name>
        <label>assign CP Values</label>
        <locationX>348</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>sovaComPayments.Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommissionAmountDue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Commission_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveCommissionStructure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Due_to_Accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceAccountingDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveInvoiceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varComPaymentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovaComPayments.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommissionPaymentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CPs_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CPs_to_list</name>
        <label>assign CPs to list</label>
        <locationX>503</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>updatelistCPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovaComPayments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_total_kw_dc_variable</name>
        <label>assign total kw dc variable</label>
        <locationX>821</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>kWDCSubscriptionTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>kWDCSubscriptionTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UASloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NameAssignment</name>
        <label>NameAssignment</label>
        <locationX>174</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComPaymentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommissionPaymentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Sum</name>
        <label>Subscription Sum</label>
        <locationX>820</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>kWDCSubscriptionTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UASloopvar.Customer_Subscription_KW_DC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_total_kw_dc_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Commission_Found</name>
        <label>Active Commission Found?</label>
        <locationX>181</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active_Commission_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveCommissionStructure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Execution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp</targetReference>
            </connector>
            <label>Active Commission is Found, First Commission</label>
        </rules>
        <rules>
            <name>No_Active_Commission_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveCommissionStructure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>partner_support_case</targetReference>
            </connector>
            <label>No Active Commission Found</label>
        </rules>
        <rules>
            <name>Active_Commission_is_Found_First_Bill_or_Bill_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varComPaymentName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contract Execution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveCommissionStructure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Lookup</targetReference>
            </connector>
            <label>Active Commission is Found, First Bill or Bill Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commission_Payment_Type</name>
        <label>Commission Payment Type?</label>
        <locationX>181</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contract_Execution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Execution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>duplicatecommission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UASLookup</targetReference>
            </connector>
            <label>Contract Execution</label>
        </rules>
        <rules>
            <name>First_Bill_Sent_or_Paid_with_Commission_Structure</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Bill Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Bill Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveCommissionStructure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>duplicatecommission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Commission_Found</targetReference>
            </connector>
            <label>First Bill Sent or Paid with Commission Structure</label>
        </rules>
        <rules>
            <name>First_Bill_Sent_or_Paid_without_Commission_Structure</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Bill Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCommissionPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Bill Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveCommissionStructure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>duplicatecommission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>First Bill Sent or Paid without Commission Structure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Found</name>
        <label>Invoice Found?</label>
        <locationX>355</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_Found_Create_New_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveInvoiceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Invoice</targetReference>
            </connector>
            <label>No Invoice Found, Create New Invoice</label>
        </rules>
        <rules>
            <name>Invoice_Found_Attach_to_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveInvoiceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CP_Values</targetReference>
            </connector>
            <label>Invoice Found, Attach to Invoice</label>
        </rules>
    </decisions>
    <formulas>
        <name>CommissionAmountDue</name>
        <dataType>Currency</dataType>
        <expression>CASE({!varCommissionPaymentType},
&quot;Contract Execution&quot;,{!UpFrontAmountDue},
&quot;First Bill Sent&quot;,{!FirstBillCommission},
&quot;First Bill Paid&quot;,{!FirstBillPaidCommission},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CommissionPaymentName</name>
        <dataType>String</dataType>
        <expression>LEFT({!PartnerName}  &amp; &quot; &quot; &amp; {!OpportunityName} &amp; &quot; &quot; &amp; {!varCommissionPaymentType},80)</expression>
    </formulas>
    <formulas>
        <name>InvoiceAccountingDueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
IF(MONTH(TODAY())=12,
YEAR(TODAY())+1,
YEAR(TODAY())),
IF(MONTH(TODAY())=12,
1,
MONTH(TODAY())+1),
3)</expression>
    </formulas>
    <formulas>
        <name>InvoiceCutoffDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+15</expression>
    </formulas>
    <formulas>
        <name>InvoiceDueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
IF(MONTH(TODAY())=12,
YEAR(TODAY())+1,
YEAR(TODAY())),
IF(MONTH(TODAY())=12,
1,
MONTH(TODAY())+1),
15)</expression>
    </formulas>
    <formulas>
        <name>InvoiceName</name>
        <dataType>String</dataType>
        <expression>{!PartnerName} &amp; &quot; &quot; &amp; CASE(MONTH({!InvoiceDueDate}),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;) &amp; &quot; &quot; &amp; TEXT(YEAR({!InvoiceDueDate}))</expression>
    </formulas>
    <formulas>
        <name>UpFrontAmountDue</name>
        <dataType>Currency</dataType>
        <expression>{!UpFrontCommission}*{!kWDCSubscriptionTotal}*1000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>waittime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-59</expression>
    </formulas>
    <interviewLabel>CS Partner Invoice Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Partner Invoice Creation</label>
    <loops>
        <name>UASloop</name>
        <label>UASloop</label>
        <locationX>598</locationX>
        <locationY>22</locationY>
        <assignNextValueToReference>UASloopvar</assignNextValueToReference>
        <collectionReference>UASlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subscription_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Active_Commission_Structure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Invoice</name>
        <label>Create New Invoice</label>
        <locationX>763</locationX>
        <locationY>437</locationY>
        <assignRecordIdToReference>ActiveInvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>assign_CP_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>InvoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_to_Accounting__c</field>
            <value>
                <elementReference>InvoiceAccountingDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varInvoiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>PartnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <stringValue>Community Solar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Received &gt;&gt; QC</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>createCPs</name>
        <label>createCPs</label>
        <locationX>656</locationX>
        <locationY>696</locationY>
        <inputReference>updatelistCPs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Duplicate_Commission_Payment_Check</name>
        <label>Duplicate Commission Payment Check</label>
        <locationX>180</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commission_Payment_Type</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommissionPaymentType</elementReference>
            </value>
        </filters>
        <object>Commission_Payment__c</object>
        <outputAssignments>
            <assignToReference>duplicatecommission</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Invoice_Lookup</name>
        <label>Invoice Lookup</label>
        <locationX>182</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NameAssignment</targetReference>
        </connector>
        <filters>
            <field>Due_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>InvoiceCutoffDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community Solar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received &gt;&gt; QC</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>ActiveInvoiceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Active_Commission_Structure</name>
        <label>Lookup Active Commission Structure</label>
        <locationX>415</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Commission_Found</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <object>Commission_Structure__c</object>
        <outputAssignments>
            <assignToReference>FirstBillPaidCommission</assignToReference>
            <field>Cents_kW_DC_First_Bill_Paid__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstBillCommission</assignToReference>
            <field>Cents_kW_DC_First_Bill__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpFrontCommission</assignToReference>
            <field>Cents_kW_DC_Up_Front__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActiveCommissionStructure</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UASLookup</name>
        <label>UASLookup</label>
        <locationX>419</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UASloop</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Subscription__c</object>
        <outputReference>UASlist</outputReference>
        <queriedFields>Customer_Subscription_KW_DC__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Customer_Subscription_KW_DC_STATIC__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates Opportunity with total future kw dc subscribed from UAS and with the active commission structure</description>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>979</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Invoice_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Capacity_Allocated__c</field>
            <value>
                <elementReference>kWDCSubscriptionTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Structure__c</field>
            <value>
                <elementReference>ActiveCommissionStructure</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Duplicate_Commission_Payment_Check</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>casedescription</name>
        <text>Alert: There was an issue with the creation of the {!varCommissionPaymentType} commission payment record for this opportunity: ({!OpportunityName} {!OpportunityID} ). 

If this is a Contract Execution commission payment, then there was no active commission structure for the partner. If this is the first bill paid or first bill sent commission payment, then there was no commission struture attached to the opportunity.</text>
    </textTemplates>
    <textTemplates>
        <name>Partnercasesubject</name>
        <text>Alert: Issue with the creation of the {!varCommissionPaymentType} commission payment for ({!OpportunityName} {!OpportunityID})</text>
    </textTemplates>
    <variables>
        <name>ActiveCommissionStructure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActiveInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>ActiveInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>duplicatecommission</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstBillCommission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>FirstBillPaidCommission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>invoiceupdatelist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>kWDCSubscriptionTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>kwDCTotal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sovaComPayments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>UASlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
    <variables>
        <name>UASloopvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
    <variables>
        <name>updatelistCPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>UpFrontCommission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>varCommissionPaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComPaymentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
