src/flows/CS_Sales_Partner_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email alert to member of the sales partner qc public group (which is internal users only)</description>
        <name>emailalert_NotifySales</name>
        <label>emailalert_NotifySales</label>
        <locationX>2261</locationX>
        <locationY>73</locationY>
        <actionName>Account.Sales_Partner_Application_Submitted_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>scr_end</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovAccount.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Account_Fields</name>
        <label>Assign Account Fields</label>
        <locationX>1676</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>sovAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Year_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtYear_Established</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCompany_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Company_Bio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanyBio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numNumber_of_Respresentatives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_EntityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Subcontractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklst_Subcontract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtPrevious_Year_s_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.B_Corp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcklist_BCorp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Declared_Bankruptcy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcklst_Bankruptcy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Bankruptcy_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_bankruptcyexplanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Outstanding_Legal_Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcklist_LegalNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Former_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_LegalNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.License_Revoked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pcklist_LicenseRevoke</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.License_Revoked_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_LicenseRevoke</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Number_of_Customers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num_NumberCustomers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtBusiness_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120a000000uhu2AAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAccount.Outstanding_Legal_Action_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_LegalNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Stage2</name>
        <label>Assign Current Stage</label>
        <locationX>870</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgCompany_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_CompanyInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Stage6</name>
        <label>Assign Current Stage</label>
        <locationX>1331</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StgDisclosures</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrDisclosures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Stage7</name>
        <label>Assign Current Stage</label>
        <locationX>1546</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StgEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_AccountCreated_to_True</name>
        <label>Set AccountCreated to True</label>
        <locationX>779</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>var_AccountCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Stage2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>textchoice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextChoice_YES</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks to see if the account is created already in order to handle back button</description>
        <name>dec_Account_Created</name>
        <label>Account Created?</label>
        <locationX>548</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Stage2</targetReference>
            </connector>
            <label>Account Already Created</label>
        </rules>
        <rules>
            <name>outcome_Account_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Account Not Created</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pciklistchoice_States</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatesUS</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_Market__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_CompanyBio</name>
        <dataType>String</dataType>
        <expression>&quot;Products and Services: &quot;&amp;{!scrProducts_and_Services}&amp;
&quot;Customer Types and Segments: &quot;&amp;{!txtCustomer_Types_and_Segments}&amp;
&quot;Marketing and Geographic Focus: &quot;&amp;{!txtMarkets_and_Geographic_Focus}&amp;
&quot;Community Solar Experience: &quot;&amp;{!scrCommunity_Solar_Experience}</expression>
    </formulas>
    <formulas>
        <name>Initiative_Description</name>
        <dataType>String</dataType>
        <expression>&quot;QC Needed, Application Submitted &quot;&amp;TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>InitiativeName</name>
        <dataType>String</dataType>
        <expression>&quot;QC &quot;&amp;{!txtCompanyName}</expression>
    </formulas>
    <interviewLabel>Sales Partner Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Sales Partner Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>556</locationX>
        <locationY>445</locationY>
        <assignRecordIdToReference>sovAccount.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Set_AccountCreated_to_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txtCompanyName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1908</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Create_Product_Group_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sovAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>txtEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>txtFirst_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>txtLast_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>txtMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>txtBusiness_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j0000000uetMAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>txtPosition_in_Company</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1893</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>scr_end</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_end</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Log_0</name>
        <label>Create Error Log</label>
        <locationX>1038</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Assign_Current_Stage2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Stage2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Group_Assignment</name>
        <label>Create Product Group Assignment</label>
        <locationX>2063</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>emailalert_NotifySales</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>sovAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Business Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Initiative_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InitiativeName</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Group_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1794</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>sovAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_Address</name>
        <label>Address</label>
        <locationX>1094</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrCompany_Background</targetReference>
        </connector>
        <fields>
            <name>Stages_Address</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_AddressInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Address Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Business Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <stringValue>Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>BusinessAddress.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>BusinessAddress.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>BusinessAddress.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>BusinessAddress.street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MailingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Mailing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <stringValue>Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>MailingAddress.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>MailingAddress.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>MailingAddress.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>MailingAddress.street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_CompanyInfo</name>
        <label>scr_CompanyInfo</label>
        <locationX>991</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Address</targetReference>
        </connector>
        <fields>
            <name>Stage_CompanyInfo</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_CompanyInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Company Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numNumber_of_Respresentatives</name>
            <dataType>Number</dataType>
            <fieldText>Number of Representatives</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>num_NumberCustomers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>txtPrevious_Year_s_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Previous Year&apos;s Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>picklst_Subcontract</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you subcontract?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pcklist_BCorp</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your company  B Corp?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_EntityType</name>
            <dataType>String</dataType>
            <fieldText>What type of entity is the company? (Ex: LLC)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 50&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txt_EntityType})&lt;50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txtCompany_Website</name>
            <dataType>String</dataType>
            <fieldText>Company Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtYear_Established</name>
            <dataType>String</dataType>
            <fieldText>Year Established</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_FileUpload</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;File Upload&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attach documents such as a W9, Certificate of Insurance (COI), or Entity documentation for the states in which you do business. Sharing the documents at this stage is optional. If not provided as part of the application, they will be requested at a later date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovAccount.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_ContactInfo</name>
        <label>Contact Information</label>
        <locationX>558</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_Account_Created</targetReference>
        </connector>
        <fields>
            <name>stages_Contact</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>stgContact_Info</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_ContactInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtFirst_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtLast_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtCompanyName</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtPosition_in_Company</name>
            <dataType>String</dataType>
            <fieldText>Position in Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtMobilePhone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers should be 10 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX(
{!txtMobilePhone}, &quot;(\\d){10}&quot;
),
REGEX({!txtMobilePhone},&quot;\\D*?(\\d\\D*?){10}&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txtBusiness_Phone</name>
            <dataType>String</dataType>
            <fieldText>Business Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Phone numbers should be 10 digits.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX(
{!txtBusiness_Phone}, &quot;(\\d){10}&quot;
),
REGEX({!txtBusiness_Phone},&quot;\\D*?(\\d\\D*?){10}&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txtEmail</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Email addresses must be formatted like this: example@test.com.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ( UPPER ( {!txtEmail} ) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_end</name>
        <label>scr_end</label>
        <locationX>2364</locationX>
        <locationY>443</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stage_End</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_final</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(66, 66, 66); font-size: 18px; background-color: rgb(250, 250, 250);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Congrats! You&apos;re on your way to becoming a BlueWave Solar Sales Partner. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;A member of the BlueWave Quality Control Team will be reviewing your application. The expected review timeline is one business day from the time the application is submitted. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;﻿If you have any questions, please reach out to BlueWave Partner Support at &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;partnersupport@bluewavesolar.com&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; or call &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;(888) 817-2703.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Intro</name>
        <label>scr_Intro</label>
        <locationX>376</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_ContactInfo</targetReference>
        </connector>
        <fields>
            <name>txt_Intro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Let&apos;s Get Started&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thanks&amp;nbsp;for your interest in partnering with BlueWave! To get started,&amp;nbsp;we&apos;ll ask you to provide some information and documentation related to your business. After completing this form, a member of the BlueWave team will reach out to you to discuss our products and walk you through the next steps to&amp;nbsp;becoming a BlueWave Sales Partner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCompany_Background</name>
        <label>Company Background</label>
        <locationX>1189</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Current_Stage6</targetReference>
        </connector>
        <fields>
            <name>Stages_Background</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_CompanyBackground</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Company Background&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_Personnelinfo</name>
            <fieldText>&lt;p&gt;Please give use details about the following aspects of your business:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrProducts_and_Services</name>
            <fieldText>Products and Services</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You&apos;ve entered too many characters! Character limit for this field is 1500.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!scrProducts_and_Services})&lt;1500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txtCustomer_Types_and_Segments</name>
            <fieldText>Customer Types and Segments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 1500.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txtCustomer_Types_and_Segments})&lt;1500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txtMarkets_and_Geographic_Focus</name>
            <fieldText>Markets and Geographic Focus</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 1500.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txtMarkets_and_Geographic_Focus})&lt;1500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>scrCommunity_Solar_Experience</name>
            <fieldText>Community Solar Experience</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 1500.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!scrCommunity_Solar_Experience})&lt;1500</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrDisclosures</name>
        <label>Disclosures</label>
        <locationX>1456</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Current_Stage7</targetReference>
        </connector>
        <fields>
            <name>Stage_Disclosures</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_Disclosures</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Disclosures&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pcklst_Bankruptcy</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the company, or any owners of the company, ever declared bankruptcy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_bankruptcyexplanation</name>
            <fieldText>If yes, please explain</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 3000.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txt_bankruptcyexplanation})&lt;3000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pcklst_Bankruptcy</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TextChoice_YES</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pcklst_Judgements</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any outstanding judgements or legal actions pending against the company or its owner(s)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_OutstandingJudementsExplanation</name>
            <fieldText>If yes, please explain</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 250.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txt_OutstandingJudementsExplanation})&lt;250</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pcklst_Judgements</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TextChoice_YES</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pcklist_LegalNames</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the company ever done business under another name other than the one being provided?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_LegalNames</name>
            <fieldText>Please provide the company&apos;s previous name here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 50.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txt_LegalNames})&lt;50</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pcklist_LegalNames</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TextChoice_YES</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pcklist_LicenseRevoke</name>
            <choiceReferences>textchoice_No</choiceReferences>
            <choiceReferences>TextChoice_YES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the company, owners, or any employees ever had a license suspended or revoked?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_LicenseRevoke</name>
            <fieldText>If yes, please explain</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;You&apos;ve entered too many characters! Character limit for this field is 3000.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!txt_LicenseRevoke})&lt;3000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pcklist_LicenseRevoke</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TextChoice_YES</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stgCompany_Info</name>
        <isActive>true</isActive>
        <label>Company Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stgContact_Info</name>
        <isActive>true</isActive>
        <label>Contact Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>StgDisclosures</name>
        <isActive>true</isActive>
        <label>Disclosures</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>StgEnd</name>
        <isActive>true</isActive>
        <label>End</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>36</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>scr_Intro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sovAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>txtcollection_FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
