src/flows/Display_Customer_UAS_s_on_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>for18to15digitAcctId</name>
        <dataType>String</dataType>
        <expression>LEFT({!varParentAccountId},15)</expression>
    </formulas>
    <interviewLabel>UAS Information</interviewLabel>
    <label>UAS Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>195</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAS_s</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varParentAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UAS_s</name>
        <label>Get UAS&apos;s</label>
        <locationX>428</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Utility_Account_Subscriptions</targetReference>
        </connector>
        <filters>
            <field>Parent_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for18to15digitAcctId</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Subscription__c</object>
        <outputReference>rcUtilityAccountSubs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Shared_Solar_System_Name__c</queriedFields>
        <queriedFields>Utility_Account_Log_Name__c</queriedFields>
        <queriedFields>Customer_Subscription_KW_DC__c</queriedFields>
        <queriedFields>Annual_kwh_subscription_future__c</queriedFields>
        <queriedFields>Subscribed_Annual_Cost_of_Electricity__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Utility_Account_Subscriptions</name>
        <label>Utility Accoudnt Subscriptions</label>
        <locationX>642</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UAS</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom2</name>
                <value>
                    <elementReference>rcUtilityAccountSubs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Utility_Account_Log_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>UAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Shared_Solar_System_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>SSS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Customer_Subscription_KW_DC__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Cust. Size (KW DC)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Annual_kwh_subscription_future__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>kWh Sub</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_align</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_align</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_align</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_align</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Cost Sub</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Subscribed_Annual_Cost_of_Electricity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Information</name>
            <extensionName>c:PreviewAccountBilling</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountID</name>
                <value>
                    <elementReference>for18to15digitAcctId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isParentAcct</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Account_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>rcUtilityAccountSubs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
