src/flows/Lead_Qualification_Conversion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>1962</locationX>
        <locationY>840</locationY>
        <actionName>InvocableLeadConvert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scrFinish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>leadsToConvert</name>
            <value>
                <elementReference>leadToConvert</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Ordered_List_of_Qualified_SSS</name>
        <label>Get Ordered List of Qualified SSS</label>
        <locationX>1155</locationX>
        <locationY>842</locationY>
        <actionName>InvocableQualifiedSSSSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scrQualifiedLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>leadsFromFlow</name>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>orderedSSSList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>leadQualificationCheck</name>
        <label>leadQualificationCheck</label>
        <locationX>987</locationX>
        <locationY>382</locationY>
        <actionName>InvocableLeadQualification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>getLead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Break</name>
        <label>Add Break</label>
        <locationX>1445</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>selectedSSSIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_SSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Error_Log_to_List</name>
        <label>Add Error Log to List</label>
        <locationX>1632</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>sovc_ErrorLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_ErrorLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_SSS_Id</name>
        <label>Add Selected SSS Id</label>
        <locationX>1628</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>selectedSSSIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_SSS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Log</name>
        <label>Assign Error Log</label>
        <locationX>1524</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RunningUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ErrorLog.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Log_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Not_Ready_For_Conversion</name>
        <label>Assign Not Ready for Conversion</label>
        <locationX>580</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>ualsReadyForConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUALs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLeadFields</name>
        <label>assignLeadFields</label>
        <locationX>810</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>getLead.Moody_s_Risk_Calc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateMoodys</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.Utility_relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateUtility.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.LoadZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateLoadZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateProduct.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLeadRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Selected_SSS_List_on_Lead</name>
        <label>Store Selected SSS List on Lead</label>
        <locationX>1700</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Lead.Selected_SSS_For_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedSSSIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RunningUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToConvert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_with_Selected_SSS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_LoadZone</name>
        <choiceText>Load Zone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Load Zone</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Moodys</name>
        <choiceText>Moody&apos;s Risk Calc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moody&apos;s Risk Calc</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ParcelZip</name>
        <choiceText>Parcel Zip</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcel Zip</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Product</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Utility</name>
        <choiceText>Utility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility</stringValue>
        </value>
    </choices>
    <choices>
        <name>currentMoodys</name>
        <choiceText>{!getLead.Moody_s_Risk_Calc__c} (current)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>getLead.Moody_s_Risk_Calc__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Qualification</name>
        <label>Check Qualification</label>
        <locationX>985</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopUALs</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>Not_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showLeadStatus</targetReference>
            </connector>
            <label>Not Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UALs_Statuses</name>
        <label>Check UALs Statuses</label>
        <locationX>993</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>Get_Ordered_List_of_Qualified_SSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Ready_for_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ualsReadyForConversion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_UALs_Before_Conversion</targetReference>
            </connector>
            <label>Not Ready for Conversion</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUALStatusCheck</name>
        <label>UAL Status Check</label>
        <locationX>586</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>LoopUALs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_QC</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR 6</conditionLogic>
            <conditions>
                <leftValueReference>LoopUALs.QC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Utility Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Product__r.Customer_Subscription_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kWh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopUALs.Annual_kWh__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Product__r.Customer_Subscription_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electricity Cost ($)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopUALs.Annual_Cost_of_Electricity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopUALs.QC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending BW Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Not_Ready_For_Conversion</targetReference>
            </connector>
            <label>Pending QC</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Lead is already converted, no need to try again</description>
        <name>IsConverted</name>
        <label>decisionIsConverted</label>
        <locationX>503</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>updateLeadFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsConvertedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrAlreadyConverted</targetReference>
            </connector>
            <label>IsConverted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>moodysPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Moody_s_Risk_Calc__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_IgnoreLoadZones</name>
        <dataType>Boolean</dataType>
        <expression>{!getLead.Product__r.Ignore_Load_Zones_When_Qualifying__c}</expression>
    </formulas>
    <formulas>
        <name>formula_RunningUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_SplitLZ</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!getLead.LoadZone__c}, &quot;/&quot;)</expression>
    </formulas>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Qualification/Conversion</label>
    <loops>
        <name>Loop_Selected_SSS</name>
        <label>Loop Selected SSS</label>
        <locationX>1534</locationX>
        <locationY>832</locationY>
        <collectionReference>selectedSSSList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_SSS_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_Selected_SSS_List_on_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUALs</name>
        <label>Loop UALs</label>
        <locationX>906</locationX>
        <locationY>800</locationY>
        <collectionReference>Get_UALS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decUALStatusCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_UALs_Statuses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_UALS</name>
        <label>Get UALS</label>
        <locationX>1291</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Qualification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QC_Status__c</queriedFields>
        <queriedFields>Annual_kWh__c</queriedFields>
        <queriedFields>Annual_Cost_of_Electricity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>363</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsConverted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>1154</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UALS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_relationship__c</queriedFields>
        <queriedFields>LoadZone__c</queriedFields>
        <queriedFields>Partner_Lookup__c</queriedFields>
        <queriedFields>Partner_Account__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Underwriting_Criteria__c</queriedFields>
        <queriedFields>LASER_Credit_Score__c</queriedFields>
        <queriedFields>Moody_s_Risk_Calc__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>No_Payment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_with_Selected_SSS</name>
        <label>Update Lead with Selected SSS</label>
        <locationX>1839</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadRecord</name>
        <label>updateLeadRecord</label>
        <locationX>993</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>leadQualificationCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Log</targetReference>
        </faultConnector>
        <inputReference>getLead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Resolve_UALs_Before_Conversion</name>
        <label>Resolve UALs Before Conversion</label>
        <locationX>913</locationX>
        <locationY>1093</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtResolveUALs</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Utility Account Logs for this lead are not ready for conversion.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm all UALs have their proper Annual Usage populated and the QC Status is set to Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ualDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Utility_Account_Log__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Utility_Account_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,QC_Status__c,Annual_kWh__c,Annual_Cost_of_Electricity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:228, QC_Status__c:228, Annual_kWh__c:228, Annual_Cost_of_Electricity__c:228</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>QC_Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_UALS</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAlreadyConverted</name>
        <label>Already Converted Lead</label>
        <locationX>510</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtAlreadyConverted</name>
            <fieldText>&lt;p&gt;This lead has already been converted! No further action necessary. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can close this window now.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrError</name>
        <label>Error Screen</label>
        <locationX>1822</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p&gt;Oops! There was an error in the Qualification and Conversion of the lead!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;BizApps has already been notified. You can close this window now. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrFinish</name>
        <label>Finish</label>
        <locationX>2132</locationX>
        <locationY>836</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txttest</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Congrats! Lead has been converted!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can close this window now&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrQualifiedLead</name>
        <label>scrQualifiedLead</label>
        <locationX>1363</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_SSS</targetReference>
        </connector>
        <fields>
            <name>txtDatable</name>
            <fieldText>&lt;p&gt;Select the Shared Solar Systems that you want to be &lt;b&gt;considered &lt;/b&gt;for subscriptions. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Subscriptions will be created and sized based on the customer&apos;s annual usage, available capacity, and project maximums.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This does &lt;b&gt;not &lt;/b&gt;guarantee subscriptions will be created for &lt;b&gt;all &lt;/b&gt;projects. If the project is not selected, no subscriptions will be created for the project. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tableSSS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Shared_Solar_System__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Shared_Solar_System__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Utility__c,Capacity_Available_to_be_Reserved__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>column-widths-mode=&quot;auto&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>orderedSSSList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>orderedSSSList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSSSList</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLeadStatus</name>
        <label>showLeadStatus</label>
        <locationX>362</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLead</targetReference>
        </connector>
        <fields>
            <name>leadStatus</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(234, 8, 8); font-size: 20px;&quot;&gt;LEAD IS UNQUALIFIED. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Consult the table below to determine why there are no Projects available for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>yodaTable</name>
            <extensionName>c:csQualificationTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>leadId</name>
                <value>
                    <elementReference>Lead.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partner</name>
                <value>
                    <elementReference>Lead.Partner_Lookup__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>product</name>
                <value>
                    <elementReference>Lead.Product__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>underwriting</name>
                <value>
                    <elementReference>Lead.Underwriting_Criteria__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>updateLeadFields</name>
        <label>updateLeadFields</label>
        <locationX>671</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignLeadFields</targetReference>
        </connector>
        <fields>
            <name>currentLeadInfoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Current Lead Info&lt;/u&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Utility:&lt;/b&gt; &lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;{!getLead.Utility_relationship__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Load Zone:&lt;/b&gt; {!getLead.LoadZone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Product:&lt;/b&gt; {!getLead.Product__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtMoodyScore</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Moody&apos;s Rick Calc:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!getLead.Moody_s_Risk_Calc__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getLead.Underwriting_Criteria__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Financial Review</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>selectedFieldCollection</name>
            <fieldText>&lt;p&gt;You can update the fields below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>updateMoodys</name>
            <choiceReferences>currentMoodys</choiceReferences>
            <choiceReferences>moodysPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>currentMoodys</defaultSelectedChoiceReference>
            <fieldText>Moody&apos;s Rick Calc:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getLead.Underwriting_Criteria__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Financial Review</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>updateUtility</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Utility_relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Utility: </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currentUtility</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spacer1</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtSplitLoadZone</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please resolve Split Load Zone before proceeding.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formula_SplitLZ</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formula_IgnoreLoadZones</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>updateLoadZone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentLoadZone</elementReference>
            </defaultValue>
            <fieldText>Load Zone:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spacer2</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>updateProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product: </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currentProduct</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spacer3</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>getLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Errors</name>
        <label>Log Errors</label>
        <locationX>1716</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>scrError</targetReference>
        </connector>
        <flowName>Error_Log_Creation</flowName>
        <inputAssignments>
            <name>socv_ErrorLog</name>
            <value>
                <elementReference>sovc_ErrorLogs</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flow: Lead Qualification/Conversion&lt;/p&gt;&lt;p&gt;Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;Message: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>allCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentLoadZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getLead.LoadZone__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentParcelZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getLead.Parcel_Zip__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getLead.Product__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentUtility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getLead.Utility_relationship__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>leadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadToConvert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_currentMoody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getLead.Moody_s_Risk_Calc__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>old_currentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>old_currentUtility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility__c</objectType>
    </variables>
    <variables>
        <name>orderedSSSList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSSSIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSSSList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System__c</objectType>
    </variables>
    <variables>
        <name>sov_ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sovc_ErrorLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>ualsReadyForConversion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>utilityLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility__c</objectType>
    </variables>
</Flow>
