src/flows/Open_QC_Task_Checker.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Counter for QC Cases in loop</description>
        <name>assgQCCaseCounter</name>
        <label>assgQCCaseCounter</label>
        <locationX>746</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>varQCCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQCCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Opp stage to QC In Process</description>
        <name>AssignOppStage</name>
        <label>AssignOppStage</label>
        <locationX>66</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>sovOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QC In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunityStage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision if there are still open QC tasks.</description>
        <name>dec_QCCaseNumber</name>
        <label>QC Case Decision</label>
        <locationX>45</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeOpenQCCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQCCaseCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>outcomeOpenQCCases</label>
        </rules>
        <rules>
            <name>outcomeNoOpenCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQCCaseCounter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOppStage</targetReference>
            </connector>
            <label>outcomeNoOpenCases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunities</name>
        <label>Found Opportunities?</label>
        <locationX>234</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup</targetReference>
            </connector>
            <label>Opp Found</label>
        </rules>
    </decisions>
    <description>Launched by a PB node when a CS QC Cases closes. Checks to see if there are any open cases -- If not, it sets the Opportunity stage to QC in Process.</description>
    <interviewLabel>Open QC Task Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Open QC Case Checker</label>
    <loops>
        <description>Loops through open tasks to get count.</description>
        <name>loopQCCases</name>
        <label>loopQCCases</label>
        <locationX>492</locationX>
        <locationY>411</locationY>
        <assignNextValueToReference>loopvar_QCCase</assignNextValueToReference>
        <collectionReference>socv_QCCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assgQCCaseCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_QCCaseNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds the sobject variable for the Opportunity. If it doesn&apos;t find a CS one, ends the flow.</description>
        <name>Find_CS_Opportunity</name>
        <label>Find CS Opportunity</label>
        <locationX>54</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community Solar</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up all of the QC Cases for the Opportunity passed through the Process Builders</description>
        <name>Lookup</name>
        <label>Lookup All QC Cases</label>
        <locationX>52</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQCCases</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QC</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012j00000000HA8AAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>socv_QCCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>If there are no open tasks, update the opportunity stage to</description>
        <name>updateOpportunityStage</name>
        <label>updateOpportunityStage</label>
        <locationX>348</locationX>
        <locationY>692</locationY>
        <inputReference>sovOpportunity</inputReference>
    </recordUpdates>
    <startElementReference>Find_CS_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>loopvar_QCCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>socv_QCCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQCCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
