src/flows/Opportunity_Stage_to_Cancelled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opportunity_Stage_cancelled</name>
        <label>Opportunity Stage = Cancelled</label>
        <locationX>534</locationX>
        <locationY>354</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>idfield</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Oppchatterpost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>chatterposttext</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_UAS_Counter</name>
        <label>Set UAS Counter</label>
        <locationX>820</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>UASCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UASloop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Opps_UASs_Cancelled</name>
        <label>All Opps UASs Cancelled?</label>
        <locationX>392</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>All_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UASCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_to_Cancelled</targetReference>
            </connector>
            <label>All Cancelled</label>
        </rules>
        <rules>
            <name>Not_All_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UASCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Not All Cancelled</label>
        </rules>
    </decisions>
    <description>Changes Opportunity Stage to Cancelled once all UASs are moved to cancelled.</description>
    <interviewLabel>Opportunity Stage to Cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage to Cancelled</label>
    <loops>
        <name>UASloop</name>
        <label>UASloop</label>
        <locationX>584</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>UASloopvar</assignNextValueToReference>
        <collectionReference>UASlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_UAS_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Opps_UASs_Cancelled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>UAS_lookup</name>
        <label>UAS lookup</label>
        <locationX>390</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UASloop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Schedule_Z_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idfield</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Subscription__c</object>
        <outputReference>UASlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Next_Schedule_Z_Status__c</queriedFields>
        <queriedFields>Opportunity_Stage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_Stage_to_Cancelled</name>
        <label>Opportunity Stage to Cancelled</label>
        <locationX>388</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Opportunity_Stage_cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idfield</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UAS_lookup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Oppchatterpost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Opportunity stage change moved to cancelled because all of it&apos;s Utility Account Subscription&apos;s Schedule Z Statuses were set to cancelled.</text>
    </textTemplates>
    <variables>
        <name>chatterposttext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UASCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UASlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
    <variables>
        <name>UASloopvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
</Flow>
