src/flows/Partner_Product_Junction_Management-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Next_Stage</name>
        <label>Assign Next Stage</label>
        <locationX>562</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageConfirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrConfirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Stage_0</name>
        <label>Assign Next Stage</label>
        <locationX>606</locationX>
        <locationY>1627</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageComplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrSuccess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Stage_and_Picklist</name>
        <label>Assign Next Stage and Picklist</label>
        <locationX>207</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageAccess_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrAccess_Type_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPJ_Product_to_Active_List</name>
        <label>Assign PPJ Product to Active List</label>
        <locationX>907</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>covActivePPJProductlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarPPJAll.Enabled_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGet_Products_from_PPJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPJ_Product_to_Inactive_List</name>
        <label>Assign PPJ and PPJ Product to Inactive List</label>
        <locationX>908</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>covInactivePPJProductlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarPPJAll.Enabled_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>socvInactivePPJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarPPJAll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGet_Products_from_PPJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPJ_to_be_Created_Values_0</name>
        <label>Assign PPJ to be Created Values</label>
        <locationX>1058</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>sovNewPPJ.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovNewPPJ.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPartner_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovNewPPJ.Enabled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvarActiveProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>socPPJCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovNewPPJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Active_Products_To_PPJ_lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPJ_Values</name>
        <label>Assign PPJ Values</label>
        <locationX>910</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>loopvarInactivePPJ.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPJ_Values_0</name>
        <label>Assign PPJ Values</label>
        <locationX>911</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>loopvarInactivePPJ.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_to_PPJ_Update_List</name>
        <label>Assign Product to PPJ Update List</label>
        <locationX>991</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>covPPJProductstoActivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarActiveProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Active_Products_To_PPJ_lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Deactivate_List</name>
        <label>Assign to Deactivate List</label>
        <locationX>713</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>covPPJProductstoDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarActiveProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Active_Products_To_PPJ_lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_List</name>
        <label>Assign to Update List</label>
        <locationX>678</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>socvPPJUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarInactivePPJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PPJs_to_be_Updated_and_Activated</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CED_Greentech</name>
        <choiceText>CED Greentech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CED_Greentech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grant_Access</name>
        <choiceText>Grant Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grant_Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low_FICO</name>
        <choiceText>Low FICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low_FICO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Access</name>
        <choiceText>Remove Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove_Access</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decActivate_or_Deactiate_PPJ</name>
        <label>Activate or Deactiate PPJ</label>
        <locationX>1153</locationX>
        <locationY>1243</locationY>
        <defaultConnector>
            <targetReference>Assign_PPJs_to_be_Updated_and_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Activate_PPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>covPPJProductstoActivate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopvarInactivePPJ.Enabled_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PPJ_Values</targetReference>
            </connector>
            <label>Yes Activate PPJ</label>
        </rules>
        <rules>
            <name>Deactivate_PPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>covPPJProductstoDeactivate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopvarInactivePPJ.Enabled_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PPJ_Values_0</targetReference>
            </connector>
            <label>Deactivate PPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>decGrant_or_Remove_Accesss</name>
        <label>Grant or Remove Accesss</label>
        <locationX>1141</locationX>
        <locationY>999</locationY>
        <defaultConnector>
            <targetReference>Compare_Active_Products_To_PPJ_lists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Remove_Access_to_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Access_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_Access</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Deactivate_List</targetReference>
            </connector>
            <label>Remove Access to Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>decGrant_or_Remove_Accesss_0</name>
        <label>Grant or Remove Accesss</label>
        <locationX>262</locationX>
        <locationY>1460</locationY>
        <defaultConnector>
            <targetReference>Assign_Next_Stage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Remove_Access_to_Product_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Access_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_Access</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Stage_0</targetReference>
            </connector>
            <label>Remove Access to Product</label>
        </rules>
        <rules>
            <name>Grant_Access_to_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Access_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grant_Access</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fcCreateNewPPJs</targetReference>
            </connector>
            <label>Grant Access to Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIs_PPJ_Active_or_Inactive</name>
        <label>Is PPJ Active or Inactive</label>
        <locationX>1174</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>loopGet_Products_from_PPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PPJ_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarPPJAll.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PPJ_Product_to_Active_List</targetReference>
            </connector>
            <label>PPJ is Active</label>
        </rules>
        <rules>
            <name>PPJ_is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopvarPPJAll.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PPJ_Product_to_Inactive_List</targetReference>
            </connector>
            <label>PPJ is inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>decProduct_Type</name>
        <label>Product Type</label>
        <locationX>757</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outLow_FICO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrProduct_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Low_FICO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flLookup_Active_Low_FICO_Products</targetReference>
            </connector>
            <label>Low FICO</label>
        </rules>
        <rules>
            <name>outCED_Greentech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrProduct_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CED_Greentech</elementReference>
                </rightValue>
            </conditions>
            <label>CED Greentech</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhich_Lists_are_the_Active_Products_on</name>
        <label>Which Lists are the Active Products on</label>
        <locationX>1351</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Assign_PPJ_to_be_Created_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product is not on either lists</defaultConnectorLabel>
        <rules>
            <name>Product_is_on_Inactive_PPJ_Product_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>covInactivePPJProductlist</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopvarActiveProduct.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_to_PPJ_Update_List</targetReference>
            </connector>
            <label>Product is on Inactive PPJ Product List</label>
        </rules>
        <rules>
            <name>Product_on_Active_PPJ_Product_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>covActivePPJProductlist</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopvarActiveProduct.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decGrant_or_Remove_Accesss</targetReference>
            </connector>
            <label>Product is on Active PPJ Product List</label>
        </rules>
    </decisions>
    <interviewLabel>Partner Product Junction Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Product Junction Management</label>
    <loops>
        <name>Assign_PPJs_to_be_Updated_and_Activated</name>
        <label>Assign PPJs to be Updated and Activated</label>
        <locationX>265</locationX>
        <locationY>1240</locationY>
        <assignNextValueToReference>loopvarInactivePPJ</assignNextValueToReference>
        <collectionReference>socPPJAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decActivate_or_Deactiate_PPJ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fuActive_PPJs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Compare_Active_Products_To_PPJ_lists</name>
        <label>Compare Active Products To PPJ Product lists</label>
        <locationX>356</locationX>
        <locationY>707</locationY>
        <assignNextValueToReference>loopvarActiveProduct</assignNextValueToReference>
        <collectionReference>socActiveProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decWhich_Lists_are_the_Active_Products_on</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_PPJs_to_be_Updated_and_Activated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopGet_Products_from_PPJ</name>
        <label>Get Products from PPJ</label>
        <locationX>553</locationX>
        <locationY>436</locationY>
        <assignNextValueToReference>loopvarPPJAll</assignNextValueToReference>
        <collectionReference>socPPJAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decIs_PPJ_Active_or_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compare_Active_Products_To_PPJ_lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>fcCreateNewPPJs</name>
        <label>CreateNewPPJs</label>
        <locationX>262</locationX>
        <locationY>1624</locationY>
        <connector>
            <targetReference>Assign_Next_Stage_0</targetReference>
        </connector>
        <inputReference>socPPJCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>flLookup_Active_Low_FICO_Products</name>
        <label>Lookup Active Low FICO Products</label>
        <locationX>159</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flPPJ</targetReference>
        </connector>
        <filters>
            <field>Credit_Maximum__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>680</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Require_Junctions_to_Enable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>socActiveProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>flPPJ</name>
        <label>Lookup All PPJ</label>
        <locationX>383</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopGet_Products_from_PPJ</targetReference>
        </connector>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPartner_ID</elementReference>
            </value>
        </filters>
        <object>Partner_Product_Junction__c</object>
        <outputReference>socPPJAll</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner__c</queriedFields>
        <queriedFields>Enabled_Product__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>fuActive_PPJs</name>
        <label>Active PPJs</label>
        <locationX>262</locationX>
        <locationY>1348</locationY>
        <connector>
            <targetReference>decGrant_or_Remove_Accesss_0</targetReference>
        </connector>
        <inputReference>socvPPJUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>scrAccess_Type_Selection</name>
        <label>Access Type Selection</label>
        <locationX>378</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Next_Stage</targetReference>
        </connector>
        <fields>
            <name>stgAccesstype</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrAccessTypeInfo</name>
            <fieldText>Are you trying to Grant or Remove this Partner&apos;s access to these Products? If you want to remove the Partner&apos;s access to all of the selected Products, select Remove Acess. If you are trying to Grant access, choose Grant Access.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Access_Type</name>
            <choiceReferences>Grant_Access</choiceReferences>
            <choiceReferences>Remove_Access</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Access Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrConfirm</name>
        <label>scrConfirm</label>
        <locationX>757</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decProduct_Type</targetReference>
        </connector>
        <fields>
            <name>stgConfirm</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmationmessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are about to &lt;FONT KERNING=&quot;1&quot;&gt;{!Access_Type}&lt;/FONT&gt; to {!scrProduct_Type} Products for&lt;FONT KERNING=&quot;1&quot;&gt; {!varPartnerName}. Click Next to continue, or Previous to go back.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrProduct_Type_Selection</name>
        <label>Product Type Selection</label>
        <locationX>42</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Next_Stage_and_Picklist</targetReference>
        </connector>
        <fields>
            <name>stgProductSelection</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>stageProduct_Selection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrProductSelectionDescription</name>
            <fieldText>What type of Product would you like to grant or remove access to?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrProduct_Type</name>
            <choiceReferences>Low_FICO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSuccess</name>
        <label>Success</label>
        <locationX>903</locationX>
        <locationY>1627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrstageSuccess</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrConfirmationmessage</name>
            <fieldText>Complete: {!Access_Type} to {!scrProduct_Type} Products for {!varPartnerName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>stageAccess_Type</name>
        <isActive>true</isActive>
        <label>Access Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>stageComplete</name>
        <isActive>true</isActive>
        <label>Complete</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>stageConfirm</name>
        <isActive>true</isActive>
        <label>Confirm</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>stageProduct_Selection</name>
        <isActive>true</isActive>
        <label>Product Selection</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>scrProduct_Type_Selection</startElementReference>
    <variables>
        <name>covActivePPJProductlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>covInactivePPJProductlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>covPPJProductstoActivate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>covPPJProductstoDeactivate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopvarActiveProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>loopvarInactivePPJ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>loopvarPPJAll</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>socActiveProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>socPPJAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>socPPJCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>socvInactivePPJ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>socvPPJUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>sovNewPPJ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Partner_Product_Junction__c</objectType>
    </variables>
    <variables>
        <name>varPartner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
