src/flows/Portal_Activation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Only Non SSF Applicants get this email because for SSF Applicants, this email is sent via Conga when BlueWave countersigns</description>
        <name>CS_Opportunity_Complete_Email</name>
        <label>CS_Opportunity_Complete_Email</label>
        <locationX>329</locationX>
        <locationY>404</locationY>
        <actionName>Opportunity.CS_Opportunity_Complete_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Wait_3_Days</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sov_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CS_Partner_Contract_Complete</name>
        <label>CS_Partner_Contract_Complete</label>
        <locationX>608</locationX>
        <locationY>264</locationY>
        <actionName>Opportunity.CS_Partner_Contract_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Type_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sov_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Portal_Activation_0</name>
        <label>Portal Activation</label>
        <locationX>615</locationX>
        <locationY>725</locationY>
        <actionName>OpportunityTriggerHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oppIdList</name>
            <value>
                <elementReference>sov_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Customer_Type_0</name>
        <label>Customer Type</label>
        <locationX>602</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSF_Portal_Activation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_SSS.UCB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_3_Days</targetReference>
            </connector>
            <label>SSF: Portal Activation</label>
        </rules>
        <rules>
            <name>SSF_UCB_No_Portal_Activation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_SSS.UCB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SSF: UCB No Portal Activation</label>
        </rules>
        <rules>
            <name>CSAP_Portal_Activation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Opportunity_Complete_Email</targetReference>
            </connector>
            <label>CSAP: Portal Activation</label>
        </rules>
    </decisions>
    <interviewLabel>Portal Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>250</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_Partner_Contract_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Opportunity.Lead__r.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sov_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SSS</name>
        <label>Get SSS</label>
        <locationX>371</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Opportunity.Shared_Solar_System__r.Id</elementReference>
            </value>
        </filters>
        <object>Shared_Solar_System__c</object>
        <outputReference>sov_SSS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UCB__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_SSS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_SSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System__c</objectType>
    </variables>
    <waits>
        <name>Wait_3_Days</name>
        <label>Wait 3 Days</label>
        <locationX>437</locationX>
        <locationY>726</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait3_Days</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Portal_Activation_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 3 Days</label>
        </waitEvents>
    </waits>
</Flow>
