src/flows/Product_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actPost_Improvement_to_Chatter</name>
        <label>Post Improvement to Chatter</label>
        <locationX>894</locationX>
        <locationY>1015</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>asgAttachFiles</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ttNewWorkItem</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Opens up a support case</description>
        <name>Open_support_case</name>
        <label>Open support case</label>
        <locationX>2539</locationX>
        <locationY>914</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Your_case_has_been_opened</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>scrDetails_and_Steps_to_Reproduce_Prod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmail_to_Case_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>forUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>scrSubjectCase_Prod</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>asgAssign_CS_Prod_Mgmt_variables</name>
        <label>Assign CS Prod Mgmt variables</label>
        <locationX>364</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpSubject_CSPrd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forImprovementDesc_CSPrd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_IT_variables</name>
        <label>Assign IT variables</label>
        <locationX>1007</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_IT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpTitle_IT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProduct_tag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>drcProductTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_Legal_variables</name>
        <label>Assign Legal variables</label>
        <locationX>1797</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDelivery_Date_Reason_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttLegalDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDelivery_Date_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpTitle_Legal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_Marketing_variables</name>
        <label>Assign Marketing variables</label>
        <locationX>1406</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWhat_is_driving_this_date_Mktg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_Mktg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateReq_date_Mktg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWork_Request_Title_Mktg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_Office_Mgmt_variables</name>
        <label>Assign Office Mgmt variables</label>
        <locationX>1212</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpRequest_Date_Reason_Ofc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_Office</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpRequest_Date_Ofc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProduct_tag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>drcProductTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWork_Request_Title_Office</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_Product_variables</name>
        <label>Assign Product variables</label>
        <locationX>2043</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forImprovementDescriptionProd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrSubjectImp_Prod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAssign_SW_variables</name>
        <label>Assign SW variables</label>
        <locationX>515</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDue_Date_Desc_SW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpReqDetail_SW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpReqDate_SW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Submittal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpTitle_SW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpPriority_SW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAttachFiles</name>
        <label>asgAttachFiles</label>
        <locationX>892</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgAttach_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrAttachFiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCivigEngagementWork</name>
        <label>Assign CE variables</label>
        <locationX>182</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_CE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWork_Request_Title_CE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgConfirmation</name>
        <label>asgConfirmation</label>
        <locationX>1306</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgConfirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrImprovementCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgFileNames</name>
        <label>Assign File Names</label>
        <locationX>414</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>varFileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentFileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoop_through_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOps_Variable_Assignments</name>
        <label>Assign Ops variables</label>
        <locationX>751</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>varDueDateDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDue_Date_Desc_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpDescription_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateReq_date_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Submittal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inpWork_Request_Title_Ops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dlPriority_Ops</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rlRequestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgSet_Stage_to_Enter_Details</name>
        <label>Set Stage to Enter Details</label>
        <locationX>1203</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decWhat_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgSet_Stage_to_Select_Team</name>
        <label>Set Stage to Select Team</label>
        <locationX>645</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stgSelect_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_Technology_team</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bug</name>
        <choiceText>Support Request, Data Update or Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bug</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Applications</name>
        <choiceText>Business Applications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BizApps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Improvement</name>
        <choiceText>Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgent</name>
        <choiceText>Urgent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decBug_or_Improvement</name>
        <label>Bug or Improvement</label>
        <locationX>1996</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outBug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrBug_Question_or_Data_Change_Prod</targetReference>
            </connector>
            <label>Bug</label>
        </rules>
        <rules>
            <name>outImprovement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Improvement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrImprovement_Prod</targetReference>
            </connector>
            <label>Improvement</label>
        </rules>
    </decisions>
    <decisions>
        <name>decFoundChatterGroupId</name>
        <label>decFoundChatterGroupId</label>
        <locationX>1150</locationX>
        <locationY>1075</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChatterGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actPost_Improvement_to_Chatter</targetReference>
            </connector>
            <label>FoundId</label>
        </rules>
        <rules>
            <name>No_Chatter_Group_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChatterGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgAttachFiles</targetReference>
            </connector>
            <label>No Chatter Group Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>decHardDelivDateLegal</name>
        <label>decHardDelivDateLegal</label>
        <locationX>1826</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hard_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHardDelivDate_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrLegal_Work_Request_0</targetReference>
            </connector>
            <label>Yes, there is a hard date</label>
        </rules>
        <rules>
            <name>No_there_is_not_a_hard_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHardDelivDate_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgAssign_Legal_variables</targetReference>
            </connector>
            <label>No, there is not a hard date</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhat_team</name>
        <label>What team</label>
        <locationX>1163</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>scrNotSetup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BizAppsTeam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inpWhat_team_is_this_request_for_tech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BizApps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UX Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology - Originations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrProduct_Team_Request</targetReference>
            </connector>
            <label>Tech Team</label>
        </rules>
        <rules>
            <name>decLegal_Work_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal &amp; Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrLegal_Work_Request</targetReference>
            </connector>
            <label>Legal Work Request</label>
        </rules>
        <rules>
            <name>decMarketing_Work_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrMarketing_Work_Request</targetReference>
            </connector>
            <label>Marketing Work Request</label>
        </rules>
        <rules>
            <name>decOps_Work_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription and Utility Mgmt.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrOps_Work_Request</targetReference>
            </connector>
            <label>Ops Work Request</label>
        </rules>
        <rules>
            <name>Civic_Engagement_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civic Engagement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNotSetup</targetReference>
            </connector>
            <label>Civic Engagement Request</label>
        </rules>
        <rules>
            <name>Office_Management_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrOffice_Request</targetReference>
            </connector>
            <label>Office Management Team</label>
        </rules>
        <rules>
            <name>Skunkworks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skunkworks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skunkworks_Work_Request</targetReference>
            </connector>
            <label>Skunkworks</label>
        </rules>
        <rules>
            <name>outProduct_Management</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Product Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Product Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCS_Product_Management</targetReference>
            </connector>
            <label>Product Management</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tech team decision is needed so that the BizApps teams can be combined into a single &quot;Business Applications&quot; choice.</description>
        <name>Is_this_a_Technology_team</name>
        <label>Is this a Technology team?</label>
        <locationX>810</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>scrWhat_team_is_this_request_for</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_a_tech_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWhat_team_is_this_request_for_tech</targetReference>
            </connector>
            <label>Yes, it&apos;s a tech team</label>
        </rules>
    </decisions>
    <description>Flow used to create cases or work items for the product team</description>
    <dynamicChoiceSets>
        <name>drcBizAppsAcqAdmin</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Team_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>inpWhat_team_is_this_request_for_tech</elementReference>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varProduct_tag</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail_to_Case_Address</assignToReference>
            <field>Team_Email_to_Case_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamQueueID</assignToReference>
            <field>Team_Queue_Id__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcProductTag</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Exclude_from_Work_Request_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varProduct_tag</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BizApps - Admin &amp; Acquisition</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BizApps - Servicing</stringValue>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>agf__ADM_Scrum_Team__c</object>
        <outputAssignments>
            <assignToReference>varEmail_to_Case_Address</assignToReference>
            <field>Email_to_Case_Email_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamQueueID</assignToReference>
            <field>agf__Team_Queue_ID__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>agf__Priority__c</picklistField>
        <picklistObject>agf__ADM_Work__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>forCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>forCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} +&quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Increments the due date by 12 hours to handle time zones</description>
        <name>forDueDate_plus_12</name>
        <dataType>DateTime</dataType>
        <expression>{!varDueDate} + 12/24</expression>
    </formulas>
    <formulas>
        <name>forImprovementDesc_CSPrd</name>
        <dataType>String</dataType>
        <expression>&quot;As a &quot; &amp; {!inpAs_a_CSPrd} &amp; &quot; I want &quot; &amp; {!inpI_want_CSPrd} &amp; &quot; so that &quot; &amp; {!inpso_that_CSPrd} &amp; &quot;    Additional Details: &quot; &amp; {!inpOther_Details_CSPrd}</expression>
    </formulas>
    <formulas>
        <name>forImprovementDescriptionProd</name>
        <dataType>String</dataType>
        <expression>&quot;As a &quot; &amp; {!scrAs_a_Prod} &amp; &quot; I want &quot; &amp; {!scrI_want_Prod} &amp; &quot; so that &quot; &amp; {!scrso_that_Prod} &amp; &quot;    Additional Details: &quot; &amp; {!scrOther_Details_Prod}</expression>
    </formulas>
    <formulas>
        <name>forListofFiles</name>
        <dataType>String</dataType>
        <expression>BR() &amp; {!varCurrentFileName}</expression>
    </formulas>
    <formulas>
        <name>forRequestType</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Type} = &quot;Bug&quot;,&quot;case&quot;,&quot;work item&quot;)</expression>
    </formulas>
    <formulas>
        <name>forUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Work Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Request</label>
    <loops>
        <name>loopLoop_through_files</name>
        <label>Loop through files</label>
        <locationX>591</locationX>
        <locationY>1273</locationY>
        <assignNextValueToReference>soContentDocumentLinks</assignNextValueToReference>
        <collectionReference>soContentDocLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rlContentDocName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asgConfirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates work for all request types</description>
        <name>rcCreate_Work</name>
        <label>Create Work - All request types</label>
        <locationX>1485</locationX>
        <locationY>1062</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>varFindChatterGroupId</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date_Description__c</field>
            <value>
                <elementReference>varDueDateDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>varRequestorEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>varRequestorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Due_Date__c</field>
            <value>
                <elementReference>forDueDate_plus_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Priority__c</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <elementReference>varProduct_tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Scrum_Team__c</field>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <description>Fault actions is used for users who don&apos;t have access to the case object.</description>
        <name>rcCreateCase</name>
        <label>CreateCase</label>
        <locationX>2223</locationX>
        <locationY>1031</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>asgAttachFiles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Open_support_case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>scrDetails_and_Steps_to_Reproduce_Prod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTeamQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>scrPriority_Prod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_tag__c</field>
            <value>
                <elementReference>varProduct_tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120a0000004dlv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>scrSubjectCase_Prod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>flLookup_File_Attachments</name>
        <label>Lookup File Attachments</label>
        <locationX>663</locationX>
        <locationY>1119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLoop_through_files</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>soContentDocLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>rlContentDocName</name>
        <label>Lookup Content Doc Name</label>
        <locationX>423</locationX>
        <locationY>1059</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgFileNames</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputAssignments>
            <assignToReference>varCurrentFileName</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlFind_Contact_Id_for_User</name>
        <label>Find Contact Id for User</label>
        <locationX>269</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_group_is_your_request_for</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forCurrentUserId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlRequestor_Email</name>
        <label>rlRequestor_Email</label>
        <locationX>1235</locationX>
        <locationY>940</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rcCreate_Work</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varRequestorEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>varFindChatterGroupId</name>
        <label>varFindChatterGroupId</label>
        <locationX>1328</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decFoundChatterGroupId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct_tag</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varChatterGroupId</assignToReference>
            <field>Chatter_Group_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>scrAttachFiles</name>
        <label>Attach Files</label>
        <locationX>660</locationX>
        <locationY>995</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>flLookup_File_Attachments</targetReference>
        </connector>
        <fields>
            <name>stgAttachFiles</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AttachFiles</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;You can attach files to your new {!forRequestType} below.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFilesImp</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varWorkId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrFileInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;BR/&gt;A list of attached files will be displayed on the confirmation screen.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrBug_Question_or_Data_Change_Prod</name>
        <label>Bug, Question or Data Change</label>
        <locationX>2223</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>rcCreateCase</targetReference>
        </connector>
        <fields>
            <name>caseStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrSubjectCase_Prod</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrDetails_Prod</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;We&amp;apos;ll need some information in order to help. In the Details and Steps to Reproduce section below, please provide as much information about the problem as you can.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;If applicable, please include:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- The steps taken before running into the bug&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- Links to the pages or records where the bug occurred&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- The time at which the bug occurred&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT  &gt;- Screenshots / files should be included on the next screen.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrDetails_and_Steps_to_Reproduce_Prod</name>
            <fieldText>Details and Steps to Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrPriority_Prod</name>
            <choiceReferences>Critical</choiceReferences>
            <choiceReferences>Urgent</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Critical&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Critical production issue affecting all users.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Includes system unavailability and data integrity issues with no workaround available.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Urgent&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Major functionality is impacted or significant performance degradation is experienced.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Issue is persistent and affects many users and/or major functionality.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No reasonable workaround available.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;High&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;System performance issue or bug affecting some, but not all users.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Short-term workaround is available, but cannot be scaled.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Medium&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Inquiry or question&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reasonable workaround available&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Resolution required as soon as reasonably practicable.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrCE_Request</name>
        <label>Civic Engagement Request</label>
        <locationX>180</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgCivigEngagementWork</targetReference>
        </connector>
        <fields>
            <name>ceStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlRequest_Type_CE</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWork_Request_Title_CE</name>
            <dataType>String</dataType>
            <fieldText>Work Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_CE</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Files_CE</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrCS_Product_Management</name>
        <label>Product Management</label>
        <locationX>370</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgAssign_CS_Prod_Mgmt_variables</targetReference>
        </connector>
        <fields>
            <name>CSPrdStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpSubject_CSPrd</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpCategory_CSPrd</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpAs_a_CSPrd</name>
            <dataType>String</dataType>
            <fieldText>As a...</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpI_want_CSPrd</name>
            <fieldText>I want...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpso_that_CSPrd</name>
            <fieldText>so that...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpOther_Details_CSPrd</name>
            <fieldText>Other Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dispAttachFiles_CSPrd</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpRequestor_CSPrd</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>forCurrentUserName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requestor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>IsActive = TRUE AND License_Type__c = &apos;Standard&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRequestorId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrImprovement_Prod</name>
        <label>Improvement</label>
        <locationX>1999</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgAssign_Product_variables</targetReference>
        </connector>
        <fields>
            <name>impStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>disImprovementInstructions_Prod</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Product improvement requests should be ready for implementation - that means they should have the approval of your team, and if appropriate, our Legal and Compliance Department. Contracts and other documents should not be submitted until the have been approved for use by our Legal team.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrSubjectImp_Prod</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrAs_a_Prod</name>
            <dataType>String</dataType>
            <fieldText>As a...</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>User Type or Role e.g. Loan Applicant, CS Subscriber, Operations user</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrI_want_Prod</name>
            <fieldText>I want...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What do you want to do?</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrso_that_Prod</name>
            <fieldText>so that...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What&apos;s your desired outcome?</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrOther_Details_Prod</name>
            <fieldText>Other Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AttachFiles_Prod</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;You&amp;apos;ll be able to attach files in the next screen.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpRequestor</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requestor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>IsActive = TRUE AND License_Type__c = &apos;Standard&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>forCurrentUserName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRequestorId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrImprovementCreated</name>
        <label>Confirmation</label>
        <locationX>1771</locationX>
        <locationY>1315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>stgConfirmation1</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseCreated_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Your {!forRequestType} has been created and can be viewed in Salesforce &lt;A HREF=&quot;/{!varWorkId}&quot; TARGET=&quot;_blank&quot;&gt;here.&lt;/A&gt;&lt;/DIV&gt;&lt;BR&gt;Attached Files: {!varFileNames}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrIT_Work_Request</name>
        <label>IT Suggestions</label>
        <locationX>1007</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAssign_IT_variables</targetReference>
        </connector>
        <fields>
            <name>itStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispIT_Suggestion</name>
            <fieldText>Please note this is for ideas/suggestions only. You should still contact GreenPages for any support requests.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpTitle_IT</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_IT</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpType_IT</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Files_IT</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrLegal_Work_Request</name>
        <label>Legal &amp; Compliance Work Request</label>
        <locationX>1525</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decHardDelivDateLegal</targetReference>
        </connector>
        <fields>
            <name>lglStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispAttnyClient_Legal</name>
            <fieldText>Attorney Client Communication - Privileged and Confidential

P4 = Lowest Priority  P0 = Highest Priority</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlProductTag_Legal</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpTitle_Legal</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrSupervisor_Name_Lgl</name>
            <dataType>String</dataType>
            <fieldText>If you&apos;ve discussed with your supervisor, please provide their name.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inpDescription_Legal</name>
            <fieldText>Please describe your request in detail. Please call legal to convey confidential or sensitive information. If this is an NDA, please explain whether we are receiving and/or sharing sensitive/confidential information, and the types of sensitive/confidential information that will be involved. Irrespective of any NDA executed, no consumer or customer information should be shared without first discussing the request with Legal &amp; Compliance.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrHardDeliveryDate</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does this request have a hard delivery date? If so, we&apos;ll capture more details in the next screen.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varHardDelivDate_Legal</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Files_Legal</name>
            <fieldText>You&apos;ll also be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrLegal_Work_Request_0</name>
        <label>Legal &amp; Compliance Work Request</label>
        <locationX>1586</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAssign_Legal_variables</targetReference>
        </connector>
        <fields>
            <name>lglStages_0</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDelivery_Date_Legal</name>
            <dataType>Date</dataType>
            <fieldText>What is the required/realistic delivery date for completing this work?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;B&gt;Your requested delivery date must be in the future and a reason is required for the requested date.&lt;/B&gt;</errorMessage>
                <formulaExpression>LEN({!inpDelivery_Date_Reason_Legal})&gt;1 &amp;&amp; {!inpDelivery_Date_Legal} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>inpDelivery_Date_Reason_Legal</name>
            <fieldText>What is driving this delivery date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Your text input must be less than 255 characters.</errorMessage>
                <formulaExpression>LEN({!inpDelivery_Date_Reason_Legal}) &lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Files_Legal_0</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrMarketing_Work_Request</name>
        <label>Marketing Work Request</label>
        <locationX>1308</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAssign_Marketing_variables</targetReference>
        </connector>
        <fields>
            <name>mktgStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlBusiness_Line_Mktg</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWork_Request_Title_Mktg</name>
            <dataType>String</dataType>
            <fieldText>Work Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_Mktg</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateReq_date_Mktg</name>
            <dataType>Date</dataType>
            <fieldText>What is the requested date?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter a request date in the future and a reason for the date.</errorMessage>
                <formulaExpression>LEN({!inpWhat_is_driving_this_date_Mktg})&gt;1 &amp;&amp; {!dateReq_date_Mktg} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>inpWhat_is_driving_this_date_Mktg</name>
            <fieldText>What is driving this date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter less than 255 characters in this field.</errorMessage>
                <formulaExpression>len({!inpWhat_is_driving_this_date_Mktg}) &lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>dispMktgDisclaimer</name>
            <fieldText>Once assigned we will follow up to confirm ability to meet this requested date.

Note: Requests needing Legal Review will need minimum 1 week for approval.

You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNotSetup</name>
        <label>Team not setup</label>
        <locationX>1481</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outNoTeam</name>
            <fieldText>This team has not been setup in the request tool. Please contact productsupport@bluewavesolar.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrOffice_Request</name>
        <label>Office Management Work Request</label>
        <locationX>1205</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAssign_Office_Mgmt_variables</targetReference>
        </connector>
        <fields>
            <name>ofcStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlRequest_Type_Office</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWork_Request_Title_Office</name>
            <dataType>String</dataType>
            <fieldText>Work Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_Office</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpRequest_Date_Ofc</name>
            <dataType>Date</dataType>
            <fieldText>If applicable, please enter a due date.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter a reason for the due date.</errorMessage>
                <formulaExpression>LEN({!inpRequest_Date_Reason_Ofc})&gt;1 &amp;&amp; {!inpRequest_Date_Ofc} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>inpRequest_Date_Reason_Ofc</name>
            <fieldText>What is the reason for this request date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Your description must be less than 255 characters.</errorMessage>
                <formulaExpression>LEN({!inpRequest_Date_Reason_Ofc})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Files_Office</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrOps_Work_Request</name>
        <label>Ops Work Request</label>
        <locationX>738</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgOps_Variable_Assignments</targetReference>
        </connector>
        <fields>
            <name>opsStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlProduct_Line_Ops</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispOpsPriorities</name>
            <fieldText>P4 = Lowest Priority  P0 = Highest Priority</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlPriority_Ops</name>
            <choiceReferences>pcPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>What is the priority of your request?                                                                  

P1 = Stop everything and do this now                                                  P2 = Make this a priority on top of whatever you were going to do next
P3 = This needs to get done but don&apos;t interrupt regular work queue
P4 = This would be nice to have</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWork_Request_Title_Ops</name>
            <dataType>String</dataType>
            <fieldText>Work Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDescription_Ops</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateReq_date_Ops</name>
            <dataType>Date</dataType>
            <fieldText>What is the requested date?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDue_Date_Desc_Ops</name>
            <fieldText>What is driving this due date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Your description must be less than 255 characters.</errorMessage>
                <formulaExpression>LEN({!inpDue_Date_Desc_Ops}) &lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Files_Ops</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrProduct_Team_Request</name>
        <label>Tech Team Request</label>
        <locationX>1723</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decBug_or_Improvement</targetReference>
        </connector>
        <fields>
            <name>prdStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Bug</choiceReferences>
            <choiceReferences>Improvement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>Bugs are features or processes that are not working the way they were designed.  Anything outside of that categorization should be submitted as an improvement.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_selection</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <choiceReferences>drcBizAppsAcqAdmin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What&apos;s the best category for your request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrWhat_team_is_this_request_for</name>
        <label>What team is this request for?</label>
        <locationX>1049</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgSet_Stage_to_Enter_Details</targetReference>
        </connector>
        <fields>
            <name>Stage</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpTeam</name>
            <choiceReferences>drcTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What team is this work request for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrWhat_team_is_this_request_for_tech</name>
        <label>What team is this request for?</label>
        <locationX>1050</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgSet_Stage_to_Enter_Details</targetReference>
        </connector>
        <fields>
            <name>fsc_TechStage</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpWhat_team_is_this_request_for_tech</name>
            <choiceReferences>drcTeam</choiceReferences>
            <choiceReferences>Business_Applications</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What team is this request for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skunkworks_Work_Request</name>
        <label>Skunkworks Work Request</label>
        <locationX>536</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAssign_SW_variables</targetReference>
        </connector>
        <fields>
            <name>swStages</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpTitle_SW</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dlTopic_SW</name>
            <choiceReferences>drcProductTag</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispSWPriorities</name>
            <fieldText>P4 = Lowest Priority  P0 = Highest Priority</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpPriority_SW</name>
            <choiceReferences>pcPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpReqDetail_SW</name>
            <fieldText>Please describe your request in detail:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpRequestor_SW</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requestor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>IsActive = TRUE AND License_Type__c = &apos;Standard&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>forCurrentUserName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRequestorId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inpReqDate_SW</name>
            <dataType>Date</dataType>
            <fieldText>When is the requested date?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpDue_Date_Desc_SW</name>
            <fieldText>What is driving this due date?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dispFiles_SW</name>
            <fieldText>You&apos;ll be able to attach files in the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>What group is your request for?</description>
        <name>What_group_is_your_request_for</name>
        <label>What group is your request for?</label>
        <locationX>487</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgSet_Stage_to_Select_Team</targetReference>
        </connector>
        <fields>
            <name>catStage</name>
            <extensionName>c:BlueWaveFlowStagesField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>stgSelect_Group</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispGroupSelectionText</name>
            <fieldText>&lt;p style=&quot;text-align:center;&quot;&gt;&lt;font size=&quot;5&quot;&gt;What group will be fulfilling your request?&lt;/font&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>categoryPicklist</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>agf__ADM_Scrum_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCategory</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_case_has_been_opened</name>
        <label>Your case has been opened</label>
        <locationX>2607</locationX>
        <locationY>1043</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispCaseOpened</name>
            <fieldText>&lt;p&gt;Your&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!varTeamName} &lt;/span&gt;support case has been opened and you will receive a confirmation email shortly. If you have any files or screen shots that would be helpful in resolving the case, please respond to that email and attach the files.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>stgAttach_Files</name>
        <isActive>true</isActive>
        <label>Attach Files</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>stgConfirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>stgDetails</name>
        <isActive>true</isActive>
        <label>Enter Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>stgSelect_Group</name>
        <isActive>true</isActive>
        <label>Select Group</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stgSelect_Team</name>
        <isActive>true</isActive>
        <label>Select Team</label>
        <stageOrder>5</stageOrder>
    </stages>
    <startElementReference>rlFind_Contact_Id_for_User</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttLegalDescription</name>
        <text>Supervisor Name: {!scrSupervisor_Name_Lgl}

Description: {!inpDescription_Legal}</text>
    </textTemplates>
    <textTemplates>
        <name>ttNewLine</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttNewWorkItem</name>
        <text>@[{!varChatterGroupId}] New improvement created by @[{!forCurrentUserId}]!

{!scrSubjectImp_Prod}</text>
    </textTemplates>
    <variables>
        <name>soContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>soContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>If populated, user has access to case object</description>
        <name>varCaseAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Category selected by the user</description>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDateDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail_to_Case_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHardDelivDate_Legal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct_tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Default record type ID = User Story</description>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012j0000000uhAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRequestorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forUserEmail</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRequestorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forCurrentUserId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSupervisorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comes from Product Tag --&gt; Team field, used to assign cases to queue</description>
        <name>varTeamQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
