src/flows/Recalculate_Subscriptions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Subscription_Orders</name>
        <label>Invoke Subscription Orders</label>
        <locationX>1361</locationX>
        <locationY>241</locationY>
        <actionName>InvocableSizingMethodRecalculation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>uasList</name>
            <value>
                <elementReference>RateClassUASes</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_UAS_to_RateClassUASes</name>
        <label>Add UAS to RateClassUASes</label>
        <locationX>1148</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>RateClassUASes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UAS_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UAS_Sizing_Method</name>
        <label>Update UAS Sizing Method</label>
        <locationX>1023</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>UAS.Sizing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sizingMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UAS_to_RateClassUASes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other Choice</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>UpdateRateClass</name>
        <choiceText>Update Rate Class</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Check to see if the Opportunity&apos;s Product is &quot;Rate Class Rate&quot; or &quot;Project Rate&quot;</description>
        <name>Check_Sizing_Method</name>
        <label>Check Sizing Method</label>
        <locationX>1008</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_Class_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UAS.Opportunity__r.Product__r.Sizing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate Class Ratio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UAS_Sizing_Method</targetReference>
            </connector>
            <label>Rate Class Rate</label>
        </rules>
        <rules>
            <name>Project_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UAS.Opportunity__r.Product__r.Sizing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Ratio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UAS_Loop</targetReference>
            </connector>
            <label>Project Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recalculate_Options</name>
        <label>Recalculate Options</label>
        <locationX>598</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Rate_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateRateClass</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rate_Class_Screen</targetReference>
            </connector>
            <label>Update Rate Class</label>
        </rules>
    </decisions>
    <interviewLabel>Recalculate Subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalculate Subscriptions</label>
    <loops>
        <name>UAS_Loop</name>
        <label>UAS Loop</label>
        <locationX>1085</locationX>
        <locationY>228</locationY>
        <assignNextValueToReference>UAS</assignNextValueToReference>
        <collectionReference>getUASes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sizing_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UASes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRateClassRecord</name>
        <label>getRateClass</label>
        <locationX>753</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateUAL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRateClass</elementReference>
            </value>
        </filters>
        <object>Rate_Class__c</object>
        <outputAssignments>
            <assignToReference>sizingMethod</assignToReference>
            <field>Utility_NMC_Tariff__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUAL</name>
        <label>getUAL</label>
        <locationX>178</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUASes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utility_Account_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUASes</name>
        <label>getUASes</label>
        <locationX>303</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recalculate_Subscriptions</targetReference>
        </connector>
        <filters>
            <field>Utility_Account_Log__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Subscription__c</object>
        <sortField>Future_Customer_Subscription_KWDC_Rollup__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UASes</name>
        <label>Update UASes</label>
        <locationX>1215</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Invoke_Subscription_Orders</targetReference>
        </connector>
        <inputReference>RateClassUASes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUAL</name>
        <label>UpdateUAL</label>
        <locationX>903</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>UAS_Loop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Utility_Rate_Class__c</field>
            <value>
                <elementReference>newRateClass</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account_Log__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1371</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Uh-oh! Unfortunately something went wrong while trying to update the subscriptions. Business Application has been notified.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hang on tight while we try to get it figured out!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1563</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The subscription(s) have been updated, click Finish to exit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Options for recalculation:
- Update UAL&apos;s Rate Class
- Update Annual Usage (kWh or Cost)
- Change SSS</description>
        <name>Recalculate_Subscriptions</name>
        <label>Recalculate Subscriptions</label>
        <locationX>443</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recalculate_Options</targetReference>
        </connector>
        <fields>
            <name>StartInstructions</name>
            <fieldText>&lt;p&gt;Below you will find all subscriptions associated with this Utility Account. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What would you like to update for this customer&apos;s Utility Account? (More options to come!) &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_option</name>
            <choiceReferences>UpdateRateClass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UAL_Info</name>
            <fieldText>&lt;p&gt;Utility Account Log: &lt;b&gt;{!getUAL.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Rate Class: &lt;b&gt;{!getUAL.Utility_Rate_Class__r.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Annual Cost: &lt;b&gt;{!getUAL.Annual_Cost_of_Electricity__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Annual kWh: &lt;b&gt;{!getUAL.Annual_kWh__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UASList</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom2</name>
                <value>
                    <elementReference>getUASes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>UAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Next_Schedule_Z_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Shared_Solar_System_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Shared Solar System</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Subscribed Annual kWh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Annual_Cost_Future_Rollup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Subscribed Annual Cost</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Annual_kWh_Subscription_Future_Rollup__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Rate_Class_Screen</name>
        <label>Update Rate Class Screen</label>
        <locationX>623</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRateClassRecord</targetReference>
        </connector>
        <fields>
            <name>Select_Rate_Class</name>
            <fieldText>&lt;p&gt;Current Rate Class: &lt;b&gt;{!getUAL.Utility_Rate_Class__r.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select the new Rate Class. If the associated subscriptions have a &quot;Rate Class Ratio&quot; product (ie SMART), subscription orders will be created to capture any subscription changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getRateClass</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Utility_Rate_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Rate Class</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Utility_Account_Log__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newRateClass</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getUAL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newRateClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateClassUASes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sizingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Log__c</objectType>
    </variables>
    <variables>
        <name>UAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Subscription__c</objectType>
    </variables>
</Flow>
