src/flows/SSSO_Creation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_SSSO</name>
        <label>Approval_SSSO</label>
        <locationX>816</locationX>
        <locationY>201</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scr_Finish</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>sov_SSSO.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>choice_SystemSize</name>
        <choiceText>System Size kW DC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_SystemSize</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yield</name>
        <choiceText>Yield</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yield</stringValue>
        </value>
    </choices>
    <interviewLabel>SSSO Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSSO Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SSSO</name>
        <label>Create_SSSO</label>
        <locationX>815</locationX>
        <locationY>65</locationY>
        <assignRecordIdToReference>sov_SSSO.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Approval_SSSO</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Solar_System__c</field>
            <value>
                <elementReference>sov_SSS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_System_Size_kW_DC__c</field>
            <value>
                <elementReference>varNew_System_Size_kW_DC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yield__c</field>
            <value>
                <elementReference>varNew_System_Yield</elementReference>
            </value>
        </inputAssignments>
        <object>Shared_Solar_System_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_SSS</name>
        <label>lookup_SSS</label>
        <locationX>103</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Intro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SSSID</elementReference>
            </value>
        </filters>
        <object>Shared_Solar_System__c</object>
        <outputReference>sov_SSS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>scr_Comments</name>
        <label>Comments</label>
        <locationX>509</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrReview</targetReference>
        </connector>
        <fields>
            <name>txt_Comments</name>
            <fieldText>&lt;p&gt;In the comments field below, enter an explanation of the update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Enter_Updated_Values</name>
        <label>Enter Updated Values</label>
        <locationX>336</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Comments</targetReference>
        </connector>
        <fields>
            <name>txt_NewValues</name>
            <fieldText>&lt;p&gt;Enter in the values that you want to update on the Shared Solar System. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varNew_System_Yield</name>
            <dataType>Number</dataType>
            <fieldText>New System Yield</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_Yield</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varNew_System_Size_kW_DC</name>
            <dataType>Number</dataType>
            <fieldText>New System Size kW DC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_SystemSize</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Finish</name>
        <label>Finish</label>
        <locationX>811</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Finish</name>
            <fieldText>&lt;p&gt;Your Shared Solar System Order has been created and submitted for approval. &lt;a href=&quot;/{!sov_SSSO.Id}&quot; target=&quot;_blank&quot;&gt;Click here to view.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Intro</name>
        <label>scr_Intro</label>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Enter_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>txtInfo</name>
            <fieldText>&lt;p&gt;Shared Solar System Orders are used to update the Yield and Total System Size kW DC field on Shared Solar Systems that are in the Acquisition and Management stages.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When we change these fields on an &quot;Active&quot; Shared Solar System, we need to update all of our customer&apos;s subscriptions to reflect those new inputs. That will happen automatically once the Shared Solar System gets Approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below, select the Shared Solar System field you&apos;d like to update:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Field_to_Update</name>
            <choiceReferences>choice_SystemSize</choiceReferences>
            <choiceReferences>choice_Yield</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Fields you want to update:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrReview</name>
        <label>Review</label>
        <locationX>695</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SSSO</targetReference>
        </connector>
        <fields>
            <name>txt_Review</name>
            <fieldText>&lt;p&gt;The last step is to submit the Shared Solar System Order for approval. Review the information below. If you want to make any changes, use the &quot;Previous&quot; button.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Shared Solar System&lt;/b&gt;: {!sov_SSS.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_ConfirmYield</name>
            <fieldText>&lt;p&gt;&lt;b&gt;New System Yield&lt;/b&gt;: {!varNew_System_Yield}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>choice_Yield</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_ConfirmSystemSize</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;New System Size (kW DC)&lt;/b&gt;: {!varNew_System_Size_kW_DC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Field_to_Update</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SystemSize</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_ConfirmComments</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Comments&lt;/b&gt;: {!varComments}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click the &quot;Next&quot; button to create the Shared Solar System Order and submit it for Approval. Once it&apos;s been approved, the Shared Solar System and related subscriptions will be automatically updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookup_SSS</startElementReference>
    <status>Active</status>
    <variables>
        <name>picklistval_Yield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yield</stringValue>
        </value>
    </variables>
    <variables>
        <name>sov_SSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System__c</objectType>
    </variables>
    <variables>
        <name>sov_SSSO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shared_Solar_System_Order__c</objectType>
    </variables>
    <variables>
        <name>var_SSSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
