src/flows/User_Story_Create_Before_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>223</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Project.Default_Copado_Project_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.copado__Org_Credential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDefaultOrgCredential</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>forDefaultOrgCredential</name>
        <dataType>String</dataType>
        <expression>{!$User.Default_Org_Credential_ID__c}</expression>
    </formulas>
    <interviewLabel>User Story: Create, Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story: Create / Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Project</name>
        <label>Get Default Project</label>
        <locationX>218</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Values</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System_Defaults</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Default_Project</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
